[2021-05-01 02:15] alokan commented on #419
Yes, those are correct. Did you set up GT_API_REDDIT_PASSWORD as well?

[2021-05-01 02:47] arisliang commented on #419
What is the password for? Not just client id and secret?

[2021-05-01 02:51] alokan commented on #419
For the api call to work properly it needs your reddit password.

[2021-05-01 02:52] arisliang commented on #417
Yeah, I'm sure the account number and keys are correct. Although is there something on Oanda we could give sufficient authorization to these keys? I suspect some additional Oanda configuration for these keys are needed.

[2021-05-01 02:57] arisliang commented on #419
After filling up the reddit password, it works now. Thanks!

[2021-05-01 02:57] #419 closed

[2021-05-01 02:58] alokan commented on #417
No, there isn't anything on Oanda that you need to change. Are you using a live account?

[2021-05-01 03:19] arisliang commented on #417
Yes, it's a live account. I just generated a new token from the account, doesn't help. I use the account and key with a previously working script, it wasn't working either. I contact Oanda support, see if they can help to check.

[2021-05-01 04:05] arisliang opened #420 "[Bug] fa->sust error: The truth value of a DataFrame is ambiguous"
**Describe the bug**
Running fa-> sust command gives error:

**To Reproduce**
1. load any ticker, e.g. MSFT
2. fa
3. sust
4. error

**Screenshots**
![image](https://user-images.githubusercontent.com/1115503/116770317-7b368c00-aa75-11eb-90d0-642bab401535.png)

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - Python version: 3.6.13

[2021-05-01 04:22] arisliang opened #421 "Unable to run dd->rating, how to specify FMP key?"
**Describe the bug**
Unable to run dd->rating

**To Reproduce**
1. load any ticker, e.g. MSFT
2. dd
3. rating
4. error

**Screenshots**
![image](https://user-images.githubusercontent.com/1115503/116770603-cbaee900-aa77-11eb-85ba-b7bc027dfa83.png)

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - Python version: 3.6.13

**Additional context**
How to specify FMP key? I

[2021-05-01 04:29] alokan commented on #421
Set the GT_API_KEY_FINANCIALMODELINGPREP environment variable, or change API_KEY_FINANCIALMODELINGPREP in config_terminal.

[2021-05-01 04:36] arisliang opened #423 "[IMPROVE] Cache on long-running command"
**What's the feature that should be improved?**
Some command takes longer time to run, e.g. dd->dp, which might take 1.5 minute or so.

It would be nice if it can be cached to some period of time, especially after market close, to improve those long-running command's performance.

**Describe how you would like the feature improved**
The first command run would still take that long, but subsequent

[2021-05-01 04:41] arisliang opened #424 "[Bug] Unable to run op> chains: Error in request.get"
**Describe the bug**
A clear and concise description of what the bug is.
Unable to run op> chains. It gives this error:

'NoneType' object is not subscriptable

**To Reproduce**
Steps(from the start) and commands to reproduce the behavior
1. load ticker, e.g. MSFT
2. op> exp
3. error

**Screenshots**
![image](https://user-images.githubusercontent.com/1115503/116770998-817b3700-aa7a-11eb-85b3-3b467

[2021-05-01 04:45] arisliang commented on #421
Got it, thanks.

[2021-05-01 04:45] #421 closed

[2021-05-01 04:45] alokan commented on #424
GT_TRADIER_TOKEN

https://developer.tradier.com/getting_started

[2021-05-01 04:47] alokan commented on #424
Look through the README and set up all of your keys. Most of these things you're reporting are errors stemming from you not having the api keys set up, and not actually bugs.

[2021-05-01 05:08] arisliang opened #425 "[Bug] Error run op> info: object of type 'NoneType' has no len()"
**Describe the bug**
Error run op> info:

**To Reproduce**
1. load ticker, e.g. MSFT
2. op> info
3. close the browser, which opens up successfully
4. error info appears in terminal

**Screenshots**
![image](https://user-images.githubusercontent.com/1115503/116771458-24818000-aa7e-11eb-89ca-33d503cff70b.png)

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - Python ver

[2021-05-01 05:19] arisliang commented on #424
I couldn't find other tags more suitable. Perhaps improvements?

The README key doesn't indicate which command needs what key, and the error message from the terminal doesn't say which key it's looking for either.

I'm in the process of doing that, but step by step.

[2021-05-01 05:19] #424 closed

[2021-05-01 05:28] alokan commented on #424
Oh, You can use open a blank issue after the list of tags if you want. I didn't know it was making you choose one.

True, but if you're testing everything eventually you'll need them all.

[2021-05-01 05:31] alokan commented on #425
What ticker are you using? is it MSFT? I'm assuming you set up selenium since the browser is opening. Does the browser take you to barchart and show the information when it opens?

[2021-05-01 05:35] arisliang commented on #424
Oh I didn't notice there's a blank issue option, it's so much muted comparing with the big green button for the existing tags.

So far I tested all, but doesn't seem to need Alpha Vantage, Twitter, Polygon

[2021-05-01 05:41] arisliang commented on #425
Yes, I'm using MSFT.

the browser does take it to barchart and show the website.

![image](https://user-images.githubusercontent.com/1115503/116772621-eaff4380-aa82-11eb-9eb3-a1b476a16618.png)

[2021-05-01 05:43] arisliang commented on #425
Oh If I let the browser run long enough until the loading indicator settles, the error is gone.

Looks like it's just the browser is taking time to load. All good now.

[2021-05-01 05:43] #425 closed

[2021-05-01 13:03] swagrisegaming opened #426 "[Bug] The Modules do not work what so ever (READ FOR MORE)"
**Describe the bug**
Ok so the yfinance not importing bug happened to me but I managed to "pip install yfinance" but now it's saying that "ModuleNotFoundError: No module named 'alpha_vantage'" when I pip install this one it keeps on going then it stops working

**To Reproduce**
I followed all your steps correctly, double-checked it and this problem happened again, Idk why the modules will not impo

[2021-05-01 13:31] #420 closed

[2021-05-01 13:31] DidierRLopes commented on #426
Hey @swagrisegaming can you join discord and message me personally? I can help you go through this?

[2021-05-01 13:35] DidierRLopes commented on #417
I've created a Oanda account just to test this Forex menu and didn't have any issue.

I'm gonna change some digits but this is what my OANDA details look like:
[code]

Can you confirm you are setting these correctly?

[2021-05-01 13:37] DidierRLopes commented on #322
Hey @WyattLiu, is this something you could do?

We're always extremely keen on external contributions :)

Otherwise we'll have a look at this sooner or later!

[2021-05-01 14:30] swagrisegaming commented on #426
Yes sure, whats your discord, I'll add it ASAP

[2021-05-01 14:51] arisliang commented on #417
Yeah, what I put looks like these as well (only anonymized).

GT_OANDA_TOKEN=1111111111111111111111111111111-222222222222222222222222222222

[2021-05-01 15:45] DidierRLopes commented on #426
Join the group discord which is on the README, and on the group my name is SexyYear

[2021-05-01 23:48] jmaslek commented on #228
![cryptoimg](https://user-images.githubusercontent.com/18151143/116797645-f455d380-aab5-11eb-8dbb-df257425302d.png)

[2021-05-03 14:00] alokan commented on #417
Is the key a V20 REST API key?

[2021-05-03 15:15] jmaslek commented on #373
Closed #428

[2021-05-03 15:15] #373 closed

[2021-05-03 23:35] jmaslek commented on #374
Im gonna close this on #378 , #428

[2021-05-03 23:35] #374 closed

[2021-05-05 14:24] arisliang commented on #417
Somehow it's working with oanda summary now. Not sure if it's because I did a git pull.

[2021-05-05 14:26] arisliang commented on #417
By the way, I understood from Oanda support their base url for live and practice account are different. So this only works with live account, is it?

[2021-05-05 22:42] #417 closed

[2021-05-09 15:59] avocardio opened #442 "Apple M1 and tensorflow: "illegal hardware instruction""
Hello,

I know this issue has been posted partly on #59, but I still did not get it working after the thread there. It would be really nice if anyone who got the same issue and fixed it could provide a step by step on how they got it working. Im still fairly new to this and it would be really helpful.

[2021-05-18 16:42] aia commented on #426
Assuming this was resolved on Discord.

[2021-05-18 16:42] #426 closed

[2021-05-18 16:44] aia commented on #83
Both DD and Econ have been working very well for a while. Closing.

[2021-05-18 16:44] #83 closed

[2021-05-18 16:45] aia commented on #49
The code has been refactored significantly.

[2021-05-18 16:45] #49 closed

[2021-05-18 16:45] aia commented on #45
Assuming this has been addressed in PR #436

[2021-05-18 16:45] #45 closed

[2021-05-18 19:12] aia commented on #143
We added a Discord chat.

[2021-05-18 19:12] #143 closed

[2021-05-22 03:03] jperkins12 opened #455 "[IMPROVE] Behavioral Analysis menu and other submenus should warn user if no ticker is loaded."
When the user attempts to use behavioral analysis functions without a loaded ticker they are not alerted to this issue. This results in failed attempts at using commands, such as `finbrain`, without a clear indication of the problem.

Here's an example of the current flow:
[code]

Here's an example of a warning that should be shown to the user:

[code]

[2021-05-22 03:19] jperkins12 opened #456 "[Bug] `latest` command fails after using `spectrum`."
**Describe the bug**
In the discovery menu, the `latest` command will throw an error if it is used after the `spectrum` command. The `latest` command works as expected if it is used before calling the `spectrum` command.

**To Reproduce**
[code]

**Screenshots**
<img width="966" alt="image" src="https://user-images.githubusercontent.com/17438718/119213118-c8ed5580-ba71-11eb-9219-30a145b923de.png">

[2021-05-22 14:46] DidierRLopes commented on #172
Hey @kristjanmar,

Have a peek at #454, @jmaslek added an ETF menu based on data from your page.  :)

[2021-05-24 08:28] markoreza opened #460 "Wyckoff and Elliot waves"
Hi,

when I saw this
https://www.youtube.com/watch?v=Lhf_2gJJS1I&t=151s
I said to myself, Well, this could be a good addition to Gamestonk
Terminal. Then I forgot about it.

Today, I saw another Reddit post about Wyckoff, this one showing the
pattern before stock shoots up. It was in the morning, so I can't find it
any more, well, it's my smooth brain. But then, I said to myself:

If all this Wyck

[2021-05-24 12:58] kristjanmar commented on #172
Oh sweet, thanks for letting me know :)

[2021-05-24 22:31] #456 closed

[2021-05-24 22:32] DidierRLopes commented on #455
Closing this since #461 should take care of it!

[2021-05-24 22:32] #455 closed

[2021-05-25 05:57] markoreza opened #464 "GameStonk Terminal - Elliot Waves literature"
Hi,

if you need books on Elliot Wave Theory, go to https://z-lib.org/ and type in "Elliot Wawe"

Thank you!

[2021-05-25 13:44] jmaslek commented on #464
Please comment this on #460

[2021-05-25 13:44] #464 closed

[2021-05-26 01:28] mchow01 opened #465 "[Bug] Wrong API key name for FRED on README.md"
**Describe the bug**
On `README.md` under the "API Keys" table, the variable name for the Federal Reserve Economic Data (FRED) is incorrect.  The README lists `GT_FRED_API_KEY` but it needs to be `GT_API_FRED_KEY` as seen in `gamestonk_terminal/config_terminal.py`

**To Reproduce**
1. Go to https://github.com/GamestonkTerminal/GamestonkTerminal/
2. Take a look at the table "API Keys" https://githu

[2021-05-26 01:37] jmaslek commented on #465
Thanks for the catch!  I am updating this now

[2021-05-26 12:48] jmaslek commented on #464
You opened an "issue" for the feature request yesterday.  Any additional information (ie literature) should be commented there and no opened as a new issue.

[2021-05-26 15:20] markoreza commented on #464
Sorry, I didn't know.

Can you please make everithing as it should be? And I promise that I won't
do anything else.

Thank you, Marko

[2021-05-27 18:09] #465 closed

[2021-05-28 23:31] jmaslek commented on #172
Hey @kristjanmar, thanks for the data!  I was thinking about coding up an etf screener using your overview data.  However it takes > 10 minutes to loop through and request each individually (hope thats not an issue for your server either).  I was curious if you had any ideas for parsing quicker, or if you had a database we could directly query.  Thanks!

[2021-06-01 08:55] kristjanmar commented on #172
Hey @jmaslek I don't think I'm allowed to share the data in that way, I pay for this data from Barchart and Finnhub using their website display licenses.

[2021-06-05 19:38] #442 closed

[2021-06-05 19:45] avocardio opened #487 "Cannot set intervals on plots and "view" (crashes)"
**Describe the bug**
It crashes when trying to view graphs with time intervals. It seems to be some issue with datetime objects?

**To Reproduce**
when trying:

`load -t SPY -s 2021-06-01 -i 30`

and then

`view`

**Screenshots**

![Terminal](https://user-images.githubusercontent.com/74978236/120903584-8a789e80-c60c-11eb-9425-7db7a0b98c5e.png)

**Desktop (please complete the following information)

[2021-06-07 13:27] barrel24 opened #490 "[Bug]"
latest update.

Under ta - summary returns NaN result

[2021-06-07 13:32] jmaslek commented on #490
Can you provide more info?  I just ran it with the latest branch and it works fine.

[2021-06-07 15:31] barrel24 commented on #490
Strange it may just be my terminal I will reinstall it and try again.

thanks

Christopher Emsley

From: jmaslek
Sent: 07 June 2021 14:32
To: GamestonkTerminal/GamestonkTerminal
Cc: barrel24; Author
Subject: Re: [GamestonkTerminal/GamestonkTerminal] [Bug] (#490)

Can you provide more info? I just ran it with the latest branch and it works fine.
—
You are receiving this because you authored the thr

[2021-06-07 15:33] jmaslek commented on #490
If it happens, let me know the ticker and maybe a screenshot.

[2021-06-07 21:24] barrel24 commented on #490
@jmaslek just cone a complete reinstall
 Welcome to Gamestonk Terminal Ape.

What do you want to do?
   help        help to see this menu again
   update      update terminal from remote
   reset       reset terminal and reload configs
   quit        to abandon the program

   clear       clear a specific stock ticker from analysis
   load        load a specific stock ticker for analysis
   quote

[2021-06-07 21:45] barrel24 commented on #490
![gs](https://user-images.githubusercontent.com/84925320/121091578-1e4f9380-c7e2-11eb-933e-2b5a73003530.JPG)

[2021-06-07 21:48] jmaslek commented on #490
I have a hypothesis that the command only works during market hours.  Let me confirm that later.

[2021-06-07 22:08] barrel24 commented on #490
I did try it earlier when market was open and it didn’t work but this was before the reinstall. On discord it was mentioned about the api so will make sure it’s installed properly and I have got a key if I need it although it’s strange it worked without an api before unless finbrain changed something their end. Thanks for your help

[2021-06-07 23:02] jmaslek commented on #490
If you go to the api, the response is

`{"ticker":"GME","name":"Gamestop Corporation","technicalSummary":"NaN"}`

[2021-06-07 23:03] jmaslek commented on #490
Closing since this is the actual API response.

[2021-06-07 23:03] #490 closed

[2021-06-07 23:23] barrel24 commented on #490
So confirmed it’s on finbrain end. Thanks for testing.

[2021-06-09 13:30] #487 closed

[2021-06-13 21:26] universvm opened #497 "[FR] Portfolio Analysis based on csv holdings + XRay"
**What's the problem of not having this feature?**
At the moment the only way to analyse positions is using a supported broker. It is currently impossible to visualise holdings not on these brokers meaning I have to rely on other software to keep track of my portfolio.

Additionally little is done with the portfolio, while a potential nice feature could be the introduction of X-ray like the one mo

[2021-06-14 14:15] jmaslek commented on #497
I like this idea.  Using CSVs should take me no time.

The Xray doesn't seem like would be able to implement it (at least through Morningstar), since the free version requires you to input all your stocks and information.  A report like this would be an amazing feature, but would likely need some community input.

[2021-06-14 16:41] universvm commented on #497
That's great about the CSV.

About the X-Ray feature, I believe something could be done with TradingView. I don't know if they provide an API but for example here:

https://uk.tradingview.com/markets/stocks-usa/sectorandindustry-sector/electronic-technology/

They have all the companies by the electronic technology sector.

But as you say more detailed performance would probably have to be defined

[2021-06-16 05:27] deeleeramone opened #503 "Stockgrid.io data is superior data source, specifically for dark pool data streams."
**What's the feature that should be improved?**
Stockgrid.io data is superior for dark pool data streams and potentially a replacement for all Yahoo data sources.

**Describe how you would like the feature improved**
Searchable by ticker and recall data by specified date window.

**Possibly describe the ideal way to improve this**
Integrate stockgrid.io data points to DD menu after loading ticker

[2021-06-16 15:59] jmaslek commented on #503
Can you specify more what you are looking for?

Stockgrid does not provide an API for their data with resolution options or OHLC data, so it will not be a replacement for yahoo finance (alpha vantage is also implemented with a key).

There is a DD command implementing stock grid (see #496 ).  The darkpool command is specifically designed to fetch FINRA data.

[2021-06-16 16:44] jmaslek commented on #497
I added a simple version of the csv ability and a simple groupby command.  The idea is that you can input your data with whatever metric you want (you could specify MidCap vs HighCap or Growth Value, etc) then the basic command will show your value based on whatever grouping you want (column header).

I went ahead and added sector to the data by default, but in the future I can envision more metri

[2021-06-17 10:40] universvm commented on #497
@jmaslek within 4 days you've implemented a feature. Man you're amazing, thank you so much.

I will give it a try over the weekend and let you know asap

[2021-06-17 17:51] deeleeramone commented on #503
I have been talking with head ape on discord, so I think this nullifies my request. However, I can the FINRA data pulled from darkpool command be queried based on ticker, or other variables?

[2021-06-17 17:59] deeleeramone opened #504 "Options pricing and greek variable data"
**What's the problem of not having this feature?**
The option chain is an important part of the complete picture: pricing, volume, open interest, strike prices, greek variables.

**Describe the solution you would like**
Simple text outputs searchable by ticker, potentially option market symbol, with puts/calls ability to select the week/month of the option chain.

**Describe alternatives you've co

[2021-06-17 18:00] #503 closed

[2021-06-17 18:04] jmaslek commented on #504
There's a whole option menu with chains and Greeks etc.

Load your ticker then use 'op'

[2021-06-18 00:34] deeleeramone commented on #504
Awesome. This did not work for me until I received your email. I updated a bunch of my terminal pip’s and this must have been the source of my confusion. Apologies. Strong work. The public is forever indebted to the creators of this project for bringing knowledge to the people.

[2021-06-18 00:36] #504 closed

[2021-06-19 22:44] phgmacedo commented on #19
While trying to install via the "requirements.txt" using pip, i'm getting the same error.

[2021-06-23 09:54] alexhogset opened #512 "[Bug]"
Trying to install the gamestonkterminal.

![image](https://user-images.githubusercontent.com/79637125/123076566-8eccf600-d419-11eb-9677-3970f253f550.png)

**"gamestonkterminal\gamestonk_terminal\main_helper.py", line 20, in <module>
    import git
ModuleNotFoundError: No module named 'git'"**

**Desktop:**
 - Windows 10
 - Python version 3.9.5 64

Followed these step-by-step:
https://www.youtube.c

[2021-06-23 10:08] jmaslek commented on #512
From the main readme:

`conda install -c anaconda git`

[2021-06-23 16:43] Pranav4399 commented on #181
I'm facing this same issue. Can someone help ?

[2021-06-23 16:44] Pranav4399 opened #513 "Poetry install error"
https://github.com/GamestonkTerminal/GamestonkTerminal/issues/181#issue-832140715. I'm facing this same issue. Can someone help me resolve this ?

[2021-06-23 20:05] DidierRLopes commented on #181
Hey
@chrisg117  and @Pranav4399 did you create the environment with this:

conda env create -n gst --file build/conda/conda-3-8-env.yaml

?

[2021-06-24 07:56] szabi opened #515 "Homepage's "Install" button points to wrong repository"
The Homepage's (https://gamestonkterminal.vercel.app/)

"Installation guide" and
"become a contributor"

buttons still point to the old repository, https://github.com/DidierRLopes/GamestonkTerminal

Maybe also other links in the homepage. EDIT: yeah, it also affects all the menu items.

[2021-06-24 19:25] 7ranceaddic7 commented on #515
Add the GitHub link in the upper-right.

[2021-06-24 20:19] duviful opened #516 "[Bug] Container error git.exc.InvalidGitRepositoryError"
**Describe the bug**
I'm unable to run the docker container.
The build is successful but the container dies instantly with the following error
[code]

using docker-compose up has a very similar results with at the addition of this two lines
[code]

**To Reproduce**
`docker build .`
`docker run -it gamestonkterminal:dev `

**Desktop (please complete the following information):**
 - OS: MacOS 10.15.

[2021-06-25 08:33] darthsahab opened #517 "Get a python error when viewing "warnings" for some companies"
Tried JPM and CB. Both fail. I am sure , based on the error there may be more.

[2021-06-25 12:21] Cao0606 opened #518 "[IMPROVE]"
**What's the feature that should be improved?**
A description of what's the feature you want improved, and a bit of context (why is that).

**Describe how you would like the feature improved**
A description of what the current feature is vs what it would be after your suggestion.

**Possibly describe the ideal way to improve this**
If you have thought about how you would do it, add it here.

**Add

[2021-06-25 12:22] #518 closed

[2021-06-25 21:29] DidierRLopes commented on #517
This is because the source doesn't contain EBITDA.

Check: https://www.marketwatch.com/investing/stock/JPM/financials/income

[2021-06-26 00:00] DidierRLopes commented on #516
can you try to "pip install gitpython" ?

[2021-06-26 00:03] DidierRLopes commented on #515
@jose-donato has made the repo available here https://github.com/GamestonkTerminal/landing-page so from now onwards everyone will also be able to improve the code of the browser!

@jose-donato I can close this ticket right?

[2021-06-26 00:04] DidierRLopes commented on #513
Did you try to do with "pip install" ?

[2021-06-26 00:04] DidierRLopes commented on #512
@alexhogset did this work?

[2021-06-27 10:03] DidierRLopes commented on #517
#519 outputs a nice warning for this. The reason for it is that MarketWatch doesn't contain the financial row necessary to check the warnings.

[2021-06-27 10:03] #517 closed

[2021-06-27 10:03] DidierRLopes commented on #512
Closing this issue, as @jmaslek suggestion should have fixed it

[2021-06-27 10:03] #512 closed

[2021-06-27 10:04] DidierRLopes commented on #515
This has been fixed now :)

[2021-06-27 10:04] #515 closed

[2021-06-27 12:12] alexhogset commented on #512
Thanks!

søn. 27. jun. 2021 kl. 12:03 skrev DidierRLopes ***@***.***>:

--

Mvh.
Alexander Igesund Høgset
+47 90 29 95 10

[2021-06-27 12:15] 3dhistory opened #522 "RuntimeError: module compiled against API version 0xe but this version of numpy is 0xd"
Hello,
I am toying around with the terminal but get above error followed by "ImportError: numpy.core.multiarray failed to import" on start using numpy 1.19.5. With numpy 1.21.1 installed via "pip install numpy -I" the terminal opens with some numpy .dll warnings but seems to work OK.

However, tensorflow 2.5 doesn't like numpy 1.21.1 or 1.20.2 as suggested in the troubleshoot page.  PRED  ends up

[2021-06-27 13:23] 3dhistory commented on #522
I forgot. I am using Python 3.9.5 and Gamestonk in a virualenv.

[2021-06-27 22:19] aia commented on #522
Try following the same steps for the setup that we have in the continuous integration - https://github.com/GamestonkTerminal/GamestonkTerminal/runs/2924700399?check_suite_focus=true

[2021-06-27 22:29] aia commented on #513
If Poetry gives you problems (which happens on Windows) go with the

[code]

https://github.com/GamestonkTerminal/GamestonkTerminal/pull/523

[2021-06-27 22:46] #513 closed

[2021-06-28 14:02] sbstn87 opened #524 "Make installation more user-friendly"
Hi,

is it possible to make the installation process more user-friendly? Like creating a traditional Windows installer or an executable with the pyinstaller library? Maybe a fllatpak release for Linux?

[2021-06-28 19:07] duviful commented on #516
I did install that on my local machine:
`Installing collected packages: smmap, gitdb, gitpython`

after I run again the following:
`docker build .`
`docker run -it gamestonkterminal:dev`

result is still the same

[code]

[2021-06-29 21:23] bam607 opened #527 "[Bug]"
`(gst) C:\Users\Bam60\GamestonkTerminal>
(gst) C:\Users\Bam60\GamestonkTerminal>python terminal.py
Traceback (most recent call last):
  File "C:\Users\Bam60\anaconda3\envs\gst\lib\site-packages\git\__init__.py", line 87, in <module>
    refresh()
  File "C:\Users\Bam60\anaconda3\envs\gst\lib\site-packages\git\__init__.py", line 76, in refresh
    if not Git.refresh(path=path):
  File "C:\Users\Bam

[2021-06-29 21:55] bam607 commented on #527
Not sure how to get past this problem. I'm also a python Noob.

[2021-06-29 22:07] DidierRLopes commented on #527
I'm gonna remove git dependence, more users are having this issue and the reason is still unknown. I'll let you know in here when it should not fail anymore.

In the meantime, if you want to still be able to install the terminal you can do the following:

Edit the file `gamestonk_terminal/main_helper.py` by removing this line `import git` and also removing this
[code]

Join our discord if you need

[2021-06-29 22:30] bam607 commented on #527
That seemed to do the trick! Thank you! And I've joined the Discord, I'll keep in touch!

[2021-06-29 23:23] DidierRLopes commented on #516
Can you try now? I'm closing this ticket as #526 should fix this. If it doesn't just re-open this ticket please! Thanks!

[2021-06-29 23:23] #516 closed

[2021-06-29 23:24] DidierRLopes commented on #527
#526 should fix this now. It basically does what I asked you to do here. Hence, closing this ticket.

[2021-06-29 23:24] #527 closed

[2021-07-01 12:59] duviful commented on #516
works now. thanks.

[2021-07-20 20:38] jmaslek commented on #88
#556 this addressed the original idea of making trivial requests to defined API keys (not mocking the requests as a purest_

[2021-07-20 20:38] #88 closed

[2021-07-26 03:26] chaychoong opened #571 "[IMPROVE] Publish dockerfile"
It will be sweet to be able to run this by simply (if one has docker) typing

[code]

To do this, we'll need to

- [ ] Agree on a release flow (can just do it by tagging branches to start off with)
- [ ] Create a github actions workflow to build and publish the docker image to github's container registry
- [ ] Modify README with the relevant instructions
- [ ] Publish the first release

[2021-07-30 22:07] franz101 opened #579 "[FR] Earnings Transcript"
Is it possible to fetch earnings transcripts like in seeking alpha?

[2021-07-31 02:48] jmaslek commented on #579
Like https://seekingalpha.com/symbol/AAPL/earnings/transcripts?   Are you requesting we do something that prints the transcript?  (example:

[code]
)

Or just something that would look at the 10Q forms for example?

[2021-08-03 05:26] bigeaz opened #638 "[Bug]"
**Describe the bug**
A clear and concise description of what the bug is.
"No module named 'sentipy.sentipy'"
**To Reproduce**
Steps(from the start) and commands to reproduce the behavior
When I run "python terminal.py" in the cmd screen I get this error.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![sentipy sentipy error](https://user-images.githubusercontent.com/

[2021-08-03 08:39] DidierRLopes commented on #638
Did you do poetry install or pip install -r requirements.txt?

I think you can do "pip install sentiment-investor" to fix this. Let me know if it worked!

[2021-08-03 08:47] dancost commented on #638
I see 2 problems here:
1. You're trying to install sentipy.sentypy - pip install sentipy should be enough.
2. You're doing pip install _after_ deactivating the "gst" virtual environment. Why?

This looks you did not "pip install -r requirements.txt" while "gst" virtual env was active, and this is causing your issue.

This is not a bug, in my opinion.

[2021-08-03 14:22] jmaslek commented on #638
So I will slightly piggyback.

1) sentipy is the package.  It actually looks like an alias for sentiment-investor (https://github.com/sentimentinvestor/sentipy)  sentipy. sentipy imports `sentipy` from that package (yes-kind of redundant).

The previous comment nailed it.  You need to do your installs while the environment is activated or else when you activate the env, it has no idea what you jus

[2021-08-03 14:22] #638 closed

[2021-08-03 18:02] DidierRLopes commented on #571
@aia is working on this. Feel free to contribute!

[2021-08-03 18:03] DidierRLopes commented on #524
This is definitely our priority number 1. This would make our user base to grow quite substantially, as this is still a bottleneck for multiple users.

[2021-08-04 01:41] bigeaz commented on #638
Thank you this worked!

[2021-08-07 13:06] jmaslek commented on #172
@kristjanmar We noticed you guys changed up your website (due to some flawed design with the terminal, it crashed the terminal because the scraping failed).  I am trying to rewrite the scraping of your ETF stuff and for getting all the symbols, I only get the first 500.  Playing around I noticed all your ETFS come from an etf.json: (URL: https://stockanalysis.com/_next/data/7MjLxqXW9_Sr_UQ9mqQxJ/e

[2021-08-07 13:18] kristjanmar commented on #172
Sorry about that, I just moved my site over to React/NextJS but still using the old site's WordPress backend for the data.

The old site is now running at api.stockanalysis.com. It is noindexed but can be accessed and is still updating with fresh data.

So if you change the URLs to the api. subdomain then the original functions should work just as before.

[2021-08-07 15:09] jmaslek commented on #172
Awesome!  Thanks for the quick reply and the information!

[2021-08-08 03:06] devwolff commented on #417
I'm using an practice account. So I changed environment from "live" -> "practice". I also got "Insufficient authorization to perform request".

Just double checking.. So the code on oanda only work with "live" account?

I tried below with my practice account

[code]

and it works fine.

[2021-08-08 03:16] devwolff opened #650 "oanda practice account - Insufficient authorization to perform request"
I'm using an practice account. So I changed environment from "live" -> "practice". I also got "Insufficient authorization to perform request".

Just double checking.. So the code on oanda only work with "live" account?

I tried below with my practice account

[code]

and it works fine.

_Originally posted by @devwolff in https://github.com/GamestonkTerminal/GamestonkTerminal/issues/417#issuecommen

[2021-08-08 13:28] DidierRLopes commented on #650
I just created an account to test the Oanda menu a long time ago, and it has since expired the free trial.

Could you add a flag on `config_terminal.py` like:
[code]

And then
`client = API(access_token=cfg.OANDA_TOKEN, environment=cfg. OANDA_ACCOUNT_TYPE)` or something like that?

Or would you rather me fixing it?

[2021-08-08 13:44] devwolff commented on #650
Yeh, I will give it a go. Thanks! You guys ve been doing some great work btw. Keep it up!!

[2021-08-08 14:17] DidierRLopes commented on #650
Thanks for the help, and for the feedback! This is just the beginning!

Feel free to join our discord and ping me if you need help around this. Otherwise I can work on it myself :)

[2021-08-08 15:01] devwolff commented on #650
It works now

[2021-08-08 15:01] #650 closed

[2021-08-08 16:29] DidierRLopes commented on #650
For future reference, @devwolff worked on a fix. Check #654 !

[2021-08-18 02:56] yingjiaoyu opened #680 "Can't start terminal.py with a error called "list index out of range""
**Describe the bug**

When I try to start terminal.py, the result alway these below:

[2021-08-18 08:13] DidierRLopes commented on #680
Hey @yingjiaoyu ,

This has been solved since. Could you do a `git pull` to get latest version of the terminal?

[2021-08-18 14:12] #680 closed

[2021-08-21 12:28] soundchippy opened #693 "[FR] Up/down arrow to cycle through recent commands"
Please could you include ability to cycle through command history by pressing up/down arrows as per other terminal prompts.

This would improve my workflow in various areas - correcting incorrectly typed strings, loading different time stamps quickly etc.

Many thanks

[2021-08-21 12:38] DidierRLopes commented on #693
Hey @soundchippy ,

This is actually one of our feature flags. We should probably set it True as default, as most of the people like/use this one.

You can check the feature_flags.py file and it's the PROMPT TOOLKIT one.

Let me know if that works so we can close this ticket :)

[2021-08-21 13:03] soundchippy commented on #693
Works like a charm!

Many thanks for the quick reply!

[2021-08-21 13:03] #693 closed

[2021-08-21 13:06] DidierRLopes commented on #693
No problem at all! Thanks for using our terminal!

Have an amazing weekend ❤️

[2021-08-21 19:55] #571 closed

[2021-08-27 02:25] jigsawsecurity opened #719 "Pred Module Crashes - No indication of why[Bug]"
**Describe the bug**
When loading a ticker and running pred the following occurs

(✨) (stocks)> pred
479653 Illegal instruction     (core dumped) python3 terminal.py

**To Reproduce**
Steps(from the start) and commands to reproduce the behavior
I am running the latest code and am not sure what is causing this to occur so any ideas on what I could check to potentially fix the issue.

**Screenshots*

[2021-08-28 15:29] CoconutMacaroon commented on #522
Not a full solution, but I fixed this by running `pip install --upgrade numpy`. It complained a bit about dependency conflicts, but that fixed the issue for me.

[2021-08-28 15:34] jmaslek commented on #719
So just googling that issue shows that it seems to be an issue with tensorflow.  What version are you using ( `pip list | grep tensorflow` ).  You may need to try uninstalling it then reinstalling it

[2021-08-28 15:39] jigsawsecurity commented on #719
Reinstalling, I'll let you know if it fixes the issue.

tensorflow                    2.6.0
tensorflow-estimator          2.6.0

[2021-08-28 15:41] jmaslek commented on #719
So I am on tf 2.5.0 personally and I have no issues

[2021-08-28 15:44] CoconutMacaroon opened #723 "[Bug] Discord invite link is invalid"
**Describe the bug**
Both the Discord link in the README and on the website are broken.

**To Reproduce**
1. Navigate to the README or website
2. Click on the Discord link
3. Observe that it is broken

**Screenshots**
![image](https://user-images.githubusercontent.com/45187468/131223263-8cb0c9bc-0d43-4fd8-becd-3382cbb2ab17.png)

**Desktop (please complete the following information):**

 - OS: Wind

[2021-08-28 15:53] jmaslek commented on #723
So I just tested: https://discord.gg/Up2QGbMKHY

And it directs to joining the server.

[2021-08-28 16:43] CoconutMacaroon commented on #723
Thank you. That link worked... but the one on the website doesn't work for me. I attached a screen capture showing the issue.

https://user-images.githubusercontent.com/45187468/131224839-ecd9acb3-8bb7-49df-ae35-f7e51debc8e5.mp4

[2021-08-28 16:45] jmaslek commented on #723
@jose-donato

[2021-08-28 17:32] jigsawsecurity commented on #719
Uninstalled and reinstalled and exact same error. Let me see if 2.5.0 works. Trying to figure out how to fix it also but wanted to let you know I'm also looking into it. If I figure it out i'll update versions and info here.

[2021-08-28 17:49] jmaslek commented on #719
I was able to run with tf 2.6.0.

If you open python are you able to "import tensorflow"?  That will tell you if it's a tf issue

The other solution I saw after googling was to just recreate your environment

[2021-08-28 19:23] jose-donato commented on #723
on it

[2021-08-28 19:56] CoconutMacaroon commented on #723
If it would be helpful, I can try to send a PR, but I'm not familiar with where the website source is (or if it is even public), but if it is, I'm happy to send a PR with the updated link. I can also update the `README` if it would be helpful.

[2021-08-28 20:00] DidierRLopes commented on #723
Hey there. Absolutely!

This is the repository https://github.com/GamestonkTerminal/landing-page feel free to open a PR :)

[2021-08-28 20:26] CoconutMacaroon commented on #723
I just cloned the repo and am looking at it, but I'm not sure where to update the link, as I can't find the old link anywhere in the repo. Would you mind pointing me at the file that contains the link...? I don't see it

[2021-08-29 00:56] CoconutMacaroon commented on #723
@DidierRLopes

[2021-08-29 04:10] DidierRLopes commented on #723
Sorry for the time to reply,

I actually haven't touched in the landing page, this is all @jose-donato expertise.

I could have a look for you but I'm not at home this weekend :/

[2021-08-29 09:10] jose-donato commented on #723
Hey, we built the website using [Next.js](https://nextjs.org/). If you already cloned please pull the code again because the code that was on the main branch was not the one deployed in https://gamestonkterminal.netlify.app/
Sorry about that.

You can find the link in `pages/index.js` ([link](https://github.com/GamestonkTerminal/landing-page/blob/main/pages/index.js)) and let me know if you need a

[2021-08-31 02:46] jigsawsecurity commented on #719
So what I run that I'm getting the following, Googling now.

import-im6.q16: unable to open X server `' @ error/import.c/ImportImageCommand/359.

[2021-08-31 02:50] jigsawsecurity commented on #719
Actually had to run in the python interpreter. After doing that I get the following:

Illegal instruction (core dumped)

So it's defintely a problem with tensorflow.

pip show tensorflow
Name: tensorflow
Version: 2.6.0
Summary: TensorFlow is an open source machine learning framework for everyone.
Home-page: https://www.tensorflow.org/
Author: Google Inc.
Author-email: packages@tensorflow.org
Licen

[2021-08-31 17:22] #723 closed

[2021-09-11 20:48] sug4ndh opened #744 "[Bug]Running tsne on a ticker gives "at least one array or dtype is required" error"
**Describe the bug**
After loading a ticker when tsne is executed to find similar companies, "at least one array or dtype is required" is given as output.

**To Reproduce**
1) load the ticker, ROKU for example
2) Go inside ca menu
3) run tsne

**Screenshots**
![gmstptrml](https://user-images.githubusercontent.com/2163026/132961214-968bec6a-26d5-4a7b-b433-ffa1157c4318.png)

**Desktop (please comple

[2021-09-11 20:58] jmaslek commented on #744
1) I assume you are on the latest pull?

2) From that menu, if you try loading an sp500 stock (ie 'load aapl' ) does the command work?

[2021-09-11 21:52] sug4ndh commented on #744
1) I am using the pull from Sep 9.

2) Yes, it works with Apple.

[2021-09-13 13:15] jmaslek commented on #744
So I am not able to recreate the error message.  Is this still happening for you?

[2021-09-13 13:22] jmaslek commented on #719
So we recently bumped out tf requirement.  If you do a clean install of the environment, do you still run into this tf issue?

[2021-09-13 18:52] sug4ndh commented on #744
Yes, I am still having this issue. I can maybe try to pull the latest changes and see if that changes anything.

[2021-09-13 18:58] sug4ndh opened #746 "[IMPROVE] Shorthand notation inputs for main menu entries"
**What's the feature that should be improved?**
In the main menu, perhaps, the entries can have a shorthand notation for input? For e.g. instead of entering 'stocks', maybe just 's' should present the stocks menu.

**Describe how you would like the feature improved**
Right now, the users have to input the full word in the main menu like stocks, crypto, etc. Having a shorthand notation like s for s

[2021-09-13 20:53] sug4ndh opened #747 "[IMPROVE] Eliminate the need to load a ticker to access reddit behavioral analysis"
**What's the feature that should be improved?**
The BA menu does not get activated until a ticker is loaded. However, the results from reddit inside the ba menu seem unrelated to the ticker viz.
   wsb           show what WSB gang is up to in subreddit wallstreetbets
   watchlist     show other users watchlist
   popular       show popular tickers
   spac_c        show other users spacs announceme

[2021-09-13 21:50] DidierRLopes commented on #747
Hey @sug4ndh,

We are going individually through each of the menus and refactor the code substantially. The behavioural analysis is one of the few that we have to refactor, and what you said is definitely part of the refactoring :)

We'll keep the commands all in the same menu, with the difference of having some "greyed out" and others not based on ticker loaded. Also, we'll allow the user to load

[2021-09-14 20:23] jmaslek commented on #744
I don't think the command has been touched, so updating will likely not change anything.

If you run `poetry update` to make sure dependencies are up to date - does that fix the issue?

I was able to run with ROKU loaded

[2021-09-14 20:24] sug4ndh commented on #747
Okay, thanks! :)

[2021-09-14 20:27] sug4ndh commented on #744
Like you said pulling the latest changes didn't do anything. I installed dependencies using `pip install -r requirements-full.txt` inside virtualenv and therefore, do not have poetry installed :/

[2021-09-14 20:31] jmaslek commented on #744
If you look at `pip list|grep scikit` are you on scikit-learn 0.24.2 ?

[2021-09-14 21:01] sug4ndh commented on #744
Yes, scikit-learn is version 0.24.2

[2021-09-14 23:04] jmaslek commented on #744
Okay so I am not sure what it could be then.  The only difference is I am running on python 3.9.5 (I also am not familiar with LinuxMint)

[2021-09-14 23:14] DidierRLopes commented on #744
I just tested this as well, and it's working fine with ROKU :/

[2021-09-14 23:18] DidierRLopes commented on #744
Can you help us debug this @sug4ndh ?

In the ca_controller in line 180 can you do these 2 changes:

![image](https://user-images.githubusercontent.com/25267873/133346085-f6308b5e-42aa-431d-bd44-d77cc4ec8b09.png)

This will effectively make the terminal "break" when you do the steps you mentioned above, at which point you'll get a traceback error which will show what's the line giving the problem,

[2021-09-16 12:39] sug4ndh commented on #744
@DidierRLopes, sure. This is the trace that I got:
[code]

[2021-09-16 13:47] jmaslek commented on #744
So my hypothesis is that trying to add the non-sp500 ticker breaks the data frame.  Can you go into the comparison_analysis/yahoo_finance_model.py and add the following prints to see if everything looks okay:

![Screen Shot 2021-09-16 at 9 45 49 AM](https://user-images.githubusercontent.com/18151143/133623796-19820cf1-6310-4a35-99b1-c884b1c69848.png)

[2021-09-16 14:22] sug4ndh commented on #744
The shapes of the arrays are as follows:
[code]

[2021-09-16 14:36] jmaslek commented on #744
So that is the issue.  `close_vals` is not updating correctly.  No idea why on your machine it doesn't do that:

you can try the following:
[code]
But I am still lost as to why that would be needed.

[2021-09-16 14:55] sug4ndh commented on #744
After changing the lines, it gives an error "Length of values (255) does not match length of index (254)"

[2021-09-16 14:58] jmaslek commented on #744
So it should be `.values[:-2]`  (or .values[:,-1]).  I don't account for "todays" price

[2021-09-16 15:09] sug4ndh commented on #744
With `.values[:,-1] `and `.values[:,-2]`, it gives "too many indices for array: array is 1-dimensional, but 2 were indexed"

with `.values[:-2]`, it gives "Length of values (253) does not match length of index (254)"
and with `.values[:-1]`, it gives "'NoneType' object has no attribute 'fillna' "

[2021-09-16 17:50] jmaslek commented on #746
#751 closes this.  Thanks for the input!

[2021-09-16 17:50] #746 closed

[2021-09-16 17:54] jmaslek commented on #744
So actually, it adds the df column just fine.  Its the rets command that makes the df empty.  If you get rid of the .dropna() in rets, do you get a different error (keep the shape lines in to see if you still get 0 as the second shape).

[2021-09-17 12:07] sug4ndh commented on #744
I changed the dropna line to this :
`close_vals.fillna(method="ffill").fillna(method="bfill").pct_change().T`

And this output that I got:
[code]

[2021-09-23 16:12] sug4ndh opened #755 "[Bug] Sentiment Investment's popular ticker command gives error, Keyerror: 'popularsi'"
**Describe the bug**
When executing popularsi within ba menu, keyerror: 'popularsi' is raised.

**To Reproduce**
1. Go inside stocks menu
2. Load a ticker, RWLK, for e.g.
3. Go inside ba menu
4. Execute popularsi command

**Trace log**
[code]

**Desktop (please complete the following information):**
 - OS: Linux mint 20
 - Python version [e.g. 3.8.0]

**Additional context**
Add any other informati

[2021-09-23 16:32] sug4ndh opened #757 "[IMPROVE] Get similar companies using Polygon api also returns companies listed on Canadian stock exchange"
**What's the feature that should be improved?**
The command, 'getpoly', which gives similar companies using Polygon api also returns companies listed on Canadian stock exchange when users might be interested only in companies listed either on nyse, nasdaq or nyse arca.

**Describe how you would like the feature improved**
The response object from polygon api for a ticker contains an "exchangeSymbo

[2021-09-23 17:12] DidierRLopes commented on #744
Do you still have this issue? @sug4ndh

[2021-09-23 17:17] sug4ndh commented on #744
@DidierRLopes Yes

[2021-09-23 17:19] DidierRLopes commented on #755
Just created a fix for this

[2021-09-23 17:29] DidierRLopes commented on #757
We are using this API command here: https://polygon.io/docs/get_v1_meta_symbols__stocksTicker__company_anchor.

I'm not sure we want to go down the road of modifying polygon API here. @jmaslek, what you think?

[2021-09-23 17:32] DidierRLopes commented on #224
I think https://github.com/GamestonkTerminal/GamestonkTerminal/blob/main/CONTRIBUTING.md addresses this. So will be closing this ticket. :)

Let me know if you think otherwise

[2021-09-23 17:32] #224 closed

[2021-09-23 17:35] DidierRLopes commented on #96
@kn0ll we've done a big refactoring, I think the _model.py files pretty much have the behaviour you described here.

[2021-09-23 17:37] DidierRLopes commented on #382
Hey @peter-clemenko, we are already on docker. So feel free to check it out.

I'm closing this ticket because our notebook reports, does this non-interactive mode concept

[2021-09-23 17:37] #382 closed

[2021-09-23 17:38] DidierRLopes commented on #719
Closing this ticket for lack of activity

[2021-09-23 17:38] #719 closed

[2021-09-23 17:39] DidierRLopes commented on #579
Closing this ticket for lack of activity

[2021-09-23 17:39] #579 closed

[2021-09-23 17:39] DidierRLopes commented on #522
Assuming this has been fixed by now, hence closing this ticket

[2021-09-23 17:39] #522 closed

[2021-09-23 17:40] DidierRLopes commented on #524
Closing this ticket because docker installation makes everything extremely smooth.

[2021-09-23 17:40] #524 closed

[2021-09-23 17:45] jmaslek commented on #757
So we could do something that loops through all the similar tickers and checks what their exchange is......but polygon is limited to 5 api calls/minute for free, so you would only be able to do this for 4 tickers before we get limited.

Could do the same with something like yahoo.

Would be open to a PR if this is something you wanna do OP

[2021-09-23 17:47] DidierRLopes commented on #744
I'll fix this now. Give me a couple of minutes to investigate

[2021-09-23 18:52] #755 closed

[2021-09-23 18:59] kn0ll commented on #96
@DidierRLopes awesome! i notice in the [behavior directory ](https://github.com/GamestonkTerminal/GamestonkTerminal/tree/main/gamestonk_terminal/common/behavioural_analysis) only contains `_views` though, and code similar to when i submitted. is this just because they haven't been refactored yet? great work thanks!

[2021-09-23 19:01] DidierRLopes commented on #96
Argghh was expecting you to not notice 😄 Yes, we're only missing behavioural analysis, government, and prediction technqiues I believe!

[2021-09-23 19:04] jmaslek commented on #96
This one in particular should be done by this weekend

[2021-09-23 19:14] kn0ll commented on #96
awesome, no worries! just wanted to make sure i understood what was going on. thank you all again.

[2021-09-23 21:05] DidierRLopes commented on #744
Should be fixed now @sug4ndh . It was a tricky one. But let me know if it works for you now!

[2021-09-23 21:09] sug4ndh commented on #744
Yes, it works now! Thanks! :) @DidierRLopes

[2021-09-23 21:09] #744 closed

[2021-09-23 21:50] sug4ndh commented on #757
@DidierRLopes, I was thinking what @jmaslek pointed out but I did not consider the 5 calls/minute limitation. Maybe, once we get similar tickers, we can check them using marketwatch by validating if the
sent request object is the same as the prepared object? For e.g.
Prepared objects would be -> "https://www.marketwatch.com/investing/stock/$ticker"
We send requests using `requests.get(prepared obj

[2021-09-23 23:35] DidierRLopes commented on #757
Yes, that would work. Do you want to give it a go, by creating a PR?

[2021-09-24 14:10] sug4ndh commented on #757
@DidierRLopes I can give this a shot.

[2021-09-26 02:38] jigsawsecurity opened #763 "[FR] Help Screen"
**What's the problem of not having this feature?**
A clear description of what you are lacking, or why you need this additional feature.

**Describe the solution you would like**
Instead of linking to the help screens it would be awesome if we had a help menu on each menu that would bring up the text inside the console, right now it just provides the link at the top of the screen.

**Describe alte

[2021-09-27 01:18] DidierRLopes commented on #763
Hey @jigsawsecurity,

Thanks for the feedback. We absolutely love hearing that you are using it more and more, so feel free to let us know if there's any other particular feature you would like :)

Regarding the help menu, I'm not sure I fully understand the idea. Can you be more explicit on how you would foresee such feature?

Also, have you seen this: https://gamestonkterminal.github.io/Gameston

[2021-09-27 03:58] jigsawsecurity commented on #763
I’m aware of the reference pages mentioned. I have to refer to that quite often when the help option doesn’t explain what the various options do. I had to create a cheat sheet. It would be nice if there was descriptions on each of the flags in help. I realize this thing is evolving quickly so adding more context means more time developing.

I just wanted to drop the idea so you don’t have to refer

[2021-09-27 08:02] DidierRLopes commented on #763
So if I understand correctly, isn't using "-h" what you are looking for?

Like "load -h"?

Nice that the new processor fixed the tensorflow issue :)

[2021-09-28 19:54] MLNW opened #767 "[IMPROVE] Stock news"
**What's the feature that should be improved?**
The stock news option is not really functional.
The retrieved news is not relevant to the selected stock at all.

**Describe how you would like the feature improved**
The retrieved news should be more relevant to the selected stock.

**Additional information**
A simple example showcasing the issue. Note that none of the linked news articles have much

[2021-09-29 00:34] DidierRLopes commented on #767
The reason for this was that we were looking for news that matched the ticker name, so this worked well for the examples I tested, e.g. AAPL, MSFT, ... but for tickers like COST it doesn't work well because it was searching for the word "cost". You can open those articles and you can confirm this.

I've changed the command to get the corporation name from the ticker, and then look for the words co

[2021-09-29 01:59] DidierRLopes commented on #767
Closing this since the improvement has already been merged :)

[2021-09-29 01:59] #767 closed

[2021-09-30 23:38] jigsawsecurity commented on #763
Im gonna close this. I did have another question.

Can you explain how the predictive models work? I’m looking at some examples I have found in tensorflow and using sequence data from
The S&P and previous stock prices to predict movement in the future. I guess I’m trying to understand each of the predictive flows that have been implemented.

[2021-09-30 23:38] #763 closed

[2021-10-01 16:01] #747 closed

[2021-10-02 22:39] deeleeramone opened #776 "Edgar Filings 13F/D/G search by CUSIP, CRD, CIK, and plain text with math function. [FR]"
**What's the problem of not having this feature?**
This tool would enable the user to quickly ascertain the levels at which Institutional Investors are involved, who the players are, and what the overall direction of liquidity is.

**Describe the solution you would like**
EDGAR filings search filters by CUSIP, CRD, CIK, Ticker, Company Name, and plain text, which would be able to search all Form 1

[2021-10-03 18:23] emcquaid opened #779 "[FR] Add ticker lookups to Arkord command"
**What's the problem of not having this feature?**
Seems like it would be very easy to implement this feature as Arkord command already exists.

**Describe the solution you would like**
Cathie's Ark is a powerful site that allows us to see all activity of ARK funds.  You can also see historical activity on each {ticker} by visiting https://cathiesark.com/ark-combined-holdings-of-{ticker}

for exam

[2021-10-04 20:45] jmaslek commented on #779
#784   Thanks for the suggestion!

[2021-10-04 20:45] #779 closed

[2021-10-04 21:43] emcquaid commented on #779
`(stocks)>(dd)> arktrades`

responded with
`'trades'`

when I used
`(stocks)>(dd)> arktrades -n 25`

it produced the report.

Suggestion is to default to -n 10 so the report will be generated on
`(stocks)>(dd)> arktrades`

[2021-10-04 21:44] emcquaid commented on #779
Also, report should include column for ticker, imo, so if shared, there is no explanation needed.

[2021-10-04 21:48] jmaslek commented on #779
What ticker?  And what do you mean by report?  Nothing should be different between -n 10  and  -n 25 as they both just take df.head().  The 'trades' is the json response, so that would likely mean something is wrong with the request.

[2021-10-08 16:25] hp988360 opened #799 "[IMPROVE] Long Term Goal: GUI/App"
**What's the feature that should be improved?**
A application for Mac, Windows, whatever. Would make it much more user friendly to install and widely accessible

**Describe how you would like the feature improved**
Terminal usage vs Application and GUI

**Possibly describe the ideal way to improve this**
No clue how I would do it.

**Additional information**
Add any other information or screenshot

[2021-10-12 19:38] nav1s opened #805 "[Bug] feature flags isn't working with .env files"
**Describe the bug**
Changing a value from ```feature_flags.py``` in a ```.env``` file isn't working.

**To Reproduce**
- Create a ```.env``` file.
- Type ```GTFF_USE_FLAIR=yy```
- Run the terminal.

**Desktop (please complete the following information):**
 - OS: ```Manjaro Linux```
 - Python version: ```3.9.7```

**Additional context**
I would like to work on this if it isn't just on my machine.

[2021-10-13 16:19] JerBouma opened #807 "[Bug] FinancialModellingPrep (fmp) is broken"
**Describe the bug**
The package _FundamentalAnalysis_ does not work with more recent versions of Python. This makes it so you receive a SSL error when you try to use any of the functions under stocks --> fa --> fmp.  As I am the owner of this package, I spotted this bug and fixed it in the new release (0.2.12) thus this should be corrected in this package as well within the requirements.

As I am

[2021-10-13 18:18] #807 closed, assigned to jmaslek

[2021-10-16 18:37] #497 closed

[2021-10-17 05:54] deeleeramone opened #816 "[Bug] Stocks/Gov - could not convert string to float"
Stocks/Gov Top Sells returning:
could not convert string to float: '>5000000
![image](https://user-images.githubusercontent.com/85772166/137613699-6170adee-d847-47b7-9a87-10f69a23ad34.png)

[2021-10-17 06:38] deeleeramone opened #817 "Comprehensive historical daily volume and price statistics [FR]"
Volume is probably the single most important metric along with daily price open/close/high/low. There currently is no method for retrieving the historical daily data.

[2021-10-17 06:41] deeleeramone opened #818 "[IMPROVE] Unusual Options Activity to include "and" with filter capabilities; also the ability to sort by expiry date and ticker.."
Unusual Options Activity to include "and" with filter/sort capabilities; also the ability to sort by expiry date and ticker.

[2021-10-17 18:05] jmaslek commented on #817
So is there anything specific you would like to see?

If you go to `qa` and do `pick Volume` you can do some basic quantitative analysis on volume.

[2021-10-17 18:30] deeleeramone commented on #817
Raw data. Not a chart not quantitative analysis. Basic raw data. Displayed tables with daily historical values for Volume and open/close/high/low/change since previous day price data. Something like this:

https://chartexchange.com/symbol/nasdaq-hut/historical/ <https://chartexchange.com/symbol/nasdaq-hut/historical/>

There should be a way to filter by date range and sort volume and change in pri

[2021-10-17 18:38] deeleeramone commented on #817
The same can be applied to individual options like this:

https://chartexchange.com/symbol/opra-hut20211015c2.5/historical/ <https://chartexchange.com/symbol/opra-hut20211015c2.5/historical/>

[2021-10-17 19:30] colin99d commented on #817
I can work on this tonight

[2021-10-17 21:25] #816 closed

[2021-10-18 01:38] joshuabuildsthings opened #822 "[Bug] Stocks > Report > DD Returns Error"
**Describe the bug**
When trying to run a Due Diligence Report from the Stocks > Report menu it fails to run and an error message is displayed.

_DLL load failed while importing shell: The specified procedure could not be found._

**To Reproduce**
[code]
report
dd -t tsla

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following informa

[2021-10-18 13:48] joshuabuildsthings commented on #822
@DidierRLopes - I did try poetry install & it didn't resolve the issue. The dependencies were bumped during one of the recent PRs & it seems there's a known conflict with certain versions of pywin32.

I was able to fix the issue locally by running `pip install --upgrade pywin32==225` in my conda env.

I didn't try the Docker image, but will try when I get a chance & report back. I mostly opened th

[2021-10-18 17:33] aia commented on #822
We are installing pywin32==302 - https://github.com/GamestonkTerminal/GamestonkTerminal/blob/main/requirements-full.txt#L171

Very strange to see that you have to downgrade pywin32 to 225.

Do you have python packages that are installed globally?

[2021-10-18 17:38] aia opened #825 "[Bug] test_fa_yield_curve_model test is stalling after 3+ hours"
![image](https://user-images.githubusercontent.com/535247/137780171-a351861d-376a-42b6-9316-9edd9a5c2d25.png)

[2021-10-21 04:36] ASBaumgarten opened #839 "[Bug] Report generation error"
The report fails to generate and always errors out at 24% with the same error shown below. This happens regardless what crypto currency is loaded.

[code]
[code]

[code]

[2021-10-22 02:40] jose-donato opened #842 "[Feature] Allow reset from any child menu"
Possibility to reset the terminal from any menu and restore the context

This would improve the developer experience even more

https://github.com/GamestonkTerminal/GamestonkTerminal/issues/841#issuecomment-949234685_

[2021-10-22 23:08] #805 closed, assigned to DidierRLopes

[2021-10-24 00:24] DidierRLopes opened #848 "[IMPROVE] Allow candle to have starting date"
Self-explanatory

[2021-10-24 00:53] DidierRLopes opened #849 "[FR] Add volume command to comparison analysis, to compare tickers volume over time"
self explanatory

[2021-10-24 01:23] CB30 opened #850 "[FR] Generate a report for above average volumes for calls and puts? Preferably a list of stocks."
**What's the problem of not having this feature?**
A clear description of what you are lacking, or why you need this additional feature.**

Analysis of multiple stock volumes made much simpler. Compared to pulling each stock volume manually.

****Describe the solution you would like****

**A description of what you think would be the best solution for this. From user inputs, to an output.**

User

[2021-10-24 01:33] colin99d commented on #817
That feature is not currently available.

[2021-10-24 02:44] deeleeramone commented on #817
This is why I am requesting it.

On Sat, 23 Oct 2021 at 18:34, Colin Delahunty ***@***.***>
wrote:

[2021-10-24 02:56] jmaslek commented on #848
????  ![image](https://user-images.githubusercontent.com/18151143/138578449-2ef9b8be-53ae-4b02-a2c2-b0f00dde7549.jpeg)

[2021-10-24 05:29] joshuabuildsthings opened #851 "[FR] Put/Call Ratio under Options Menu for Stocks"
**What's the problem of not having this feature?**
The Put/Call Ratio is an important sentiment indicator for equities analysis.

**Describe the solution you would like**
A Put/Call Ratio measured over time & displayed as a line chart.

**Describe alternatives you've considered**
- Manual Computation.
- Sourcing the data from an API: [https://eodhistoricaldata.com/](https://eodhistoricaldata.com/)

[2021-10-25 19:39] piiq opened #859 "[IMPROVE] Update readthedocs creation pipeline"
There is an older an older implementation of the autogenerated class library with Shinx+readthedocs at https://gamestonk-terminal.readthedocs.io/

It's time this documentation generating pipeline is revisited and upgraded to:

- incorporate up-to date codebase
- remain human-readable

There is nice up-to-date user documentation at https://gamestonkterminal.github.io/GamestonkTerminal/. Merging dev

[2021-10-28 14:20] jose-donato opened #874 "[Bug] Crypto report breaks the terminal"
**Describe the bug**
Crypto report (currently number 4) breaks the application

**To Reproduce**
1. `reports`
2. `4`

**Screenshots**
![image](https://user-images.githubusercontent.com/43375532/139274958-3b905a01-3142-48a9-b7c7-f3649aae8bf8.png)

**Desktop (please complete the following information):**
 - OS: MacOS Big Sur 11.6
 - Python version: Python 3.8.12

**Additional context**
Coingecko API

[2021-10-29 12:47] #851 closed, assigned to nobody

[2021-10-31 09:37] MLNW commented on #693
Yes, this would be a sensible default ..

[2021-11-01 09:30] piiq commented on #874
We do have 3 default retries with a 1 sec `backoff_factor` when the persistent session is set up. See [here](https://github.com/GamestonkTerminal/GamestonkTerminal/blob/28e3970912b3f81b59ca2de5d77e6034c7e581c1/gamestonk_terminal/cryptocurrency/pycoingecko_helpers.py#L40)

We can increase the retry count to 5 which with out `backoff_factor` should give more "air" for the requests to handle some uns

[2021-11-01 19:33] aia commented on #874
Coingecko had issues all week for me even in their own mobile app.

[2021-11-03 06:12] piiq commented on #859
Closing this issue, it was addressed by https://github.com/GamestonkTerminal/GamestonkTerminal/pull/895

[2021-11-03 06:12] #859 closed

[2021-11-05 13:07] piiq commented on #874
And now we have the same error in the tests. See https://github.com/GamestonkTerminal/GamestonkTerminal/runs/4116994898?check_suite_focus=true

[2021-11-12 02:39] deeleeramone opened #939 "[Bug] (stocks)>(fa)>key: Passing list-likes to .loc or [] with any missing labels is no longer supported."
![Screen Shot 2021-11-11 at 6 35 45 PM](https://user-images.githubusercontent.com/85772166/141399406-3ddbc71c-eea4-4505-a99b-52702fe8ef7a.png)

(✨) (stocks)>(fa)> key
"Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['Payout ratio'], dtype='object'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#d

[2021-11-15 17:47] grahuloverthere opened #948 "[Bug]Float Errors in stocks/gov/"
**Describe the bug**
When running "topbuys" from the stocks/gov menu, I always get an error saying "could not convert string to float: '>$5000000' "

**To Reproduce**
python terminal.py
stocks
gov
topbuys

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="1118" alt="Screen Shot 2021-11-15 at 12 40 33" src="https://user-images.githubusercontent.com/75821256/14

[2021-11-15 20:54] jmaslek commented on #948
Thanks!  Looks like a stock purchase (sell) was >$5000000 and we did not have any logic to convert that to a "range", so I added that in and should work once we update it :)

[2021-11-16 06:50] #948 closed

[2021-11-16 14:09] grahuloverthere opened #952 "[Bug] Raw Data from stocks->gov->topsells is Inaccurate"
**Describe the bug**
When running "topsells --raw" from the stocks/gov menu, the terminal output does not match the plot displayed. It looks like "topsells --raw" output is the same as "topbuys --raw".

**To Reproduce**

**Screenshots**
<img width="1091" alt="Screen Shot 2021-11-16 at 09 01 16" src="https://user-images.githubusercontent.com/75821256/142000034-0f5af8d6-b115-42dd-873b-e14a8fe3c841.p

[2021-11-16 14:30] jmaslek commented on #952
Another good catch!  I was not using the upper bounds of the reported data and was sorting in reverse order (hence why it equated to the top buys)

[2021-11-16 16:09] piiq commented on #952
works now
![image](https://user-images.githubusercontent.com/11668535/142022025-9c6f6adb-8f61-4b04-ae4f-d7368f5ef901.png)

[2021-11-16 16:13] piiq commented on #952
Thanks, this has been addressed in https://github.com/GamestonkTerminal/GamestonkTerminal/pull/953

[2021-11-16 17:33] nicdan opened #955 "[Bug] pip Installation - Failed to build ecos scs - error"
**Describe the bug**
Running "pip install -r requirements.txt" it runs into " ERROR: Failed building wheel for ecos
  Running setup.py clean for ecos
  Building wheel for scs (pyproject.toml) ... error"
which continues and ends with the error in the title.

**To Reproduce**
pip install -r requirements.txt

**Screenshots**
If applicable, add screenshots to help explain your problem.
![error1](https

[2021-11-16 19:00] jmaslek commented on #955
That is usually related to an issue with C++.  Check out the troubleshooting guide:

https://github.com/GamestonkTerminal/GamestonkTerminal/blob/main/TROUBLESHOOT.md#microsoft-visual-v++

[2021-11-16 19:03] nicdan commented on #955
I've had this problem since yesterday, and I did the C++ update, as well as everything in the poetry section, I'll do it again now and come back to report.

[2021-11-16 19:16] nicdan commented on #955
Nope, it didn't work, exact same messages with both pip and poetry

[2021-11-18 21:35] deeleeramone opened #958 "Quick an easy implementation of a popular trend with an available source we already use: stocks>ta>flow"
This is the same concept behind the trendy, "options flow", except this would. be the "stock flow". An outputting an interactive chart would be ideal.

<img width="336" alt="Screen Shot 2021-11-18 at 1 31 01 PM 1" src="https://user-images.githubusercontent.com/85772166/142500026-1600b9c6-ff54-453e-99ce-0dea6bb83718.png">

<img width="1414" alt="Screen Shot 2021-11-18 at 1 23 34 PM" src="https://us

[2021-11-18 22:07] nicdan commented on #955
The solution was: nuke original env and create a new one, download Build Tools 2019!! (not the latest!). Still had errors with poetry, so still installed via pip. Pip still had errors while uninstalling some stuff after installation (no screenshots, sorry, I've done it a few hours ago on the run so I don't know what it was uninstalling), but played with the terminal for about an hour now and it wo

[2021-11-18 22:35] nicdan opened #959 "[FR] Upcoming legislation that may impact the stock"
**What's the problem of not having this feature?**
Missed opportunity or loosing positions.
The recent infrastructure bill passing is having an impact on numerous stocks, and not knowing about it might have lead people to missed opportunity or taking loosing positions against it.

**Describe the solution you would like**
Scraping sites such as https://www.govtrack.us/congress/bills/ or using APIs

[2021-11-18 22:42] #955 closed

[2021-11-19 10:56] DidierRLopes commented on #955
We'll reflect this in our troubleshooting. Thank you @nicdan !

[2021-11-19 14:36] jmaslek commented on #939
Closing via #954

[2021-11-19 14:36] #939 closed

[2021-11-23 20:25] #818 closed

[2021-11-26 11:20] 23errg opened #987 "[Bug]"
**Describe the bug**
Pressing ?/q to go back to previous menu results  in error and force quit.

**To Reproduce**
Pressing ?/q to go back to previous menu .

<img width="669" alt="2021-11-26 (8)" src="https://user-images.githubusercontent.com/74156936/143572909-0daeab1f-5e1a-4639-89a3-3729b3dcc6cb.png">

**Desktop (please complete the following information):**

- OS: [Windows 11]
- Python version

[2021-11-26 12:20] #987 closed

[2021-11-26 12:25] 23errg commented on #987
I believe that would improve the user experience.

[2021-11-26 13:32] DidierRLopes commented on #987
Thanks for feedback.

Issue should be fixed now!

[2021-11-28 20:46] deeleeramone opened #994 "[FR] Expand/Weaponize FRED API capabilities to include ALFRED, and GeoFRED. Enhanced search, map generation, and integration in the QA menu"
https://geofred.stlouisfed.org/docs/api/geofred/
We are selling this feature short here. There are powerful features available that would aid in creating visualizations of economic and market data, and an abundance of time-series data that the QA menu should be able to target. These are all free data sets provided to the public, so very reliable sources that will be maintained over time.

![Screen

[2021-11-28 20:55] deeleeramone commented on #994
Including the "series ID" in the "Search" and "load" functions, utilizing FRED as a source would open up possibilities allowing comparison analysis.

[2021-11-29 18:18] Chavithra opened #998 "[Bug]"
**Describe the bug**
Bug on arktrades.

**To Reproduce**

This command seems to crash :
[code]

**Screenshots**
Results :
[code]

**Desktop (please complete the following information):**
- OS: windows
- Python version = 3.8

**Additional context**
[code]

`Closed` data seems to be fetched properly with `yf.download` function.

`Total` column is calculated with `Closed` column.

They both are set t

[2021-11-29 18:30] jmaslek opened #1000 "ISSUE #1000 !!!!"
Nothing of value.

Just great job everyone

[2021-11-29 18:46] DidierRLopes commented on #1000
![cat-launch](https://user-images.githubusercontent.com/25267873/143924990-90bae792-4b77-48c1-9aeb-acf88020c74d.gif)

![rocket](https://user-images.githubusercontent.com/25267873/143925089-ebed4094-da4d-4a42-ba38-bf3ef4594489.gif)

[2021-11-30 03:00] #998 closed

[2021-11-30 03:01] #1000 closed

[2021-12-01 09:50] Chavithra opened #1006 "[Bug] Stocks > DD > Finviz News"
**Describe the bug**
The following function is `broken` and `unused` :
- module : `gamestonk_terminal.stocks.due_diligence.finviz_view`
- function : `news`

Since this `news` function is unused maybe :
- a command should be added in : `stocks > dd` ?
- or the `news` should be remove (along with the `get_news` function in the model) ?

**To Reproduce**
Here is the code to reproduce the issue :
[cod

[2021-12-04 02:55] Chavithra opened #1014 "[Bug] Stocks > FA > Alpha Vantage Model"
**Describe the bug**
The following function seems `broken` and `unused` :
- module : `gamestonk_terminal.stocks.fundamental_analysis.av_model`
- function : `clean_fundamentals_df`

Maybe we should remove this function.

**To Reproduce**
[code]

**Screenshots**
[code]

**Desktop (please complete the following information):**

- OS: `windows`
- Python version : `3.8`

[2021-12-05 21:23] jmaslek commented on #1014
Am I missing something or does that function (clean fundamentals df) not get used?  I have searched for it and pulled up no occurrences...

[2021-12-05 22:28] CameronBeebe opened #1023 "[Bug] End date on yf load"
Just noticed that one line needs to be replaced after my merge on Feature/price (#961).  Forgot to revert after test.

<img width="525" alt="Screen Shot 2021-12-05 at 3 23 19 PM" src="https://user-images.githubusercontent.com/39677739/144766339-0767da25-9c9b-4574-9486-465804122661.png">

That line should not be deleted, and should be replaced or it will cause bugs.  My apologies!

[2021-12-06 01:03] #1014 closed

[2021-12-06 01:03] #1023 closed

[2021-12-06 01:04] jmaslek commented on #1023
Good catch

[2021-12-06 01:04] jmaslek commented on #1014
So I removed the function.  Should've done it when I refactored but oops

[2021-12-06 08:25] TenzinJhopee opened #1026 "stocks - Behavioural analysis - Error API [Bug]"
**Describe the bug**
A clear and concise description of what the bug is.
stocks - Behavioural anaylsis - i set up my api key in config files. but it showed error like Error - could not handle the request

**To Reproduce**
Steps(from the start) and commands to reproduce the behavior
stocks - ba - social -- Error api

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img

[2021-12-06 11:30] 23errg opened #1027 "prompt.toolkit module fails to load"
Fresh Win2022 install and gst dependencies gets a warm welcome.
![2021-12-06 (2)](https://user-images.githubusercontent.com/74156936/144838562-60f29888-0ef1-44f5-8110-9a1100871bd9.jpg)

[2021-12-06 12:25] piiq commented on #1027
Hey @23errg! Great to have you with us!
Did you run `poetry install` in your `gst` environment?

[2021-12-06 13:35] piiq commented on #1027
If you use a venv I would suggest you try the following after you activate your environment:

[code]

poetry will install the dependencies from a .lock file and prompt_toolkit is in there.

as a side note can you check that when you call python3 from the environment it actually calls the python executable that's inside the environment? In bash I would type `which python3`, but unfortunately I don'

[2021-12-06 14:01] 23errg commented on #1027
pip install poetry returned no error but poetry install returned a bunch.

<details><summary>errors</summary>
<p>

 (gst) C:\Users\username\GamestonkTerminal>poetry install
The virtual environment found in C:\ProgramData\Anaconda3\envs\gst seems to be broken.
Recreating virtualenv gamestonkterminal-BcPCW8ib-py3.8 in C:\Users\username\AppData\Local\pypoetry\Cache\virtualenvs\gamestonkterminal-BcPCW

[2021-12-06 18:28] 23errg commented on #1027
I manged to get gst working, the issue was from vs2015_runtime. It didn't update as it should, running `conda install -c anaconda vs2015_runtime` fixed the issue.

[2021-12-06 18:28] 23errg commented on #1027
I manged to get gst working, the issue was from vs2015_runtime. It didn't update as it should, running conda install -c anaconda vs2015_runtime fixed the issue.

[2021-12-06 18:28] #1027 closed

[2021-12-06 18:33] 23errg opened #1031 "[FR] feeding the prediction models with .csv"
Maybe a folder that where users can feed the models with downloaded stock.csv.

[2021-12-06 18:57] DidierRLopes commented on #1031
I will try to have a YouTube this week on how you can customize your own automatic due diligence / routines using our reports section.

[2021-12-06 19:20] piiq commented on #1027
Great to hear that! Join our Discord to share your experience with the terminal

[2021-12-06 20:18] 23errg commented on #1031
That would be perfect!

[2021-12-07 01:16] DidierRLopes commented on #1006
Fixed!

[2021-12-07 01:16] #1006 closed

[2021-12-07 14:28] DidierRLopes commented on #1026
We've raised this already with the SI guys. Waiting for instructions from their side https://github.com/sentimentinvestor/sentipy/issues/11

FYI @ZeevoX

[2021-12-07 15:42] ZeevoX commented on #1026
Hi there,
I'm not working with the Sentiment team anymore unfortunately, and I don't have the time to investigate. If they are not replying on GitHub, perhaps it would be worth emailing hello@sentimentinvestor.com directly.
All the best,
Timothy

[2021-12-07 16:17] DidierRLopes commented on #1026
Hey,

Sorry to hear that! Thanks for letting us know Timothy

[2021-12-09 07:19] Chavithra opened #1042 "[IMPROVE] Stocks > Helper"
**What's the feature that should be improved?**
These two functions seems unused :
 - gamestonk_terminal/stocks/stocks_helper.py::view
 - gamestonk_terminal/stocks/stocks_helper.py::plot_view_stock

Are they used for some purpose that I don't about ?

**Describe how you would like the feature improved**
Removing this functions if they are found to be unnecessary.

[2021-12-09 14:12] jmaslek commented on #1042
Not that I can think of.  We scratched them in favor of candle

[2021-12-09 15:46] Chavithra opened #1044 "[Bug] Stocks > IEX load"
**Describe the bug**
Can't load stocks with source `IEX`.

**To Reproduce**
[code]

**Screenshots**
[code]

**Desktop (please complete the following information):**

- OS: windows
- Python version : 3.8

**Additional context**
The error seems to come from this file :
- gamestonk_terminal/stocks/stocks_helper.py

The data is received from `IEX`.

But this part seems to empty the DataFrame somehow :

[2021-12-09 16:07] Chavithra commented on #1044
The request made to IEX seems to only get last 30 days data :
[code]

So filtering by date should only work if it's within 30 days range.

[2021-12-09 20:33] jmaslek commented on #1044
I will fix that to specify start and end 👍

[2021-12-11 15:36] #1044 closed

[2021-12-11 15:37] #1042 closed

[2021-12-11 20:00] Chavithra opened #1052 "[Bug] Stocks > Discovery"
Here is a list of potential issues in this module :
- Module : `gamestonk_terminal.stocks.discovery`

1/ `cfg.API_KEY_QUANDL` is used in ` :
- Module : `gamestonk_terminal.stocks.discovery.nasdaq_model`
- Function : `get_retail_tickers`
- Suggestion : replace it with something like `--API_KEY_NASDAQ` ?

2/ `get_article_list` function seems to loop and never return :
- Module : `gamestonk_terminal.

[2021-12-12 13:01] Chavithra opened #1055 "[Bug] Stocks > Insider"
Is this test file necessary ?
- `gamestonk_terminal\stocks\insider\presets\test.py`

[2021-12-12 17:15] DidierRLopes commented on #1055
Yes, this file is used by `openinsider_model.py` to make sure the user selects a valid preset option.

We can rename the file if you want

[2021-12-13 01:15] jmaslek commented on #1052
Will look at the last two points tomorrow but regarding the first one:

Nasdaq data link recently acquired quandl (or rebranded or something) and if you look at their api documentation it still calls the quandl package for python and uses the same quandl key.

So until they switch some documentation stuff up the quandl name still makes sense...kinda

[2021-12-13 21:45] jmaslek commented on #1052
So the get_article_list website needs some human verification:

Im not sure if we should scrap or figure out the js needed to get past it.

Pushing fix for other comments
<img width="931" alt="Screen Shot 2021-12-13 at 4 43 57 PM" src="https://user-images.githubusercontent.com/18151143/145893822-951e2d14-eb4a-4e53-890e-fa726ab905db.png">

[2021-12-15 15:46] #1052 closed

[2021-12-16 14:13] #1055 closed

[2021-12-17 02:09] DidierRLopes commented on #83
@CosminIvanov took some time, we needed that magic xmas sparkle... ✨

How is this looking?
![image](https://user-images.githubusercontent.com/25267873/146477109-125a6810-ce9d-49db-8a53-8c1889821a7a.png)

Also, multiple inline commands + autocompletion
![image](https://user-images.githubusercontent.com/25267873/146477182-c4ec311f-1676-4a77-a1b5-c04062fc9c9d.png)

[2021-12-20 16:22] himansh-u opened #1077 "I installed anaconda"
PS E:\programs\GamestonkTerminal> conda
conda : The term 'conda' is not recognized as the name of a cmdlet, function, script file, or operable program. Check
the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ conda
+ ~~~~~
    + CategoryInfo          : ObjectNotFound: (conda:String) [], CommandNotFoundException
    + FullyQualifie

[2021-12-21 09:40] piiq commented on #1077
After you install anaconda you should get "Anaconda prompt" as a separate program in your start menu. Can you try using that one?

[2021-12-21 19:11] piiq commented on #874
An update on this issues.
In the big UX branch we've added exception handling so these errors will not break the terminal.

While I was implementing this exception handling I noticed that the coingecko scrapper is [fubar](https://en.wikipedia.org/wiki/FUBAR_(disambiguation)). Coingecko have and API that has a free tier that is slightly more generous that the free tier of alphavantage (that's enoug

[2021-12-22 10:06] DidierRLopes commented on #83
Merged https://github.com/GamestonkTerminal/GamestonkTerminal/pull/1041 :)

[2021-12-23 06:51] affffcc opened #1088 "[FR] Neural prediction ignores end date (no backtesting)"
I installed it using conda using the preset provided. I use the git upstream.
I tried backtesting with the neural networks (lstm, rnn, mlp) by adding --end-date (-e) 2021-10-10 -d 30 but all of them seem to ignore the flag (seeing from the code --end-date isn't being passed anywhere). This makes it impossible to backtest using the neural networks since they'll just spit out the latest data. It wor

[2021-12-25 07:56] bobychaudhary opened #1097 "[IMPROVE] Add code of conduct"
**What's the feature that should be improved?**
A description of what's the feature you want improved, and a bit of context (why is that).

**Describe how you would like the feature improved**
A description of what the current feature is vs what it would be after your suggestion.

**Possibly describe the ideal way to improve this**
If you have thought about how you would do it, add it here.

**Add

[2021-12-26 15:27] jmaslek commented on #1088
Yeah I intentionally don't use the end date for NN (should definitely remove).  The reason being I added in sample validation to see how the model does at various points instead of just cherry picking the last N days.

As for Monte Carlo- why would you want an end date flag? That is a forecasting method and taking away last data points changes the distribution you sample from.  One instead can loo

[2021-12-26 16:45] affffcc commented on #1088
I don't get it. I think it's important to be able to pick the dates so we can backtest. Visualizing such results is a very important step in my opinion and I think it currently is kinda useless without me being able to see that validiation visually.

Monte Carlo: If I have data from 2021-01-01 to 2021-12-31 I want to run simulation on data from 2021-10-01 simulating until 2021-12-31. I want to use

[2021-12-29 01:59] affffcc commented on #1088
Is there any commit where I can backtest (where end-date is passed) for crypto? If so I'll revert that commit in my local checkout

[2021-12-29 03:03] jmaslek commented on #1088
So any commit that was before May 5th will have an older version of the prediction.  You could load bitcoin through yahoo finance using `load BTC-USD` and use that.

As for the backtesting/validation visualization, if you run the default LSTM  (for example), you will get a plot like:

<img width="806" alt="Screen Shot 2021-12-28 at 9 53 25 PM" src="https://user-images.githubusercontent.com/1815114

[2021-12-29 11:13] DidierRLopes commented on #1088
@jmaslek we can re-add the `-e` flag and when that is selected we drop the in-sample validation?

[2022-01-04 17:14] Chavithra opened #1136 "[Bug] Technical Analysis > Finviz"
**Describe the bug**
Looks like this module is unused :
- `gamestonk_terminal.stocks.technical_analysis.finviz_view`

[2022-01-04 21:41] Chavithra opened #1138 "[Bug] Stocks > Options > History"
**Describe the bug**
Find two issues with this function :
- function : `call_hist`
- classs : `OptionsController`
- module : gamestonk_terminal.stocks.options.options_controller

**To Reproduce**

[code]

This will display :
[code]

**Issue A**
The issue is that it display :
`No correct strike input`

Even when you provide a valid `strike`.

I think we just need to replace :
[code]
By :
[code]

**

[2022-01-04 23:17] DidierRLopes commented on #1138
I think you didn't have latest version when this was created, I had fixed it 2 hours prior to this issue :)

See #1135 ! I also fixed the tests accordingly

[2022-01-04 23:17] #1138 closed

[2022-01-05 00:19] jmaslek commented on #1136
Does look that way.  the only usage of the finviz_model there is in discordbot, but that function doesn't seem to run.

[2022-01-06 22:50] derekslenk opened #1149 "[Bug] All CoinGecko 'disc' functions appear to not work"
**Describe the bug**
Under the crypto -> disc -> CoinGecko category, not one option works
Example:
[code]

Except the CoinGecko site and API appear to be working? This gives us a nice response from their API:
[code]

**To Reproduce**
[code]

**Screenshots**
n/a imo

**Desktop (please complete the following information):**

- OS: Ubuntu 20.04 in WSL2, Windows 11 Pro (21H2, build 22000.xxx)
- Python

[2022-01-06 23:36] jmaslek commented on #1149
Hey!  We are aware that these cause some issues.  There is currently a discussion going on in #1119 where we may scrap them.

The issue is that those commands scrape tables on their site, they are not just api calls, so the behavior is not the same (and why the functions fail).

[2022-01-07 00:24] derekslenk commented on #1149
Checked out that branch - I agree with https://github.com/GamestonkTerminal/GamestonkTerminal/pull/1119#issuecomment-1006706626 that all the non-api calls need to be removed. The pages being scraped appear to just call their own API, anyways.

[2022-01-07 00:39] derekslenk commented on #1149
For example, /en/dex would be the API query:  'https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&category=decentralized-exchange&order=market_cap_desc' \
  -H 'accept: application/json'

[2022-01-07 00:45] derekslenk commented on #1149
I could help with API queries if you guys need. I don't know the whole load_data system very well so I am intimidated to try myself, and it seems it might already be being worked on @jmaslek

[2022-01-07 00:52] jmaslek commented on #1149
We are happy to have any contributions!  @jose-donato and @JakubPluta are doing the heavy lifting with the load data stuff (also intimidating to me haha).  If you wanna work on the other function calls, just let us know and we can leave those to be fixed (instead of just nixed).

You can also hit us up on discord if you have any questions

[2022-01-07 10:32] jose-donato commented on #1149
Yea, we are planning to replace all the scraping with the respective api endpoints (the ones that exist at least), and drop the ones that are not possible. Would be great to have your help 🙌  @derekslenk

[2022-01-11 07:39] MacLeeee opened #1172 "unable to “poetry install”"
when inputs “pip install -r requirements.txt”

![image](https://user-images.githubusercontent.com/23634845/148900706-3478c49b-35b0-492c-bf3d-fdeab1dd998e.png)

[2022-01-11 10:04] Chavithra commented on #1172
Hello, is it possible to let us know which version of `pip` you have ?

You can use this command to know the version :
[code]

[2022-01-11 11:09] MacLeeee commented on #1172
pip 21.2.4
python 3.8

[2022-01-11 13:39] piiq commented on #1172
@MacLeeee Are you on an m1 mac?

[2022-01-12 07:16] MacLeeee commented on #1172
yes!

[2022-01-12 08:24] piiq commented on #1172
For now you are on your own, although you are not alone. As soon as my new m1 arrives, I will be in the same boat lol.

One of the ideas i had is to delete the poetry.lock and run `poetry update` followed by `poetry install` thus forcing it to pull the new dependency tree. if the packages are available for the m1 they should be resolved

[2022-01-12 13:56] colin99d commented on #1077
@himansh-u did you end up getting the issue resolved?

[2022-01-12 13:58] colin99d commented on #1172
@MacLeeee did you install conda? I have an M1 and Conda has made all my issues disappear. Feel free to check out this link: https://docs.conda.io/projects/conda/en/latest/user-guide/install/macos.html.

[2022-01-12 17:24] piiq commented on #96
This https://github.com/GamestonkTerminal/GamestonkTerminal/pull/1170 starts to address the issue

[2022-01-16 14:52] stevedoor opened #1195 "[Bug] CoinMarketCap typo in README - API Key Section"
**Describe the bug**
- Only need one key, and that should be `GT_API_CMC_KEY` rather than `GT_CMC_API_KEY`

- From `config_terminal.py`:
[code]

- from `coinmarketcap_model.py`:
[code]

[2022-01-17 01:30] colin99d opened #1202 "Ark Orders View Pandas Error"
When running `stocks/disc/arkord` the following error is printed:

`/Users/colindelahunty/opt/miniconda3/envs/gst/lib/python3.8/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stab

[2022-01-17 01:31] colin99d commented on #1077
This issue is not related to the terminal. I am going to go ahead and close.

[2022-01-17 01:31] #1077 closed

[2022-01-18 15:01] #874 closed

[2022-01-20 03:11] yellowcandle opened #1219 "[Bug] Docker install -- error thrown when accessing ETF menu"
**Describe the bug**
Error appeared when user is accessing the ETF menu on docker installation

**To Reproduce**
1. pull and build docker image using ``` docker pull ghcr.io/gamestonkterminal/gst-poetry:latest ```
2. run docker image using ``` docker run -it --rm ghcr.io/gamestonkterminal/gst-poetry:latest ```
3. go to ETF menu page by typing ```etf```

Expected behaviour:
ETF menu page loads succ

[2022-01-20 13:28] DidierRLopes commented on #1195
The issue has been fixed! Thank you for reporting and fixing it @stevedoor 😄

[2022-01-20 13:28] #1195 closed

[2022-01-20 13:29] DidierRLopes commented on #1026
Closing this as the SI team has changed and so did the endpoints. We already added one of their previous commands, and will be working on the others in the near future!

[2022-01-20 13:29] #1026 closed

[2022-01-20 13:32] DidierRLopes commented on #1136
This module seems to work and be used. See below
![Screenshot 2022-01-20 at 13 30 41](https://user-images.githubusercontent.com/25267873/150348189-729013c4-a90b-46de-a0e9-5ff632ece84f.png)

![Screenshot 2022-01-20 at 13 31 39](https://user-images.githubusercontent.com/25267873/150348328-12357ecb-64e0-4dd6-b828-dbd46e46d206.png)

Closing this!

[2022-01-20 13:32] #1136 closed

[2022-01-20 13:35] DidierRLopes commented on #1031
PR #1193 adresses this! You can now download your own personal data and use our quantitative analysis and prediction techniques modules.

![Screenshot 2022-01-20 at 13 34 28](https://user-images.githubusercontent.com/25267873/150348756-8817db64-ec8b-43d6-93cc-3e92387ace0c.png)

In the future we hope to be able to use this data seamlessly to compare with stocks/forex/crypto/wtv other data to extrac

[2022-01-20 13:35] #1031 closed

[2022-01-20 13:42] DidierRLopes commented on #850
Although we don't directly do this, there's a way you can do it through our `stocks/scr` menu.

See below:
<img width="1550" alt="Screenshot 2022-01-20 at 13 39 57" src="https://user-images.githubusercontent.com/25267873/150349560-fbf9b558-187a-48a5-a7f6-9b08992fc675.png">

[code]

This is how you can create your own presets:
https://github.com/GamestonkTerminal/GamestonkTerminal/tree/main/gamesto

[2022-01-20 13:42] #850 closed

[2022-01-20 13:43] DidierRLopes commented on #842
Done a long time ago through #1041

[2022-01-20 13:43] #842 closed

[2022-01-20 13:44] DidierRLopes commented on #825
![Screenshot 2022-01-20 at 13 44 44](https://user-images.githubusercontent.com/25267873/150350304-8e17f14b-ab6a-45e3-953f-ce72b23712bd.png)

No longer stalling. Closing this PR.

[2022-01-20 13:44] #825 closed

[2022-01-20 13:47] DidierRLopes commented on #817
![Screenshot 2022-01-20 at 13 46 40](https://user-images.githubusercontent.com/25267873/150350649-fb168847-5491-4018-863b-5c995946bb5c.png)

I believe this addresses this issue! Will close this!

[2022-01-20 13:47] #817 closed

[2022-01-20 13:48] DidierRLopes commented on #96
Closing this based on #1170 and subsequent work on this direction!

Looking forward to how you will make the most of our API :)

[2022-01-20 13:48] #96 closed

[2022-01-20 13:49] DidierRLopes commented on #57
It has been 1 year, but we have now the terminal in a much better state.

I believe this could be done on our `jupyter/dashboards` menu. @jstammers not sure where you are at in your life, but if this is still of interest, this could potentially be really helpful for a lot of users :)

[2022-01-20 13:52] DidierRLopes commented on #215
So far we have been disclosing this on our twitter https://twitter.com/gamestonkt or on our #new-features channel in discord (https://discord.gg/56B7KEUyZY).

We will gh actions for this once we have a `GST 1.0`. Currently we are developing at a very fast pace, and changelogs would be very big with lots of new features.

Closing this because this is in our roadmap, and we haven't had any "official

[2022-01-20 13:52] #215 closed

[2022-01-20 14:58] jmaslek opened #1223 "[Bug]. stocks/dd/PT raises json decode error"
This is with Ford loaded (on a Mac)

Also an issue with the discord bot

[code]

[2022-01-20 18:45] #1223 closed

[2022-01-20 21:20] jose-donato commented on #1149
#1156 addresses this

[2022-01-20 21:20] #1149 closed

[2022-01-21 17:24] jigsawsecurity opened #1231 "[IMPROVE] Charts Menu"
**What's the feature that should be improved?**
A description of what's the feature you want improved, and a bit of context (why is that).
The chart menu typically covers the right top corner of the chart rendering the charts not useable since the price is covered by the menu.

**Describe how you would like the feature improved**
A description of what the current feature is vs what it would be aft

[2022-01-21 17:36] DidierRLopes commented on #1231
Hey @jigsawsecurity, I don't really understand what you mean. Can you share a screenshot so I can see the issue in more detail?

[2022-01-21 17:40] jigsawsecurity commented on #1231
Sure here is an example. See how the menu covers the chart?
![error](https://user-images.githubusercontent.com/14302946/150574534-2218ad59-761b-4adb-bb40-d01a669fe035.png)

[2022-01-21 22:03] Chavithra opened #1236 "[Bug] Fundamental Analysis > DCF"
**Describe the bug**

Looks like there is a `str` to `float` conversion issue here :
- module : `gamestonk_terminal.stocks.fundamental_analysis.dcf_view`
- class : `CreateExcelFA`
- function : `create_workbook`

**To Reproduce**

Here is the code to generate the error :
[code]

**Screenshots**

Here is the error :
`ValueError: could not convert string to float: '9.20%'`

[2022-01-21 22:27] colin99d commented on #1236
Looks like their weekly reformat the site is going well

[2022-01-21 22:39] jmaslek commented on #1219
Hey!  Docker was updated today so this should be fixed.  Let us know if not

[2022-01-22 00:29] #1236 closed

[2022-01-22 19:43] CoconutMacaroon opened #1244 "[QUESTION] How do I set a custom flair?"
I see that there are a bunch of flairs available
https://github.com/GamestonkTerminal/GamestonkTerminal/blob/6f74dd641bb5fae53bd53c80b14ce9eaef2b78a8/gamestonk_terminal/helper_funcs.py#L725-L749
I'd like to be able to set the flair to a custom string, say, `( )` or really anything I want. Is there a way I can use a custom string as the flair? Ideally, I'd like to use an environment variable, but s

[2022-01-22 21:45] aia opened #1247 "[Bug] Tests are getting stuck on etf/technical_analysis/test_ta_controller.py"
Tests are getting stuck

https://github.com/GamestonkTerminal/GamestonkTerminal/pull/1245

[code]

[2022-01-22 23:25] colin99d commented on #1172
I am going to go ahead and close this issue. If you have any further questions we would love to help you on our discord: https://discord.gg/Up2QGbMKHY.

[2022-01-22 23:26] #1172 closed

[2022-01-22 23:34] colin99d commented on #1244
I will work on this one.

[2022-01-23 16:40] jmaslek commented on #1247
This seems related to the bump of pandas.

[2022-01-23 21:47] #1202 closed

[2022-01-23 22:48] #1244 closed

[2022-01-24 03:22] CoconutMacaroon opened #1255 "Web UI TODO Tracking"
Note that I test the web UI on a server running Debian 11 Bullseye with the 5.15 Linux kernel.

Here's what works and what doesn't:
- [x] Basic terminal output works
- [x] Font selected that supports lines for the tables and required Unicode characters - I chose Consolas. It looks nice, supports the required characters, and is reasonably well-liked.
- [x] API keys - they work, set them in the `gam

[2022-01-24 06:19] yellowcandle commented on #1219
Issue fixed after pulling latest image, thanks!

[2022-01-24 06:19] #1219 closed

[2022-01-24 10:59] DidierRLopes commented on #1247
Closing this for now because we have a temporary fix

[2022-01-24 10:59] #1247 closed

[2022-01-24 11:01] DidierRLopes commented on #1231
Gotcha! We want to improve our general plotting in the terminal to make it more consistent and nicer. See #1228. @piiq let's try to use `loc=best` so we avoid this situation

[2022-01-24 11:31] Chavithra opened #1256 "[Bug] Economy > Fred : option issue"
**Describe the bug**
Looks like there is an issue with this funcion.
- module : `gamestonk_terminal.economy.fred.fred_controller`
- class : `FredController`
- function : `call_rmv`

The `--all` option for the command `rmv` doesn't seem to work.

[2022-01-28 01:27] colin99d opened #1277 "[Bug] Stocks/DPS/Prom"
**Describe the bug**
The command is not running.

**To Reproduce**
Go to stocks/dps/prom

**Screenshots**
<img width="1127" alt="Screen Shot 2022-01-27 at 8 26 10 PM" src="https://user-images.githubusercontent.com/72827203/151470867-74802b4f-bfd9-480a-b292-3a067af7429b.png">

**Desktop (please complete the following information):**

- OS: Mac Monterey
- Python 3.8.12

[2022-01-29 01:58] jmaslek opened #1283 "[Bug] Alphavantage daily adjusted endpoint is now premium"
**Describe the bug**
Alphavantage daily adjusted endpoint is now premium so the `load {} --source av` throws error

**To Reproduce**
`python terminal.py stocks/load aapl --source av`

[2022-01-29 20:45] colin99d opened #1286 "stocks/load baba/ins/act"
**Describe the bug**
Running the commands above throws an error.

**To Reproduce**
python terminal.py `stocks/load baba/ins/act`

**Screenshots**
<img width="1042" alt="Screen Shot 2022-01-29 at 3 40 05 PM" src="https://user-images.githubusercontent.com/72827203/151676853-8ba154fd-a2ee-4dfb-a2a4-fb26666698c2.png">

**Desktop (please complete the following information):**

- OS: Mac Monterey
- Pyth

[2022-01-29 22:19] Chavithra opened #1287 "[Bug] Cryptocurrency > Discovery > Dappradar"
**Describe the bug**
Error from these functions :
- `get_top_dexes`
- `get_top_games`
- `get_top_dapps`

These functions are from the module :
- `gamestonk_terminal.cryptocurrency.discovery.dappradar_model`

The error :
- {"error":"Bad request"}

[2022-01-29 22:20] jose-donato commented on #1287
aff, they must have changed the api. will take a look

[2022-01-31 15:48] jose-donato commented on #1287
@Chavithra can you confirm that you still get this error?
i'm not getting this on my end

[2022-01-31 16:27] Chavithra commented on #1287
You are right it works now !

Maybe it was some midnight maintenance on these 3 endpoints.

[2022-01-31 18:08] #1287 closed

[2022-02-02 06:45] guanquann opened #1300 "[IMPROVE] Integrate stocksera API into stocks/insider/finviz_model.py"
I have been scraping Finviz regularly and saving the insider trading records in my own database. The stocksera API gives you access to the historical insider trading data. Both of them will return a panda dataframe.

[code]

Not sure how useful will it be, but here is the documentation to the api I have currently. https://github.com/guanquann/Stocksera-API

[2022-02-02 09:47] DidierRLopes commented on #1300
Hi @guanquann ,

Thanks for reaching out! Impressive work with Stocksera btw!

Our team will have a peek at how we can use this data on the terminal, thank you 😄

@jmaslek @JerBouma @deeleeramone

[2022-02-02 12:49] JerBouma opened #1301 "[Bug] Finnhub's past and future IPOs functions return nothing"
**Describe the bug**
There is no data available anymore for past and future IPOs from Finnhub.

**To Reproduce**
When you access stocks/disc and use _pipo_ or _fipo_ you get no data.

**Screenshots**
![image](https://user-images.githubusercontent.com/46355364/152156882-b307814d-a512-4d67-997c-e5a96d31b19f.png)

**Desktop (please complete the following information):**

- OS: Windows 10
- Python ver

[2022-02-02 15:33] piiq opened #1303 "General Plot Titles and Layouts (consistent capitalization / legends potentially outside bbox)"
In the works here https://github.com/GamestonkTerminal/GamestonkTerminal/pull/1228

[2022-02-02 15:34] #1303 closed

[2022-02-03 10:23] JerBouma opened #1307 "[IMPROVE] Missing API Keys is not always clear"
**What's the feature that should be improved?**
Within Stocks --> Behavioural Analysis the function 'stats' return 'No sentiment stats found.' both when there is no data and when you entered an invalid API key. Same goes for the Reddit and SentimentInvestor functionalities.

**Describe how you would like the feature improved**
 When no API key is set, this should give a different message. It is un

[2022-02-03 21:13] jmaslek commented on #1301
Is your API key defined?
<img width="1164" alt="Screen Shot 2022-02-03 at 4 12 36 PM" src="https://user-images.githubusercontent.com/18151143/152429751-2b4377a0-d227-433a-bf8b-259a04d7aba5.png">

[2022-02-03 21:16] JerBouma commented on #1301
Ahh, then this item fits with #1307. It is (to me) unclear which items require an API key and which don't. Yes, I could open the config file but that shouldn't be mandatory right.

[2022-02-03 21:21] jmaslek commented on #1307
So this is what I tried to accomplish with the `keys` command on the main menu.

Yes we should have some better handling, but what if you accidentally copy a 0 instead of a O?  You will likely receive the same empty data, but we would not know if it is because a bad request or because the API key (which we can really just check that it is not "REPLACE_ME".

[2022-02-03 22:01] #1301 closed

[2022-02-04 00:02] colin99d opened #1309 "Log_start_end crashes"
**Describe the bug**
Line 54 of decorators.py crashes when it gets undesired inputs. I am going to leave this to you @LBolte29, since I do not want to ruin logging.

**To Reproduce**
Go to `jupyter/reports/1`.

**Screenshots**
<img width="922" alt="Screen Shot 2022-02-03 at 7 01 42 PM" src="https://user-images.githubusercontent.com/72827203/152449512-9c369c05-1a60-4ef9-a510-2b606b14787e.png">

**D

[2022-02-05 18:00] DidierRLopes commented on #1309
@LBolte29 can you have a look at this when u have time?

[2022-02-05 18:16] DidierRLopes commented on #1283
<img width="1343" alt="Screenshot 2022-02-05 at 18 16 15" src="https://user-images.githubusercontent.com/25267873/152653859-00b10d0a-da2c-4a12-9470-002a3d34d434.png">

This is being flagged correctly on the terminal. Is there anything in specific you want out of this?

[2022-02-05 18:20] jmaslek commented on #1283
is there any reason to keep it?

[2022-02-05 18:25] DidierRLopes commented on #1277
I didn't have any issue.
<img width="1639" alt="Screenshot 2022-02-05 at 18 21 22" src="https://user-images.githubusercontent.com/25267873/152654011-649fad90-48a5-48ad-a96d-8709c610cdc3.png">

Am assuming the error is with linear regression done by stats model based on your traceback, thus added a protection there.
<img width="591" alt="Screenshot 2022-02-05 at 18 24 50" src="https://user-images.g

[2022-02-05 20:50] DidierRLopes commented on #1283
Is there any reason to remove it? I mean, if you have a Premium key it will work.

[2022-02-05 20:52] jmaslek commented on #1283
¯\_(ツ)_/¯. we have historically gotten rid of premium stuff

[2022-02-05 20:53] DidierRLopes commented on #1256
#1317 will fix this

[2022-02-05 20:55] DidierRLopes commented on #1307
@colin99d is this fixed?

[2022-02-05 20:58] colin99d commented on #1307
For everything but the stocks menu. Once we get the terminal.py PR merged I will start working on the rest of the bugs.

[2022-02-05 21:37] DidierRLopes commented on #1283
Let's leave it for now! Closing this because it's not really a bug 😋

[2022-02-05 21:37] #1283 closed

[2022-02-05 22:10] DidierRLopes commented on #1277
Fixed in #1317

[2022-02-05 22:10] #1277 closed

[2022-02-05 22:10] DidierRLopes commented on #1256
Fixed in #1317

[2022-02-05 22:10] #1256 closed

[2022-02-06 20:53] colin99d opened #1322 "[IMPROVE]Forex titles do not follow convention"
**What's the feature that should be improved?**
 USD/GBP should have a title of USD/GBP and not GBP/USD on forex/candle.

**Describe how you would like the feature improved**
Fix the title.

[2022-02-07 16:37] LBolte29 commented on #1309
sorry guys, just seen this now! Will have a look

[2022-02-07 18:35] colin99d commented on #1322
This looks like it is now match a google search of USD/GBP.

[2022-02-07 18:35] #1322 closed

[2022-02-07 18:53] LBolte29 commented on #1309
there is a bug in line 192 in the reports controller
![image](https://user-images.githubusercontent.com/97528701/152852764-8d0a5c65-609c-4d48-9f10-30beefb4facd.png)
other_args = []
params = ['ticker ']

[2022-02-07 19:03] LBolte29 commented on #1309
the bug caused by the decorator will already be handled by https://github.com/GamestonkTerminal/GamestonkTerminal/pull/1292
the short-term fix could be this
![image](https://user-images.githubusercontent.com/97528701/152854349-8384bbac-a7ce-46e3-8f08-98d81f2435a9.png)
but thereafter the bug above appears

[2022-02-07 19:10] LBolte29 commented on #1309
Nvm, need a ticker for options 1, 3 and 4 - maybe can work out a more descriptive error message

[2022-02-07 19:28] jmaslek commented on #1322
You behind. I fixed when I saw the article ;)

[2022-02-08 02:02] jmaslek opened #1331 "[Bug] Sentiment Investor Trend Command"
Gives error in terminal :(

[code]

[2022-02-08 10:38] jantaf opened #1332 "[Bug] Make a report in Jupyter menu"
**Describe the bug**
When I want to make a report from the jupyter menu, I got an error in all options that appear in this menu.

**To Reproduce**

1. Init GamestonkTerminal
2. Select /jupyter/reports
3. Choose any one option in this menu(econ_data, due_diligence, etc.)
4. Show the error(See the screenshot in the next section)

**Screenshots**
If applicable, add screenshots to help explain your pr

[2022-02-08 16:17] jmaslek opened #1334 "[Bug] Volatility Smile gives error None"
**Describe the bug**
[code]

**To Reproduce**
stocks/load aapl/options/exp 0/plot -c smile

[2022-02-09 11:28] Slamoth opened #1340 "setenv CMC api key does not work"
Even if I enter the CMC API key in the setenv file it does not work.

<img width="612" alt="image" src="https://user-images.githubusercontent.com/6489169/153190807-2ed9f67a-51a7-4a1d-8cfb-0102766b9f2a.png">

But when I curl with the same API key to CMC it works.
command is : `curl -H "X-CMC_PRO_API_KEY: ************************" -H "Accept: application/json" -d "start=1&limit=5000&convert=USD" -G

[2022-02-11 02:38] DidierRLopes commented on #1332
Hey!

Thanks for reporting this!

I think that #1327 should have fixed this! Let me know if it works as expected 😄

[2022-02-11 02:38] #1332 closed

[2022-02-11 14:47] DidierRLopes opened #1350 "[Bug]"
**Describe the bug**
[code]

**To Reproduce**
`python terminal.py scripts/FILENAME -t` where FILENAME is the name of one of the scripts that failed above.

[2022-02-12 01:33] #1231 closed

[2022-02-14 14:35] deeleeramone opened #1359 "[Bug] Stocks/DD/Arktrades - Items are displayed by oldest first, resulting in no current results being found"
Stocks/DD/Arktrades - Items are displayed by oldest first, resulting in no current results being found. Solution would be to display results by newest-to-oldest

![image](https://user-images.githubusercontent.com/85772166/153883780-0d5f8c81-7844-4f9b-805c-35e0d9e31836.png)

![image](https://user-images.githubusercontent.com/85772166/153883816-f3854273-fc6a-4ee8-8a20-eba8fca546b0.png)

[2022-02-14 14:37] deeleeramone opened #1360 "[Bug] DCF - in Windows/Docker Environment: 'NoneType' object has no attribute to 'find'"
reported by Discord user: reckinva#3935

Windows/Docker - Discounted Cash Flow: 'NoneType' object has no attribute to 'find'

![image](https://user-images.githubusercontent.com/85772166/153884168-dc87eda5-121e-4c4a-91e9-81e77624748d.png)

[2022-02-14 14:39] deeleeramone opened #1361 "Stocks/DD/Supplier - Returned output is a list of Commas"
Returned output is a list of commas: /stocks/dd/supplier - (Ford is loaded here)

[code]

[2022-02-14 15:16] deeleeramone opened #1362 "[Bug] /Stocks/Candle - Legends do not appear when adding Moving Averages. Trend lines do not appear when flag set to True."
/Stocks/Candle:  Legends do not appear when adding Moving Averages. Trend lines do not appear when flag set to True.

[2022-02-14 15:29] deeleeramone commented on #1362
It would be great to display the full name of the company, as well as the ticker. When loading from a non-US exchange, the symbol suffix is not displayed in the title.

[2022-02-14 15:51] deeleeramone opened #1363 "[Bug] /stocks/disc/pipo - the limit flag does not work as anticipated. default is 5, but 12 results returned; more than 10 is returned when stated limit is 10."
/stocks/disc/pipo - the limit flag does not work as anticipated. default is 5, but 12 results returned; more than 10 is returned when stated limit is 10.

[code]

[2022-02-15 06:14] minhhoang1023 commented on #1363
@deeleeramone The limit here refers to the limit of past days to look for IPOs, not the number of returned results. I understand that we typical use limit referred to # of returned results in other commands, that might be confusing here.

[2022-02-15 06:24] deeleeramone commented on #1363
Ah. I understand when you explain like that. My ape brain has just been going through updating documentation, and have been replacing all “-n” labels with the updated “-l”. We should try to follow convention wherever possible, so perhaps we can include both? We could utilize either of the flags -d (number of days for look-back); or, -s (start date yyyy-mm-dd). What is the historical window availab

[2022-02-15 10:18] JerBouma opened #1365 "[Bug] Bigmac index does not work"
**Describe the bug**
It seems that it no longer returns any data, perhaps the API changed.

[code]

**To Reproduce**
- Open economy
- Use bigmac with anything

**Desktop (please complete the following information):**
- OS: Windows 11
- Python version: 3.8

[2022-02-15 10:49] JerBouma opened #1366 "[Bug] FRED menu does not work"
**Describe the bug**
When searching for specific titles (even when explicitly mentioning the name/symbol, it returns nothing.

[code]

 Same goes for loading in the data, mentioning an exact SERIES ID returns nothing.
[code]

**To Reproduce**
Go to economy --> fred --> search anything

**Desktop (please complete the following information):**
- OS: Windows 11
- Python version 3.8

[2022-02-15 11:56] JerBouma opened #1367 "[Bug] Not able to call drnft (top non fungible tokens)"
**Describe the bug**
Seems to be broken.

[code]

**To Reproduce**
Go to crypto --> disc --> drnft

**Desktop (please complete the following information):**

- OS: Windows 11
- Python version 3.8

[2022-02-15 12:45] JerBouma opened #1368 "[Bug] Not able to call oi in Crypto DD"
**Describe the bug**
I receive the error:
[code]

While:
[code]

**To Reproduce**
See crypto --> dd --> oi.

**Desktop (please complete the following information):**

- OS: Windows 11
- Python version 3.8

[2022-02-15 14:21] minhhoang1023 commented on #1363
We could add the number of limits though by default IMO one should be turned off. As otherwise, we'd basically cut off some IPOs arbitrary (e.g. there are 11 IPOs in the past 5 days but only 10 selected)

So we can specify as far in the past as you would like

[2022-02-15 14:31] DidierRLopes opened #1370 "[Bug] Efficient Frontier"
When loading `example.csv` on the portfolio menu, we get:
![Screenshot 2022-02-15 at 14 30 22](https://user-images.githubusercontent.com/25267873/154082489-cf71fba6-db78-40e6-a6da-c1533337796a.png)

[2022-02-15 14:33] DidierRLopes opened #1371 "[Bug] Effort with pie"
![Screenshot 2022-02-15 at 14 33 25](https://user-images.githubusercontent.com/25267873/154083048-4652b8ac-ca09-42ff-97f7-7a29f0c3a4ce.png)

[2022-02-15 14:34] minhhoang1023 commented on #1368
@JerBouma Mine works just fine so right now. Which asset did you choose?

<img width="775" alt="image" src="https://user-images.githubusercontent.com/40023817/154083159-b47eb2d9-0ad0-40f8-ae56-73be3e6b327f.png">

[2022-02-15 16:00] JerBouma commented on #1368
Probably on my end then, closing the issue :)

[2022-02-15 16:00] #1368 closed

[2022-02-15 16:04] JerBouma commented on #1365
Which API is linked to this command? I see Nasdaq Data Link but it doesn't appear as an option under /keys?

[2022-02-15 16:05] jmaslek commented on #1365
It's quandl (should change this over since nasdaq finally changed)

[2022-02-15 16:41] JerBouma opened #1373 "[Bug] Volexch on Dark Pool and Short Data returns an error"
**Describe the bug**
Seems volexch returns an error. It doesn't  state there is an API behind it so I assume there is none? Also takes quite some time to load.

[code]

**To Reproduce**
Go to stocks --> dps --> volexch

[2022-02-15 17:25] deeleeramone commented on #1362
Those are the Moving Averages, the -t is a separate flag.

[2022-02-15 18:49] deeleeramone commented on #1363
My personal preference is to show as much as practically possible by default, unless it causes problems or just populates too much screen with 100s of lines. What do you think about this, no limits to the number of returned results, and simply return all results according to the date window specified?

[2022-02-15 21:32] JerBouma commented on #1365
Sounds about right!

[2022-02-15 21:32] #1365 closed

[2022-02-16 04:05] minhhoang1023 commented on #1363
Yes, I personally prefer that too! So taking from this discussion, we'd only need to change the --limit into --days for consistency and clarify, right?

[2022-02-16 05:22] minhhoang1023 commented on #1360
I was testing and it worked for my Mac. @Chavithra as you have windows, it'd be nice if you could give it a quick try to see if we can reproduce this! 🙌

[2022-02-16 05:53] minhhoang1023 opened #1376 "[Bug] effret Portfolio shows the same weight regardless of return"
**Describe the bug**
I was trying different return yet the portfolio weights stay the same in all cases.

<img width="717" alt="image" src="https://user-images.githubusercontent.com/40023817/154204546-6078f5f5-e431-4a94-bfae-8d1177fb1d40.png">

**To Reproduce**
Steps(from the start) and commands to reproduce the behavior
- Ticker chosen: AAPL, TSLA, PYPL
- effret 0.05
- effret 0.1
- effret 0.2

**

[2022-02-16 05:59] minhhoang1023 commented on #1371
@DidierRLopes what were your portfolio's tickers?

[2022-02-16 06:12] minhhoang1023 commented on #1366
I was spending like 15 mins debugging and then realized I didn't set the key 😭 It worked with your search term `search inflation` - Let me know if it works for ya ! 😄

[2022-02-16 06:14] minhhoang1023 commented on #1373
@JerBouma Which ticker did you load here?

[2022-02-16 06:15] minhhoang1023 commented on #1367
i have a mac so i can't reproduce this. @Chavithra could you give it a try? thank you!

[2022-02-16 06:17] minhhoang1023 commented on #1370
@DidierRLopes how do you load the `example.csv` ? Dunno how to do that and don't see instructions with help

[2022-02-16 08:01] minhhoang1023 opened #1377 "[Bug] ef Portfolio/op still error warning when forgot to select tickers"
**Describe the bug**
- When forgot to select tickers, error message was shown. this is confusing, and the current message "Please have at least 2 tickers ... " is enough
- Solution should be use a if statement or try/except

**To Reproduce**
Steps(from the start) and commands to reproduce the behavior

**Screenshots**
<img width="683" alt="image" src="https://user-images.githubusercontent.com/4002

[2022-02-16 08:32] #1373 closed

[2022-02-16 08:33] JerBouma commented on #1367
Just got a Mac so tried it again, still same error. Does it work for you @minhhoang1023?

[2022-02-16 08:36] JerBouma commented on #1366
@minhhoang1023 Ah, I was unaware it needed an API key. Fixed!

[2022-02-16 08:55] deeleeramone commented on #1363
Left!

Err.. correct. 🚀

[2022-02-16 09:40] JerBouma opened #1378 "[Bug] Supplier command returns nothing"
**Describe the bug**
When trying to use the supplier command (stocks --> dd) it returns nothing.

AAPL:
[code]

MSFT:
[code]

[2022-02-16 10:23] JerBouma opened #1379 "[Bug] Functionalities from Financial Modelling Prep don't work"
**Describe the bug**
Seems to not return any data with both MSFT and AAPL. I have API key set.
[code]
Also counts for profile:
[code]
Also quote:
[code]

**To Reproduce**
Go to stocks --> fa --> fmp --> dcf

[2022-02-16 10:55] DidierRLopes commented on #1370
This is actually not related with the load but when you try to use `ef` or other without having no ticker selected

[2022-02-16 10:56] DidierRLopes commented on #1371
It happens regardless, but try TSLA and MSFT for instance

[2022-02-16 11:54] JerBouma opened #1380 "[Bug] Menu stocks/fa"
**Describe the bug**
Seems a problem with the columns?
[code]
Mgmt as well:
[code]

And sust:
[code]

**To Reproduce**
Go to stocks --> fa --> info

[2022-02-16 13:23] JerBouma opened #1381 "[Bug] Some function of Stocks's Insiders Trading don't work"
**Describe the bug**
See:
[code]

And I expect some data here:
[code]

[2022-02-16 13:34] jmaslek commented on #1378
Duplicate #1361

[2022-02-16 13:34] #1378 closed

[2022-02-16 13:41] jmaslek commented on #1376
Think this is a feature not a bug:  if you look at the efficient frontier I think it paints a picture as to why the weights kind of stay the same.

![efret](https://user-images.githubusercontent.com/18151143/154276166-ec5013c4-91f6-4718-a801-ae608dea6d33.png)

[2022-02-16 13:59] JerBouma commented on #1380
Seems the function is not always stable, I was on the latest branch and poetry install but re-running the function now works.

[2022-02-16 14:04] jmaslek commented on #1380
Correct. Will fix

[2022-02-16 15:32] JerBouma opened #1382 "[Bug] messages doesn't work within BA Menu"
**Describe the bug**
Seems to not be linked to API?
[code]

[2022-02-16 15:49] JerBouma opened #1384 "[Bug] stats from Finnhub BA doesn't work"
**Describe the bug**
No data available, does this make sense?

[code]

[2022-02-16 17:15] DidierRLopes commented on #1380
Merged!

[2022-02-16 17:15] #1380 closed

[2022-02-16 17:15] DidierRLopes commented on #1379
Merged!

[2022-02-16 17:15] #1379 closed

[2022-02-16 19:53] deeleeramone opened #1385 "[Bug] Portfolio/Efficient Frontier - victim of global style changes. No labels, no title, no efficient frontier line"
All labels have been removed, no title.

![Screen Shot 2022-02-16 at 11 46 22 AM](https://user-images.githubusercontent.com/85772166/154344199-36bc154c-b684-4d16-929f-e9e526ccb767.png)

Old image, and since then each large dots (assets) were given individual names as equity symbol.

![](https://user-images.githubusercontent.com/85772166/147480056-27682fb8-4087-44ff-acdc-4dcb931ea674.png)

[2022-02-16 20:09] deeleeramone commented on #1385
an update to this: restarted and the missing things show up. Good news! On that note, the legend is in an unfortunate position, the legend label for "assets" didn't change from Black to White.

[2022-02-17 13:19] DidierRLopes opened #1387 "[Bug] Visualise sia metric over time when loading AAL ticker"
<img width="553" alt="Screenshot 2022-02-17 at 00 23 18" src="https://user-images.githubusercontent.com/25267873/154489847-abd46e4e-851f-4b15-a1af-5db0938b7183.png">

[2022-02-17 19:18] jmaslek commented on #1385
So I removed the assets since they are individually labeled.  To keep with convention I changed the legend to be loc="best" and make sure it was defined after everything was drawn (initially it was drawn just after the Ef yellow curve).  Putting the legend outside the axis made It look like an additional title.

![EF1](https://user-images.githubusercontent.com/18151143/154554375-89b5c52f-47d9-4359

[2022-02-17 19:27] jmaslek commented on #1371
@DidierRLopes -- with AAPL and TSLA (I can't recreate with MSFT either)
![efret1](https://user-images.githubusercontent.com/18151143/154555855-721606c6-6036-4a70-8b13-77b2182d68c2.png)

[2022-02-17 19:39] jmaslek commented on #1376
Closing since this is not a bug

[2022-02-17 19:39] #1376 closed

[2022-02-17 19:42] DidierRLopes opened #1389 "[Bug] using prt"
![Screenshot 2022-02-17 at 19 42 31](https://user-images.githubusercontent.com/25267873/154558374-99f8d892-9913-4c46-88d3-aaeb5102c810.png)

[2022-02-17 19:44] DidierRLopes opened #1390 "[Bug] stocks/options/screen scr with not unique returned tickers"
![Screenshot 2022-02-17 at 19 44 10](https://user-images.githubusercontent.com/25267873/154558660-e94fd1ad-5188-4c79-b236-e5c0d873a58f.png)

[2022-02-18 01:39] jmaslek commented on #1334
Think I fixed this in the giant style P
![smile](https://user-images.githubusercontent.com/18151143/154601147-fcc501e0-e56c-4971-b3fb-c6aefe4c43cd.png)
R

[2022-02-18 01:39] #1334 closed

[2022-02-18 18:35] CaptainTollBooth commented on #527
First time attempting to run the terminal.py and I get this error.

However, when I try and locate gamestonk_terminal/main_helper.py, I don't even see that file.

I see this issue was closed.  But could there be an alternative workaround?

[2022-02-19 01:43] CoconutMacaroon commented on #1255
@CaptainTollBooth For Docker, see [this](https://github.com/GamestonkTerminal/GamestonkTerminal/blob/main/DOCKER_ADVANCED.md#display). It explains how.

As for the web UI, you're correct, graphs don't work. Sorry, I should have given an update, but I forgot. The web UI uses a program that allows one to run a terminal in a browser (gotty). To do that, gotty has two options for rendering the termina

[2022-02-19 05:44] CaptainTollBooth commented on #1255
Thanks for pointing that out.

So far I got the setenv file loading ok, xquartz installed, but the DISPLAY parameter pointing to the IP address doesn't seem to be working. I will have to test further and figure out what I am missing.

[2022-02-19 12:31] #1390 closed

[2022-02-19 12:31] #1389 closed

[2022-02-19 12:40] DidierRLopes opened #1395 "[Bug] Minor bug leaving qa menu"
<img width="368" alt="Screenshot 2022-02-19 at 12 39 31" src="https://user-images.githubusercontent.com/25267873/154801169-fb14cdad-fdc9-457d-8d4d-988046a3c624.png">

[2022-02-19 12:43] DidierRLopes opened #1396 "[Bug] crypto/onchain/whales without API key"
<img width="701" alt="Screenshot 2022-02-19 at 12 42 53" src="https://user-images.githubusercontent.com/25267873/154801293-bf71d5be-3de3-4fb3-a05f-62a10520e3b5.png">

[2022-02-19 12:53] DidierRLopes opened #1397 "[Bug] Index missing on etf/compare"
<img width="383" alt="Screenshot 2022-02-19 at 12 53 14" src="https://user-images.githubusercontent.com/25267873/154801622-0d5675b4-3e9f-47d5-900c-4cc26b5544cf.png">

[2022-02-19 14:37] CaptainTollBooth commented on #1255
I GOT IT WORKING!

This is exciting.. Must have had something wrong with the path or something the first time..

Time to explore some of these features, and then I suppose figuring out how to add in machine learning, tensorflow, etc..

[2022-02-19 17:50] #1370 closed

[2022-02-19 17:50] #1377 closed

[2022-02-19 17:50] #1385 closed

[2022-02-19 17:51] jmaslek commented on #1371
@DidierRLopes can you close this if I fixed it?

[2022-02-19 17:51] #1366 closed

[2022-02-19 21:01] DidierRLopes commented on #1371
I still get it, may be due to my version. Will do poetry install and try again

[2022-02-19 23:08] DidierRLopes commented on #1371
That did it 😄  @jmaslek

[2022-02-19 23:08] #1371 closed

[2022-02-20 08:31] deeleeramone opened #1398 "2022 Feb 20, 03:26 (✨) /crypto/onchain/ $ whales - not responsive"
2022 Feb 20, 03:26 (✨) /crypto/onchain/ $ whales
Error: 'to'

Error: 'list' object has no attribute 'sort_values'

2022 Feb 20, 03:26 (✨) /crypto/onchain/ $ whales -s amount_usd
Error: 'to'

Error: 'list' object has no attribute 'sort_values'

[2022-02-20 08:35] deeleeramone opened #1399 "/crypto/onchain/ $ hr - legend prints on top of itself"
<img width="1280" alt="Screen Shot 2022-02-20 at 12 29 29 AM" src="https://user-images.githubusercontent.com/85772166/154834878-64d6ed69-205b-41d2-886d-f79326f14873.png">
<img width="377" alt="Screen Shot 2022-02-20 at 12 29 17 AM" src="https://user-images.githubusercontent.com/85772166/154834882-935d8bb4-47e1-40a1-919d-0bfb33edf43b.png">

[2022-02-21 10:30] DidierRLopes opened #1404 "[Bug] Timezone having a "/" it's an issue"
This makes it so that it is recognised as a new command.

The solution is to change the auto-complete to have "-" instead of "/", and then in the moment of setting it reverting back.

[2022-02-21 14:29] piiq commented on #1367
@JerBouma can you check of you can access this URL
https://nft-sales-service.dappradar.com/v2/collection/day?limit=20&page=1&currency=USD&sort=marketCapInFiat&order=desc ?

[2022-02-21 14:31] #1367 closed

[2022-02-21 14:33] piiq commented on #1309
resolved by https://github.com/GamestonkTerminal/GamestonkTerminal/pull/1292

[2022-02-21 14:34] piiq commented on #1359
resolved by https://github.com/GamestonkTerminal/GamestonkTerminal/pull/1375

[2022-02-21 14:35] piiq commented on #1361
resolved by https://github.com/GamestonkTerminal/GamestonkTerminal/pull/1372

[2022-02-21 14:35] #1361 closed

[2022-02-21 14:44] piiq commented on #1363
Yeah, to force consistency it would be nice to have
- "-l/--limit" to limit the number of lines in the output
- "-d/--days" to specify how many days to check in the past or "-s/--start" to specify starting date (or both?)

Ideally there should be default values on the view and model function kwargs level to simplify usage from the notebook api

[2022-02-21 15:32] #1362 closed

[2022-02-21 16:22] JerBouma opened #1405 "[IMPROVE] Make the Portfolio menu work well with a lot of tickers"
**What's the feature that should be improved?**
When using the Portfolio menu, I noticed that some functions struggle when using a lot of tickers. For example, see the graph below:
![Figure_1](https://user-images.githubusercontent.com/46355364/154992390-ec300e27-a0e1-4c75-a5b4-cb8bd098060b.png)

Furthermore, when you load in your portfolio it makes sense that when visiting the _portfolio optimisat

[2022-02-21 17:18] colin99d commented on #1397
This has been fixed.

[2022-02-21 17:18] #1397 closed

[2022-02-21 20:37] piiq commented on #1340
If I understand correctly it's only the test failing, and the requests in cmc commands actually work
<img width="561" alt="image" src="https://user-images.githubusercontent.com/11668535/155023327-4e5b38dc-f179-46aa-beb6-0caf69501cc1.png">

[2022-02-22 00:39] deeleeramone commented on #1362
It appears to have been remedied! Lines now a thing, however look at the low trend line - giving us artificial data points on the Y-axes with a negative share price value. With volume now labeled on the scale, we don’t need a scientific notation printout on the label. It would be ideal to make the price and volume label tight to the outside, like the title in the top-left, and make the font the sa

[2022-02-22 00:46] deeleeramone commented on #1362
—MA flag appears to be glued to ‘On”

2022 Feb 21, 19:44 (✨ ) /stocks/ $ candle -h
usage: candle [-p] [--sort {AdjClose,Open,Close,High,Low,Volume,Returns,LogRet}] [-d] [--raw] [-n NUM] [-t] [--ma MOV_AVG] [-h] [--export {csv,json,xlsx}]

Shows historic data for a stock

optional arguments:
  -p, --plotly          Flag to show interactive plotly chart. (default: True)
  --sort {AdjClose,Open,Close

[2022-02-22 05:26] minhhoang1023 commented on #1384
@JerBouma This is a Premium feature so it'd require submission. However, in my opinion, it should be clear which one is Premium feat and which is not. Wdyt?

[2022-02-22 08:42] JerBouma commented on #1384
@minhhoang1023 Hmm, can't we capture the error message here? I presume it would say something like "Premium Feature.. please subscribe"

[2022-02-22 10:00] minhhoang1023 commented on #1384
@JerBouma The error message is simply `{"error":"You don't have access to this resource."}`

[2022-02-22 15:48] #1387 closed

[2022-02-22 20:17] #1399 closed

[2022-02-22 21:01] #1396 closed

[2022-02-22 21:01] #1398 closed

[2022-02-23 07:16] #1382 closed

[2022-02-23 12:40] #1363 closed

[2022-02-23 17:02] colin99d commented on #1360
@minhhoang1023 did your PR get merged that fixes this?

[2022-02-23 19:28] #1395 closed

[2022-02-26 21:18] deeleeramone opened #1420 "[Bug]Stock Screener - (applicable everywhere) Sorting labels have spaces; spaces are incompatible."
Choices for sorting in ownership have a space in them; the inputs fields are not able to handle a space.

2022 Feb 25, 17:29 (✨) /stocks/scr/ $ ownership -s Float Short
ownership: error: argument -s/--sort: invalid choice: 'Short' (choose from 'Ticker', 'Market Cap', 'Outstanding', 'Float', 'Insider Own', 'Insider Trans', 'Inst Own', 'Inst Trans', 'Float Short', 'Short Ratio', 'Avg Volume', 'Price

[2022-02-28 14:48] minhhoang1023 commented on #1384
Update: this will be addressed with #1357

[2022-02-28 14:49] minhhoang1023 commented on #1360
@colin99d Nope not yet. I wasn't able to reproduce this

[2022-02-28 19:32] piiq commented on #1340
@minhhoang1023 will this also be fixed by https://github.com/GamestonkTerminal/GamestonkTerminal/pull/1357?

[2022-02-28 21:26] deeleeramone opened #1425 "[Bug] Stocks/Candle: Moving Average flag has defaulted to on, and it can't be turned off."
stocks/candle: Moving Average flag has defaulted to on, and it can't be turned off. Default should be off.

also of note: the scale in the volume graph is labelled appropriately but the label has scientific notation. aligning the "volume" label hard-right would decrease crowding.

![Screen Shot 2022-02-28 at 1 21 27 PM](https://user-images.githubusercontent.com/85772166/156060604-646cf89d-2e95-4c7

[2022-03-02 02:52] deeleeramone opened #1426 "[Bug] stocks/options/grhist - Two lines are the same colour."
Both lines are the same colour.
Y-Axis labels are both on the right side.
Y-Axis labels crowd the scale label.
Titles should have a larger font size, and should be Capitalized.

![image](https://user-images.githubusercontent.com/85772166/156285239-7bba5474-40ff-4ae2-a3d8-d745166fe1c1.png)

[2022-03-02 15:22] minhhoang1023 commented on #1381
@JerBouma I'm trying to reproduce it and it's working for me. This has been almost two weeks ago so could happen that it got fixed. Can you give it a try again and let me know if it works?

<img width="921" alt="image" src="https://user-images.githubusercontent.com/40023817/156391444-82358746-7da0-4507-adf6-0fe97d7ee388.png">

<img width="923" alt="image" src="https://user-images.githubusercontent

[2022-03-02 15:46] #1426 closed

[2022-03-02 15:55] JerBouma commented on #1381
@minhhoang1023

It indeed works now!

[2022-03-02 15:55] #1381 closed

[2022-03-02 20:56] #1425 closed

[2022-03-03 03:04] minhhoang1023 commented on #1381
yay!

[2022-03-03 13:43] colin99d commented on #1307
Now that I am ready this all the way my bug fixes will not fix this. We should probably discuss a system where every time we try to grab an API key it checks if it exists and then displays warnings accordingly.

[2022-03-03 13:56] #1340 closed

[2022-03-03 15:13] #1097 closed

[2022-03-05 15:27] #1307 closed

[2022-03-07 04:52] minhhoang1023 commented on #1384
close as we no longer have `stats`, and only have `news` from this PR #1421

[2022-03-07 04:52] #1384 closed

[2022-03-07 08:06] minhhoang1023 opened #1441 "[Bug]Stock Screener - No Ticker Found with several commands"
**Describe the bug**
<img width="444" alt="image" src="https://user-images.githubusercontent.com/40023817/156991749-e8df269d-1f83-4ef2-b95b-dade4aea7e40.png">

this is due to finvizfinance package is outdated, and not able to scrape the website.

**To Reproduce**
finvizfinance version: 0.9.10

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete

[2022-03-07 14:23] Chavithra opened #1445 "[Bug] ENABLE_RICH = False + USE_TABULATE_DF = True"
**Describe the bug**
The following combination of feature crash the display.
[code]

Error message displayed when running `stocks/disc/active` command :
[code]

[2022-03-08 11:43] mayanklal opened #1450 "[Bug] WSL2 - Matlplotlib unable to show plot."
**Describe the bug**
While using GST on WSL2, I'm getting this error message - ```
UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  pyplot.pause(0.1)
[code]

[2022-03-08 15:07] mayanklal commented on #1450
Didn't see this link - https://medium.com/@shaoyenyu/make-matplotlib-works-correctly-with-x-server-in-wsl2-9d9928b4e36a.

Will close it.

[2022-03-08 16:25] GabrieleRisso commented on #1441
Im experiencing the same error, can l help to fix

[2022-03-08 17:48] popcsev opened #1451 "[Bug] Subprocess to install build dependencies did not run successfully."
After creating the environment `conda env create -n gst --file build/conda/conda-3-8-env.yaml` I tried to install with poetry but it failed.

Next, I tried to install with `pip install -r requirements.txt` however I run into the error pasted below.

- OS: 12.0.1
- Python 3.8.12

[code]

**Additional context**
Add any other information that you think could be useful for us.

[2022-03-09 18:43] DidierRLopes opened #1459 "[Bug] crypto minor bugs"
![Screenshot 2022-03-09 at 18 42 56](https://user-images.githubusercontent.com/25267873/157509606-0ea86580-7de4-4f03-86d2-c43a1d38dd05.png)

![Screenshot 2022-03-09 at 18 43 14](https://user-images.githubusercontent.com/25267873/157509651-42aa0963-6830-4bab-ab93-50b18af9b73c.png)

[2022-03-09 18:44] DidierRLopes opened #1460 "[FR] Crypto should load crypto using Yahoo finance"

[2022-03-09 18:45] DidierRLopes commented on #1459
![Screenshot 2022-03-09 at 18 45 51](https://user-images.githubusercontent.com/25267873/157510033-ed1b565a-c5c6-4e1b-ac73-e0c4f2ae15a1.png)

[2022-03-09 20:06] deeleeramone opened #1461 "[Bug] /stocks/load slgg/qa/pick/volume/line - Y-Axis label is on the left, underneath the chart Title."
/stocks/load slgg/qa/pick/volume/line - Y-Axis Label is on the left side of the chart, and is covered up by the Title. Other charts in the terminal have volume labeled as 1M, 1K. This is much more user-friendly than scientific notation.

<img width="1324" alt="Screen Shot 2022-03-09 at 12 01 41 PM" src="https://user-images.githubusercontent.com/85772166/157524401-3b683ae5-a88c-4f82-81b2-3308b5dd37

[2022-03-10 11:47] jose-donato commented on #1459
Regarding load commands i think the whole command needs to be updated to use [ccxt package](https://github.com/ccxt/ccxt#usage). Since the loading from source to source differs a lot it's difficult to tackle all these different situations where the ticker can be btc or bitcoin and then some sources compare it against different stablecoins (usdt, busd, usdc,...) and others compare directly against

[2022-03-10 11:59] jose-donato opened #1464 "[Bug] Common bot functions using imgur/discord specific code"
**Describe the bug**
Some bot functions are uploading images to imgur while other functions are not. I think all the functions should not use imgur and just export the image location (like some functions are already doing) and then outside the function we can decide whether imgur is used or not to get a public URL for the image.

**This makes bots on other platforms to break if imgur is not config

[2022-03-10 12:25] DidierRLopes commented on #1459
True!

However, in this case the first screenshot corresponds to a missing "return", so even if we were using ccxt and the ticker wasn't found there would still be an issue

[2022-03-11 14:34] northern-64bit commented on #1464
I agree with this. Imgur has an (free) api limit and thus it hinders large scale deployment of the bot so we should switch away from it.

The original solution with imgur was created by me since you had to upload images to discord with a public url and imgur was an easy way to create one. Now when there's another way of doing this one should definitely switch to it.

If I can help with the impleme

[2022-03-11 15:10] jose-donato commented on #1464
Yea, exactly! Imgur was a great idea and perfect to bootstrap the discord bot. Kudos for that 🙌

But since the majority of the platforms allow to upload the images directly I would suggest that all the functions save the files locally by default and each platform controller reads the file and uploads to the platform (and removes the file once it is finished). If a platform does not allow this, we

[2022-03-11 18:34] tehcoderer commented on #1464
[code]

if you use this for the other bots you'll get the images location without uploading to imgur and can then use that to upload them. I'm working on making it a little more user friendly

![image](https://user-images.githubusercontent.com/61340027/157926542-e34fc77a-d100-44e2-8466-20078e2aaa8d.png)

[2022-03-12 06:04] tehcoderer commented on #1464
https://github.com/tehcoderer/GamestonkTerminal/commit/e605c1278365c5c9f076b0743e545f2ad701ce34#r68519151

Let me know haha

[2022-03-12 19:05] jose-donato commented on #1460
u mean with `--source yf`?

[2022-03-12 19:07] jmaslek commented on #1460
ya.  and probably as the default?

[2022-03-13 03:37] deeleeramone opened #1478 "[Bug] /stocks/options/oi - there is no legend for the chart."
Missing is the legend for Puts and Calls.

![image](https://user-images.githubusercontent.com/85772166/158043929-b13cc678-6117-4aad-816e-aeb59b8d2c44.png)

[2022-03-13 03:42] deeleeramone opened #1479 "[Bug] /stocks/options/hist - a chart is not displayed and the -h flag is not recognized."
The data is great, but is the intention to plot everything there? Perhaps plotting the vol/oi ratio with the high & low plots in a two-scale y-axis set over time is the visual for this data?

[code]

[code]
[code]

[2022-03-13 11:46] jose-donato commented on #1460
hm, i think coingecko/messari/coinpaprika/... are way better for this purpose. but i agree adding it as an additional source

[2022-03-13 17:50] piiq commented on #1441
resolved by https://github.com/GamestonkTerminal/GamestonkTerminal/pull/1443

[2022-03-13 17:50] #1441 closed

[2022-03-13 18:06] piiq commented on #1451
Hey @popcsev Based on the error message I can see that pip is trying to build qdld which is a third level dependency for the pyportfolioopt package. This happens when pip can't find pre-built wheels for your platform. This whole dep branch has not yet been updated for the m1 architecture so only rosetta binaries count. I'm using an m1 mac with Monterrey my self and I've spent some time investigati

[2022-03-13 18:11] piiq commented on #1420
resolved by https://github.com/GamestonkTerminal/GamestonkTerminal/pull/1443

[2022-03-13 18:11] #1420 closed

[2022-03-14 03:12] minhhoang1023 commented on #1441
@GabrieleRisso It's fixed now! Let me know if it still doesn't work for you

[2022-03-14 12:38] DidierRLopes commented on #1404
<img width="408" alt="Screenshot 2022-03-14 at 12 38 07" src="https://user-images.githubusercontent.com/25267873/158173619-38ac1f0d-604f-4f15-91bf-6293c6325227.png">

Seems we are having a different behaviour @minhhoang1023 ?

[2022-03-14 12:40] minhhoang1023 commented on #1459
I'm fixing this bug! The one is already fixed.

For the second screenshot, @DidierRLopes @jose-donato from coingecko, we don't have Volume data and hence the KeyError. Did we have this volume data previously?

[2022-03-14 12:51] jose-donato commented on #1459
@minhhoang1023 i think it was possible before. coinpaprika (--source cp) provides volume if you wanna set that one as default temporarily

[2022-03-14 13:15] GabrieleRisso commented on #1441
@minhhoang1023 I've just updated the terminal and the error is not coming out as before. There is no output showing in the terminal

[2022-03-14 14:15] #1445 closed, assigned to minhhoang1023

[2022-03-14 14:23] jmaslek commented on #1460
Consistency/ no api key/ data returned is actually OHLVC

[2022-03-14 14:35] minhhoang1023 commented on #1441
@GabrieleRisso can you share with me the command you used? Tested intensively and it worked for us

[2022-03-15 03:14] deeleeramone opened #1488 "[Bug] /stocks/bt/rsi - errors are spit out & Y-Axis scale is an unknown value."
The Y-Axis Scale is the same for all three functions in /stocks/bt/ - This value is not price and is not labelled.

[code]

![Screen Shot 2022-03-14 at 8 12 14 PM](https://user-images.githubusercontent.com/85772166/158298612-70a791c3-9620-457f-a1b6-85674573e59b.png)

[2022-03-15 21:39] deeleeramone opened #1492 "[Bug]Stocks Dashboard - When stock has no business information, such as an index or ETF, error message is shown"
Jupyter/dashboards/stocks/ - When stock has no business information, such as an index or ETF, error message is shown.
![Screen Shot 2022-03-15 at 2 35 52 PM](https://user-images.githubusercontent.com/85772166/158477166-92a43002-966a-46d4-a003-0e724d741224.png)

[2022-03-15 23:20] deeleeramone opened #1493 "[Bug] Stocks/Candle: Compact Date Needs To Display Year When Period > 1 year. Other Inconsistent Details"
Compact Date Needs To Display Year When Period > 1 year. Displaying the time under these circumstances does not provide any value or function to the user and also wastes valuable screen space.

<img width="1299" alt="Screen Shot 2022-03-15 at 4 02 38 PM" src="https://user-images.githubusercontent.com/85772166/158486362-100482de-54c1-4551-9e20-9cf6e9c54bae.png">

When compared to the chart produced

[2022-03-16 06:54] deeleeramone opened #1494 "[Bug] /exe - Error: string index out of trange. exe -h creates Traceback"
Attempting to try the EXE function and get errors:

[code]

[2022-03-16 10:18] DidierRLopes commented on #1494
Nice find. Am on it

[2022-03-16 15:15] #1464 closed

[2022-03-17 00:39] #1494 closed

[2022-03-17 11:08] JerBouma opened #1501 "[Bug] Documentation for cryptocurrency not showing correctly"
**Describe the bug**
Seems like something is going wrong in setting up the menu.

**To Reproduce**
Open https://gamestonkterminal.github.io/GamestonkTerminal/ and go to Terminal.

**Screenshots**
<img width="572" alt="image" src="https://user-images.githubusercontent.com/46355364/158796320-4de16e74-2e21-4191-bb07-a36500df98ba.png">

**Desktop (please complete the following information):**

- OS: M

[2022-03-17 17:13] deeleeramone opened #1505 "[Bug] Stocks/Candle: When loading using monthly or weekly, caveats are printed in the terminal."
stocks/candle - the chart is still shown, but these messages are printed too.

[code]

[2022-03-18 09:12] DidierRLopes opened #1507 "[Bug] In Sector and Industry analysis when using StockAnalysis the units aren't taken into account"
`python terminal.py stocks/load aal/sia/clear country/vis re`

<img width="794" alt="Screenshot 2022-03-18 at 10 10 55" src="https://user-images.githubusercontent.com/25267873/158974058-d39e6511-86eb-47b7-b786-df0d580505b9.png">

[2022-03-18 09:19] DidierRLopes opened #1508 "[IMPROVE] stocks/ca/historical"
The default should be not normalised data so that the data isn't modified.

It's counter-intuitive to be using `-n` to not normalize data.

[2022-03-18 09:26] JerBouma commented on #1507
What do you mean exactly?

[2022-03-18 09:34] DidierRLopes commented on #1507
ZNH does not have 90B revenue in Dollars but in Chinese Yuan. So this is misleading because Chinese Yuan is much weaker than dollars.

<img width="1093" alt="Screenshot 2022-03-18 at 10 33 03" src="https://user-images.githubusercontent.com/25267873/158977704-7d28b92d-8766-483f-93d2-6ed5bc8ce835.png">

[2022-03-18 09:35] DidierRLopes opened #1509 "[Bug] volexch bug"
`python terminal.py stocks/load aal/dps/volexch`

<img width="1023" alt="Screenshot 2022-03-18 at 10 34 55" src="https://user-images.githubusercontent.com/25267873/158978025-a7e141b3-6d36-415d-a226-6a1feb2df93c.png">

[2022-03-18 09:35] JerBouma commented on #1507
Ah got it, I wasn't aware they were making that adjustment as well. Will add options similar to what I have for the Economy menu.

[2022-03-18 09:36] DidierRLopes commented on #1507
Thanks! 😄

[2022-03-18 09:44] JerBouma commented on #1507
@colin99d This also applies to you. All these values are set to dollars while they aren't actually dollars. I think it is less of an issue for you since you don't compare between companies (of different countries) but still the dollar symbols here are incorrect.

![Screenshot 2022-03-18 at 10 43 29](https://user-images.githubusercontent.com/46355364/158979396-2a62f654-9ba7-4b5d-a0da-97040ba80619.p

[2022-03-18 09:45] DidierRLopes opened #1510 "[Bug] stocks/ins/lins"
`python terminal stocks/load aal/ins/lins`

<img width="1280" alt="Screenshot 2022-03-18 at 10 44 32" src="https://user-images.githubusercontent.com/25267873/158979593-5070a759-2d82-4f84-944e-18c1ad80060d.png">

[2022-03-18 10:06] DidierRLopes opened #1511 "[Bug] stocks/ca/overview crashes"
`python terminal stocks/load aal/ca/getpoly/overview` crashes

[2022-03-18 10:07] DidierRLopes commented on #1511
This is the issue

[code]

[2022-03-18 10:11] JerBouma opened #1512 "[Bug] stocks/fa/dcf: can't calculate beta"
**Describe the bug**
Seems like it crashes in some scenario's when it can't calculate beta? The report itself is fine though: [ZNH 2022-03-18(3).xlsx](https://github.com/GamestonkTerminal/GamestonkTerminal/files/8303582/ZNH.2022-03-18.3.xlsx)

**To Reproduce**
[code]

**Desktop (please complete the following information):**

- OS: Mac
- Python version 3.8

[2022-03-18 11:49] JerBouma opened #1514 "[Bug] stocks/sia/vis only working 10% of the time due to StockAnalysis"
**Describe the bug**
It seems StockAnalysis.com added an additional layer of protection.  Running this command `python terminal.py stocks/load aal/sia/clear country/vis re` works for the first/second time but then it starts blocking you resulting in no data found. When looking at the `soup` I noticed a Cloudflare page popping up, it seems to be some form of ant-bot measures deployed.

**To Reprodu

[2022-03-18 11:58] JerBouma commented on #1507
So I was able to reproduce the graph with new figures (it now alters the values based on the **median** exchange rate of that specific year) but still some limitations visible due to #151

![Screenshot 2022-03-18 at 12 58 39](https://user-images.githubusercontent.com/46355364/158999220-34919e3d-8b79-4447-a2c1-5e3b78a2091c.png)
4.

[2022-03-18 13:37] jmaslek commented on #1509
Hmmm.  I dont get this error.  There is a chance that you ran this while my update was running (which I do not do in a smart way)

[2022-03-18 13:42] jmaslek commented on #1511
Have you updated with poetry install recently?

[2022-03-18 15:57] deeleeramone opened #1516 "[Bug] Reports: Some images are failing to render. econ_data report does not render any."
Images are not rendering in some reports: econ_data fails to render any image.

<img width="487" alt="Screen Shot 2022-03-18 at 8 54 54 AM" src="https://user-images.githubusercontent.com/85772166/159037753-ffbd3dfc-1dfd-4941-a98c-e6d6c842171f.png">

[2022-03-18 21:00] colin99d commented on #1514
If we are getting a Cloudflare pop up that is unfortunately pretty hard to work around. I was looking into trying to hit their API directly, but it appears that they encrypt the data (the only data I saw was stuff we did not want and then a lot of data that was unintelligible characters). StockAnalysis is the only free service that provides enough data to make a DCF reasonably possible. I think at

[2022-03-18 21:41] DidierRLopes commented on #1514
Kris, the owner of StockAnalysis, was the person who suggested for us to use his website data in the 1st place. I will reach out.

See https://github.com/GamestonkTerminal/GamestonkTerminal/issues/172.

[2022-03-18 21:51] DidierRLopes commented on #1511
Did now, and the error is different but still bug 😄

[code]

[2022-03-18 21:57] DidierRLopes commented on #1509
Just run it now and still getting it. Also had just run `poetry install`

[2022-03-18 22:03] jmaslek commented on #1509
watchu get with --debug?

[2022-03-18 22:10] DidierRLopes commented on #1509
[code]

[2022-03-18 22:23] jmaslek commented on #1509
<img width="1520" alt="Screen Shot 2022-03-18 at 6 21 53 PM" src="https://user-images.githubusercontent.com/18151143/159092229-edc0e9b3-1088-4039-8806-eb7d75b4fd36.png">

any chance your pandas is too far ahead?  I'm confuzzled

[2022-03-18 22:24] jmaslek commented on #1511
what's going on with your env? lo
<img width="930" alt="Screen Shot 2022-03-18 at 6 24 07 PM" src="https://user-images.githubusercontent.com/18151143/159092387-ed4a863d-889e-49ca-8d6b-c461d09c9411.png">
l

[2022-03-19 15:25] andrewkenreich opened #1521 "[IMPROVEMENT] Add jupyter support fro packaged apps"
It started with a number of bugs:

# 1. textwrap3 pyinstaller support

**Describe the bug**
When running .exe textwrap3 is also required...this is brought in by ansiwrap.

**To Reproduce**
Run .exe file from windows or Mac and try to run Jupyter reports- requires textwrap3

https://github.com/jrnl-org/jrnl/issues/1191
https://github.com/jonathaneunice/ansiwrap/blob/master/ansiwrap/core.py

The rep

[2022-03-19 17:08] jmaslek commented on #1516
<img width="1303" alt="Screen Shot 2022-03-19 at 1 07 38 PM" src="https://user-images.githubusercontent.com/18151143/159131087-b52a13eb-5a34-41ac-a95b-7b62c799d20d.png">

I am getting all the images?

[2022-03-19 20:22] deeleeramone opened #1522 "[Bug] Logging: UnicodeDecodeError: 'utf-8' codec can't decode byte 0x99 in position 145: invalid start byte"
This error breaks the Terminal while launching.

[code]

[2022-03-19 21:26] deeleeramone commented on #1522
on another machine (Mac M1/OS 12.3) the error is different, and does not prevent the terminal from launching.

[code]

[2022-03-21 05:55] #1461 closed

[2022-03-21 05:55] #1478 closed

[2022-03-21 05:55] #1479 closed

[2022-03-21 06:13] minhhoang1023 opened #1528 "[FR] Change round brackets to square brackets in y-ticker"
**Describe the bug**
As discussed in PR #1491, round brackets should be updated to square brackets.

There can be multiple of them in the code base. One of which is the oi command

<img width="866" alt="image" src="https://user-images.githubusercontent.com/40023817/159211868-ebaac670-2a60-4ccd-ba01-66a4b1cc7db7.png">

**To Reproduce**
Steps(from the start) and commands to reproduce the behavior

*

[2022-03-21 06:15] deeleeramone commented on #1516
It seems to work when opened as a Jupyter Notebook, but when it is launched from the terminal via /jupyter/reports/ it does not render. Perhaps this is because it is not launching via Voila?

[2022-03-22 09:58] piiq commented on #1451
Closing the issue due to inactivity. If anyone pops up here, please refer to my previous comment for the environment installation instructions

[2022-03-22 09:58] #1451 closed

[2022-03-23 10:45] #1501 closed

[2022-03-23 19:26] #1522 closed

[2022-03-23 23:48] deeleeramone opened #1542 "[Bug] Logging - error message"
[code]

![image](https://user-images.githubusercontent.com/85772166/159814411-4accd0f7-4b89-4b06-8f7c-64d300c6b2cc.png)

[2022-03-23 23:49] deeleeramone commented on #1542
![Screen Shot 2022-03-23 at 4 49 00 PM](https://user-images.githubusercontent.com/85772166/159814818-8e5e7229-0ec3-48eb-80ce-46cd4a77c650.png)

[2022-03-23 23:55] Chavithra commented on #1542
Notes :
- Happening at the start of the Terminal.
- Issue doesn't happend when we disable LoggingClock thread : the log rotation + sending works

[2022-03-24 06:05] deeleeramone commented on #1542
Just updated 2021 Mac M1 machine, and got new messages. Terminal launches, but error message is different.
[code]

[2022-03-24 10:44] #1542 closed

[2022-03-24 19:47] #1510 closed

[2022-03-25 13:42] #1508 closed

[2022-03-25 17:16] #1492 closed

[2022-03-25 19:21] deeleeramone opened #1555 "[Bug] Dashboards fails to launch."
/jupyter/dashboards - failure to launch.

I know I have Voila installed because I have been using it already, this problem is new.

<img width="1142" alt="Screen Shot 2022-03-25 at 12 19 55 PM" src="https://user-images.githubusercontent.com/85772166/160187451-45576109-c975-4954-a31f-b3ed13e753f0.png">

Ran git pull & poetry install  just now.
[code]

[2022-03-25 19:30] deeleeramone opened #1556 "[Bug] Reports - Some reports are not creating the file and are showing execution errors."
/jupyter/reports - Some reports are not creating the file and are showing execution errors.

econ_data
dark_pool
crypto_market

[code]

[2022-03-26 12:06] colin99d commented on #1555
Looks like Voila [does not work with the newest version of Jinja](https://github.com/voila-dashboards/voila/pull/1127). The PR shown above is still failing tests, so it might be some time before it is merged. I think the best strategy for now is to force poetry to use a lower version of Jinja. However, we should keep this bug open so we remember to take out the forced lower version of Jinja later.

[2022-03-26 14:36] piiq commented on #1555
I've previously pinned jinga version to 3.0.3 to make it work. I'll address it again in the PyInstaller PR 'cause I will be touching dep files there

[2022-03-26 16:09] DidierRLopes commented on #1555
Sounds good to me!

[2022-03-27 04:58] joshuabuildsthings commented on #1556
I also experienced this issue. It appears to be a known issue with Jinja. Fix in https://github.com/microsoft/vscode-jupyter/issues/9468#issuecomment-1078468039 addressed it for me.

[2022-03-28 05:37] minhhoang1023 commented on #1493
@deeleeramone Tested this and the datetime format was already fixed. I created the PR to address the magnitude ticker label & remove scientific notations #1565

[2022-03-28 05:39] minhhoang1023 commented on #1493
For the plot scale, both charts are set to auto-scale at the moment. @piiq would you say it's because of mpf - as we are using the package to plot the first one and not the second one

[2022-03-28 06:04] minhhoang1023 commented on #1511
It worked on my side too. @DidierRLopes Could you confirm if your finvizfinance is 0.12.2 version? This error is due to the finvinzfinance upgrade I did a few weeks ago.

[2022-03-28 08:35] #1505 closed

[2022-03-28 08:58] #1460 closed

[2022-03-28 18:29] deeleeramone opened #1570 "[Bug] /economy/performance - 'list' object has no attribute 'rename'"
Updated the terminal only moments ago.

[code]

/economy/valuation is also making errors:

[code]

[2022-03-28 18:41] deeleeramone opened #1571 "[Bug]/economy/index -i tsx plotting unknown data points. X-Axis is a number instead of date."
/economy/index -i tsx produces this chart:

![Screen Shot 2022-03-28 at 11 35 59 AM](https://user-images.githubusercontent.com/85772166/160464417-fe828c77-e49b-4e75-b046-f2d275bb7fa9.png)

X/Y axis are different than when using index -i sp50
<img width="1123" alt="Screen Shot 2022-03-28 at 11 39 30 AM" src="https://user-images.githubusercontent.com/85772166/160464703-ae998e23-1fe2-422a-a3c4-f50b69

[2022-03-28 18:45] deeleeramone commented on #1571
Also generating the same problem with:

index -i nasdaq
index -i nikkei
index -i dax

[2022-03-28 19:18] JerBouma commented on #1570
Expecting this to be fixed today or tomorrow, see: https://github.com/lit26/finvizfinance/issues/46

[2022-03-28 19:19] #1512 closed

[2022-03-28 22:08] deeleeramone opened #1573 "[Bug] /economy/plot - Treasury does not plot on -y1 overlaying with fred mortgage rate data."
The example I was attempting to make was a chart of 30-year Treasuries and Mortgage Rates on 1 axis, and the price of oil, or sp500 etc, on the second axis.  Is stored data from the treasury command expressed as a %?

![Screen Shot 2022-03-28 at 2 56 33 PM](https://user-images.githubusercontent.com/85772166/160493933-9cb22e28-b0db-49e0-bcb3-53ddb7dc487f.png)

![Screen Shot 2022-03-28 at 3 00 34 PM

[2022-03-28 22:10] deeleeramone commented on #1573
[code]

[2022-03-28 22:33] deeleeramone opened #1574 "[Bug] economy/pred/regression - the use of any optional argument produces an error: "regression: error: argument -p/--polynomial: expected one argument""
[Bug] economy/pred/regression - the use of any optional argument - other than help - results in an error message
"regression: error: argument -p/--polynomial: expected one argument"

2022 Mar 28, 18:27 (✨) /economy/pred/ $ regression

![Screen Shot 2022-03-28 at 3 30 17 PM](https://user-images.githubusercontent.com/85772166/160497736-1819e74e-5460-42dc-a733-40357394751c.png)

2022 Mar 28, 18:27 (✨

[2022-03-28 23:35] #1555 closed

[2022-03-29 02:53] deeleeramone opened #1576 "[Bug] crypto/ov/cgproducts - Error: Incorrect path."
crypto/ov/cgproducts
[code]

The same error occurs for: crypto/ov/cgplatforms

[2022-03-29 06:25] minhhoang1023 opened #1577 "[Bug] crypto/headlines lacks legends & y-axis label"
**Describe the bug**
Legends on the plot & y-axis label are missing. It's not clear the unit of the labels neither.

<img width="790" alt="image" src="https://user-images.githubusercontent.com/40023817/160546814-f6305ce7-f024-4918-815f-f241932c9203.png">

The same goes for raw data:

<img width="514" alt="image" src="https://user-images.githubusercontent.com/40023817/160547016-afef36bb-7e59-4e99-9

[2022-03-29 07:49] minhhoang1023 opened #1578 "[Bug] Integrations test failing"
**Describe the bug**
![Uploading image.png…]()

**To Reproduce**
Steps(from the start) and commands to reproduce the behavior

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

- OS: [e.g. Mac Sierra]
- Python version [e.g. 3.6.8]

**Additional context**
Add any other information that you think could be useful fo

[2022-03-29 12:25] piiq opened #1583 "[Bug] stocks/disc/divcal freezes the terminal"
**Describe the bug**
`stocks/disc/divcal -l 2` freezes the terminal

**To Reproduce**
`stocks/disc/divcal -l 2`

**Desktop (please complete the following information):**

- OS: macOS 12
- Python version: 3.8

[2022-03-29 14:24] #1571 closed

[2022-03-29 20:20] deeleeramone commented on #1556
I have an update on this after updating the installation to the latest version:

Things are working again! Of course I still find bugs. haha

crypto_market report - under Global Market Information:

This message prints in the report:

"Parser must be a strong or character stream, not datetime"

This message is printed when launching the report.

[code]

[2022-03-30 02:40] hunttom commented on #1576
It looks like the `cgplatforms` and `cgproducts` is no longer supported and should be removed from the tool.

https://www.coingecko.com/en/api/documentation?

[2022-03-30 19:38] marvision-ai opened #1597 "[Bug] Error: Shape of passed values"
**Describe the bug**
Running ba on wsb provides the following Error.

![image](https://user-images.githubusercontent.com/7716574/160916939-58787f8a-624b-4275-a326-4f48ceff165b.png)

[2022-03-30 21:51] Chavithra commented on #1583
Looks like it doesn't freeze on :
- OS : Windows
- Python version : 3.8

[2022-03-30 22:24] #1597 closed

[2022-03-31 02:36] jose-donato opened #1599 "[Bug] Argument that contains slash is not fully displayed after enter"
**Describe the bug**
When an argument that contains a slash is passed, the returned command does not display the full argument (only displays what is before the slash).
It happens in more than one place on the terminal (e.g., `exe` command)

**To Reproduce**
1. `exe routines/example.openbb`

**Screenshots**
![image](https://user-images.githubusercontent.com/43375532/160964638-992b949e-3949-4cd1-93

[2022-03-31 06:55] vitlyent099 opened #1600 "Installing bt (0.2.9): Failed EnvCommandError"
- System: Windows 10 - WSL Linux
Error Output:

  • Installing bt (0.2.9): Failed

  EnvCommandError

[code]
--------------------------------------------------------------------------------------------------------------------------------------------
Troubleshooting steps taken
-  Removed .cache/artifacts folder
-  Ran poetry install (displayed error)
-  Ran poetry update --lock (displayed error)
-

[2022-03-31 10:00] vitlyent099 commented on #1600
Got it to work on Ubuntu using WSL instead of Debian, although the bt package still fails to install

[2022-03-31 10:11] piiq commented on #1600
Can you try installing git into the wsl os you use with `apt install git`?

[2022-03-31 13:42] colin99d commented on #1599
I am getting some weird issues when I test this. Can you put it in quotation marks?

[2022-04-01 14:54] minhhoang1023 commented on #1583
Tested on my side and it worked fine.

OS : MacOs
Python version : 3.9

[2022-04-01 15:25] anarchy89 opened #1605 "About to Mac OS version."
Hi, is the Mac OS installer meant for Intel macs or m1 macs?

Do you have plans to support both?

[2022-04-01 18:27] Market1111 opened #1607 "[IMPROVE]"
**What's the feature that should be improved?**
A description of what's the feature you want improved, and a bit of context (why is that).

**Describe how you would like the feature improved**
A description of what the current feature is vs what it would be after your suggestion.

**Possibly describe the ideal way to improve this**
If you have thought about how you would do it, add it here.

**Add

[2022-04-01 19:04] #1607 closed

[2022-04-01 23:14] deeleeramone opened #1608 "[Bug] Keys/Oanda Cannot Set - Error: argument -t/--account_type: conflicting option string: -t"
Reported by another user on Discord; I recreated the error and opened this issue.
[code]

[2022-04-02 00:16] DidierRLopes opened #1610 "[Bug] Portfolio bug from user"
[code]

[2022-04-02 00:59] Chavithra commented on #1605
Yes the installer should work on both `intel` and `m1` macs.

[2022-04-02 10:20] chris-aeviator opened #1612 "[FR] Proposal: add charm.sh to make it a real terminal"
This is just a sidenote and not to be taken too seriously as a feature request. I wanted to make you aware of https://charm.sh/ , a rich TUI framework(s) including backend servers. Their tools allow to have outside users connect and authenticate passwordless with SSH, from a hosting perspective this would be one of the lowest possible barriers, since even a low-bandwith user with a 5$ raspberry pi

[2022-04-02 13:31] #1608 closed

[2022-04-02 14:02] jmaslek commented on #1610
What's the command that was entered to get errors?  If from a load what was the csv?

[2022-04-02 14:04] DidierRLopes commented on #1612
I have a call with @toby this week to discuss this!

Also like what @willmcgugan is doing with [Textualize](https://github.com/Textualize/textual).

Regarding the RaspberryPy, @Zedris was actually able to put our terminal running on his RaspberryPi. The #1 ever person to do that!

[2022-04-02 14:05] DidierRLopes commented on #1610
He added one I believe, reach out to the user on Discord! @jmaslek

[2022-04-02 14:05] DidierRLopes commented on #1605
Closing this :)

[2022-04-02 14:05] #1605 closed

[2022-04-02 17:54] jose-donato commented on #1576
Yes you are right. thanks for pointing this out. @minhhoang1023 do you know any alternative?
I know [defirate](https://defirate.com/api/) but i don't think they have a public api yet

[2022-04-02 23:25] marcelonyc opened #1618 "[Bug] Unable to load data for some cryptocurrencies (LTC-USD@Coinbase for example)"
**Describe the bug**
When I try to load data for LTC-USD from Coinbase I get an error

**Error: 'float' object has no attribute 'upper'**

**To Reproduce**
[code]
**Desktop (please complete the following information):**

- OS: Windows wsl2
- Python version 3.8

**Additional context**
I traced the issue to how the crypto maps get loaded and how the Crypto name is retrieved. It seems that, in the ca

[2022-04-03 01:34] Zedris commented on #1612
if we can get something to render the graphs(roughly) within the terminal and not require x11 the pi could run just headless and guiless fully which would be awesome!

[2022-04-03 02:46] CoconutMacaroon commented on #1612
I've been working on a web UI for this, so check that out as well. However, I've been stuck on getting graphs working as my upstream libraries don't support it. See  #1251 and https://github.com/OpenBB-finance/OpenBBTerminal/tree/main/openbb_terminal_web

[2022-04-03 04:09] andr0id3000 opened #1620 "[Bug] slash issue"
**Describe the bug**
A "bad" load from the econometrics menu will crash the terminal. "Bad" loads have included so far: not giving an alias along with the filename, and setting the filename directly without using the auto-complete feature (which is dope, ty.)

**To Reproduce**
from the terminal, enter the econometrics menu and try to explicitly load a filepath (i used one i just stored from FRED d

[2022-04-03 09:41] chris-aeviator commented on #1612
There are some graph libs out there - here’s a nice high freq graph (though not a lib)

https://github.com/dashersw/brain-monitor

[2022-04-03 15:27] bolshoytoster commented on #1620
@andr0id3000 Looks like an issue here:
https://github.com/OpenBB-finance/OpenBBTerminal/blob/5cc2ee9e142837b5d92750c5bd43a82d1419e1c8/openbb_terminal/parent_classes.py#L160-L171

If it finds the `/` character anywhere in your input it splits your command into seperate commands by `/` (if I explained it properly)

For example, your command (`load -f /home/q/code/OpenBBTerminal/exports/icsa-test.csv

[2022-04-03 15:35] bolshoytoster commented on #1618
@marcelonyc I believe it's just a type mismatch (calling `upper` on a float).

Could you send a link to a dataset that causes this error?

[2022-04-03 15:43] marcelonyc commented on #1618
@bolshoytoster I am loading from Coinbase directly. The error happens before the data is loaded. It works for btc or eth, but not for ltc.

[2022-04-03 16:48] bolshoytoster commented on #1618
@marcelonyc Looks like this occurs when a `openbb_terminal/cryptocurrency/data/*.json` file is missing the specified currency.

The best solution is probably to either add a warning and/or use a default value.

[2022-04-03 17:22] marcelonyc opened #1624 "[Bug] Cannot load Coinbase portfolio"
**Describe the bug**
When trying to load a Coinbase portfolio an error occurs. The error indicates an authentication issue, but it is not. The error happens when attempting to get a price on an invalid pair (USD-USD or XRP-USD) The response array contains all the currencies in a portfolio. The code tries to get a price for <CRYPTO>-<CURRENCY>

**: CoinbaseApiException: Invalid Authentication: {"me

[2022-04-03 17:23] bolshoytoster commented on #1618
I've implemented a warning:
[code]
I can open a PR if you want.

[2022-04-03 17:34] bolshoytoster commented on #1599
@jose-donato @colin99d does [this](https://github.com/OpenBB-finance/OpenBBTerminal/issues/1620#issuecomment-1086891586) help?

[2022-04-03 18:02] marcelonyc commented on #1618
@bolshoytoster  Your change does not fix the problem. LTC-USD is a valid Coinbase pair.

[2022-04-03 18:18] bolshoytoster commented on #1618
@marcelonyc looks like the issue is in `openbb_terminal/cryptocurrency/data/coingecko_coins.json`, this fixed it for me:
[code]
I'll see if this needs to be done for any other coins.

[2022-04-03 18:40] marcelonyc commented on #1618
@bolshoytoster  you can't alter that file. The file is the output of this URL
https://api.coingecko.com/api/v3/coins/list

Take a look at the README.md in the data directory.

The change that I am asking for needs to be implemented in code.

[2022-04-03 18:42] bolshoytoster commented on #1618
@marcelonyc in that case the only real fix would be quite hacky.

[2022-04-03 18:45] colin99d commented on #1620
For right now the correct way to do this would be to send arguments with a `/` character in them through quotation marks like this: `load -f :/home/<user>/code/OpenBBTerminal/exports/icsa-test.csv"`. However, I understand this is unintuitive and will get with the team on the best resolution of this. Thanks for the great explanation @bolshoytoster.

[2022-04-03 19:55] DidierRLopes commented on #1620
This is exactly right. This is something related with #1599 and it's down to the way we allow the user to create a queue of commands.

This is also how we are able to run routines. We rely strongly on the "slash" separator, thus when a command requires it, this issue occurs.

Examples are `exe` or `star history` on the new open source menu. The way we have been doing it is consuming the next comma

[2022-04-03 19:58] bolshoytoster commented on #1620
@DidierRLopes you could instead use a different character, I suggested `;` because it's commonly used in things like bash already.

[2022-04-03 20:00] colin99d commented on #1620
Is there a way to check if the command is an argument if the path does not exist, or to check throw up a warning that says "if there is a `/` in the comments use quotations. Also, could we look into having maybe using `\` and `/` differently to create a fix (or would this add more confusion).

[2022-04-03 20:02] colin99d commented on #1620
I think this is the better idea. Has its downsides of course, but will quickly resolve the issue.

[2022-04-03 20:04] DidierRLopes commented on #1620
@bolshoytoster this would work, the issue I see here is that it is unnatural for users to do that when specifying a path. Even worst because they can copy-paste quickly a path from their OS and paste it on the platform, in which case that would fail.

@colin99d I think if we were to follow this approach, we would be better to just accept "\" instead. because that way at least the Windows users cou

[2022-04-03 20:06] bolshoytoster commented on #1620
@DidierRLopes sorry, I meant using `;` for separating commands - not paths.

[2022-04-03 20:06] colin99d commented on #1620
I thought we would keep the file navigation paths normal, and then make navigating through the terminal different. This is a big change tho. A smart way to tell the user to add quotation marks might be better. Maybe we could mark those commands in a certain way so that they are aware

[2022-04-03 20:06] colin99d commented on #1620
Wait, since commands should never have navigation after them there has to a way to just create logic for this

[2022-04-03 20:09] DidierRLopes commented on #1620
Ohhh @bolshoytoster I see!! I like that!! It's not as visible as "/" but I think is less confusing in the long run.

@colin99d ?

[2022-04-03 20:11] colin99d commented on #1620
I was originally thinking the same thing as @bolshoytoster, but do you think we can just build logic into the parser. Because commands will never have navigation after them.

[2022-04-03 20:14] DidierRLopes commented on #1620
@colin99d what do you mean by navigation after them?

[2022-04-03 20:36] colin99d commented on #1620
@bolshoytoster we love the idea! Were you wanting to do the PR for this?

[2022-04-03 20:37] bolshoytoster commented on #1620
@colin99d I could do.

[2022-04-03 20:42] colin99d commented on #1620
@bolshoytoster I look forward to reviewing it!

[2022-04-03 21:01] SinSiXX opened #1625 "[IMPROVE] Shit SPAM."
**Stop your shit SPAM.**

`Hi,  We, as OpenBB, would like to personally thank you for signing up to our newsletter.  We are on a mission to make investment research effective, powerful and accessible to everyone.  The team would love to hear what you think of our OpenBB Terminal and if there is anything we can do to improve it.  Feel free to e-mail us at hello@openbb.co or reach us through our Dis

[2022-04-03 21:07] DidierRLopes commented on #1625
Hi @SinSiXX,

This was a mistake from our side. The idea was to reach out to everyone and let them know:
   1. That we changed name of organization and repository.
   2. That we are funded.

Here is the e-mail we had prepared. And as you can see the idea was not to leave anyone as subscriber but give you the chance to subscribe.

Sorry for this.

[code]

[2022-04-03 21:10] SinSiXX commented on #1625
Sorry, I got mad. Thx.

[2022-04-03 21:10] #1625 closed

[2022-04-03 21:55] jgreever commented on #1625
Seems a little illegal to scrape our email addresses then sign us up for a mailing list that we never authorized. It's time to let Mailchip know about this harassment now. Contact Mailchip and send the email with headers to them now. They are lying about it being a mistake on their side, they knew what they were doing, do not let them get away with this crap.

`

Welcome to OpenBB Newsletter | Wel

[2022-04-03 21:57] bolshoytoster commented on #1620
@DidierRLopes

Could you direct me to where it's used please, I tried using a regex search but it gave 1712 maches and I don't quite fancy going through that many.

[2022-04-03 22:06] DidierRLopes commented on #1625
@jgreever

The team wanted to let users know that a project they starred has completely been renamed. This is because, personally, I would like to know if a project I had starred completely rebranded.

We only had the e-mail shown above explaining that we are the previous `GamestonkTerminal` on the queue. The e-mail you received was automatically sent by Mailchimp, it was an accident. See below,

[2022-04-03 22:10] fugkco commented on #1625
This is insane. If I star a project on GitHub, it will stay starred when the org/repo is renamed. Why do you need to reach out to individuals about it? It's clear you tried scraped user's emails without people's consent so you have an audience to reach.

[2022-04-03 22:21] DidierRLopes commented on #1625
It has happened to me that I followed someone on instagram and they sold their account and then I was following something completely different.

This was my thinking, but I realize now that not everyone thinks the same. So I apologise from our end.

We've already deleted the entire audience. Let me know if there's anything I can do for you @fugkco

[2022-04-03 23:03] DidierRLopes commented on #1620
Yeaaa, I figured. Don't worry with it, I think me and @colin99d can handle this from our side.

I think the main things to fix are:
* parents_classes
* scripts folders
* routines folders
* call_exe and call_sh funds that have the hacky version to parse the "/" - there's prob 1 more functionality like this

[2022-04-03 23:22] deeleeramone opened #1626 "[Bug] /stocks/options/ $ oi Error: 'NoneType' object is not subscriptable"
[code]

[code]

I edited this issues to keep relevant bug. The other will be solved when https://github.com/OpenBB-finance/OpenBBTerminal/pull/1613 is merged.

[2022-04-03 23:24] deeleeramone commented on #1626
Entering a wrong command can also lead to printing the logging error message. Can we silence this?

[2022-04-03 23:27] DidierRLopes commented on #1626
I had the same issue. This is because your top folder is using still "GamestonkTerminal" and logging was expecting OpenBBTerminal.

This has already been fixed. Pull the latest changes and let me know if it works

[2022-04-03 23:30] deeleeramone commented on #1626
That makes no difference. The error message is because of Tradier returning no results, and it also occurs when you enter a command wrong.

[2022-04-03 23:57] DidierRLopes commented on #1626
Rename GamestonkTerminal to OpenBBTerminal and let me know if it didn't work.

There's an issue with Tradier, but the big log of data is not due to that, it's due to the name of the folder

[2022-04-04 00:31] deeleeramone commented on #1626
That did work! I suppose this can be closed now!

Was I under the correct assumption that the “fix”, deployed for people not renaming the folder to OpenBB, would mean not having to rename the folder?

[2022-04-04 03:53] minhhoang1023 commented on #1576
Closest one I know is CMC category endpoints (https://coinmarketcap.com/api/documentation/v1/#operation/getV1CryptocurrencyCategories) but it does not have L1 category.

We can disable this for now, and add it back once come across another source. Wdyt?

[2022-04-04 04:23] minhhoang1023 commented on #1618
@marcelonyc Thank you for the excellent analysis! ✨

You're correct here that the error is due to the nan, where there's no equivalent symbol for coinbase. This is because CoinGecko, which is the primary exchange where we develop the mapping, has the same symbols for two assets (e.g. litecoin, and binance-pegged-litecoin). So we when merged the df, there's no equivalent mapping of binance-pegged-l

[2022-04-04 04:45] minhhoang1023 commented on #1624
@marcelonyc Nice catch! Do you want to create a PR for this and we'll review and get it merged? :D

[2022-04-04 09:06] universvm opened #1628 "Cannot find ETFs on OpenBB that I can find on yahoo finance"
**Describe the bug**
There are certain ETFs I'm interested in which I can access to through Yahoo Finance which I can't access through OpenBB, for example:

VEUR.AS - https://finance.yahoo.com/quote/veur.as/
VEURX - https://finance.yahoo.com/quote/VEURX?p=VEURX&.tsrc=fin-srch
IWDC.SW - https://finance.yahoo.com/quote/IWDC.SW?p=IWDC.SW&.tsrc=fin-srch

**To Reproduce**
load {NAME_OF_TICKER}

**Scree

[2022-04-04 09:48] marcelonyc commented on #1624
@minhhoang1023 I will work on a fix a create a PR later today.

[2022-04-04 09:49] sbstn87 opened #1629 "[FR] Add Matrix integration"
**What's the problem of not having this feature?**
No open and decentralized communication protocol.

**Describe the solution you would like**
Add chat integration for the Matrix protocol.

**Describe alternatives you've considered**
Already present Slack, etc. integrations.

**Additional information**
See:
https://matrix.org/
https://element.io/

[2022-04-04 11:54] Chavithra commented on #1626
@deeleeramone the current main should handle any folder name now.

[2022-04-04 11:56] #1626 closed

[2022-04-04 12:02] #1618 closed

[2022-04-04 12:03] Chavithra commented on #1583
Do you still have the issue ?

[2022-04-04 12:03] #1493 closed

[2022-04-04 12:04] #1488 closed

[2022-04-04 12:07] piiq commented on #1583
not anymore, but I need to check in a packaged app. I'll close the issue if it works in the package

[2022-04-04 13:11] colin99d commented on #1628
Hey @universvm good find! Unfortunately this is because we get our holding information from StockAnalysis which does not cover the given tickers. For example: https://stockanalysis.com/etf/IWDC.SW/holdings/ gives a 404.
After giving the given ticker you will see that any of our features that depend on StockAnalysis do not work, but any features depending on YahooFinance work perfectly. I am going

[2022-04-04 13:11] #1628 closed

[2022-04-04 13:22] marvision-ai opened #1631 "[FR] New and improved prediction techniques (DARTS)"
I was playing around with: https://github.com/unit8co/darts

They provide a very simple interface to use the latest models with super simple install.

Features to potentially include to the terminal:
- Testing predictions using past/future covariates
- Training a large NBEATs model on all times series to provide out of the box prediction
    - Multivariable prediction - could help predict price ba

[2022-04-04 13:29] DidierRLopes commented on #1631
Using an open-source library to help on our ML/AI side, would definitely be very helpful. At least for our full-blown prediction menu. @hrzn thoughts?

unit8 [🤝](https://emojipedia.org/handshake/) OpenBB?

[2022-04-04 13:54] Chavithra commented on #1360
I can't reproduce it neither.

@deeleeramone is this issue still there on your setup ?

Thanks

[2022-04-04 13:57] Chavithra commented on #1509
Can't reproduce this.

Do you still have this issue @DidierRLopes ?

Thanks

[2022-04-04 14:02] DidierRLopes commented on #1511
Sorry, missed this.

It should be good! Will close this, thanks!

[2022-04-04 14:13] Chavithra commented on #1570
@deeleeramone is this bug still there ?

Thanks

[2022-04-04 14:15] JerBouma commented on #1507
This one is fixed in #1518.

[2022-04-04 14:15] #1507 closed

[2022-04-04 14:15] Chavithra commented on #1574
@deeleeramone is that issue still relevant ?

Thanks

[2022-04-04 15:11] hrzn commented on #1631
Hey, what you guys are building looks very nice. I'd be happy to understand if/how Darts could help.

[2022-04-04 15:27] piiq commented on #1360
The docker containers have been updated. The bug is not reproducible anymore 🎉

[2022-04-04 15:27] #1360 closed

[2022-04-04 15:28] piiq commented on #1509
Unable to reproduce on the latest main. Closing as fixed

[2022-04-04 15:28] #1509 closed

[2022-04-04 15:45] colin99d commented on #1599
I am going to close this since it is discussed in another issue, and the other issue has a full discussion on how we will resolve the issue.

[2022-04-04 15:49] piiq commented on #1610
fixed by #1614

[2022-04-04 16:04] colin99d opened #1636 "[Bug] Hugo Site has white space at the bottom"
**Describe the bug**
The hugo site has whitespace at the bottom.

**To Reproduce**
Go to the url: https://openbb-finance.github.io/OpenBBTerminal/terminal/

**Screenshots**
[If applicable, add screenshots to help explain your problem.](https://files.slack.com/files-pri/T02KN1WM94J-F03A034ND42/screen_shot_2022-04-04_at_11.55.07_am.png)

**Desktop (please complete the following information):**
16" M

[2022-04-04 16:16] deeleeramone commented on #1574
The issue appears when jumping from the economy menu with stored data to the prediction menu.

[code]

[code]

[2022-04-04 16:22] JerBouma commented on #1570
We need to update the Finviz to the latest package version and see if this doesn't break the comparison menu as well. But in the latest version he atleast fixed this issue.

[2022-04-04 16:23] deeleeramone commented on #1570
Also screeners

[2022-04-04 16:54] DidierRLopes commented on #1631
Yes,

So our focus is in making investment research effective, powerful and accessible. For that, an important part is to connect users to data, so we act as a bridge between data sources and users. We have both raw data data (e.g. tweets) or processed data (e.g. estimated sentiment from those tweets).

We want our users to be able to extract their own insights from the terminal, including using M

[2022-04-04 18:39] hrzn commented on #1631
OK I see, at first sight it looks like Darts might indeed be able to help. A couple of things it provides (for ML-based models) are:
* Ability to train on multiple time series, which don't need to have the same time axis.
* Each of the individual time series may be multi-dimensional.
* In addition, it is possible to specify "covariates" known either only into the past (past_covariates) or also int

[2022-04-04 19:29] DidierRLopes commented on #1631
Hi @marvision-ai !

Yes, we actually will later this week start reviewing applications, so if you can send your CV across that would be great. [Here's the job posting](https://jobs.lever.co/openbb/050e5d79-a883-46b0-a497-0ea1fb655f67).

On your CV please write that you have experience with other open-source libraries (darts, hugging face, ...), that is great!

Thanks @hrzn for this summary. Yup, a

[2022-04-05 06:08] hurricane-dorian opened #1638 "pandas-market-calendars required but not in requirements.txt"
pandas-market-calendars is required to run terminal.py
It is in requirements-full.txt but not in requirements.txt

I just used pip install -r requirements.txt in Linux instead of using anaconda

[2022-04-05 06:08] LBolte29 commented on #1574
@deeleeramone
Could you put the exact sequence of commands necessary to reproduce this?

[2022-04-05 06:12] deeleeramone commented on #1574
[code]

[2022-04-05 06:12] LBolte29 commented on #1570
error persists when updating finviz

[2022-04-05 06:13] deeleeramone commented on #1574
here is removing the -p flag

[code]

[2022-04-05 06:15] LBolte29 commented on #1573
@deeleeramone
Could you put the exact sequence of commands necessary to reproduce this?

[2022-04-05 07:20] deeleeramone commented on #1573
This issue has now been resolved, but was not linked to the PR that resolved it.

![image](https://user-images.githubusercontent.com/85772166/161699272-301bfe16-5ec1-4f59-a470-1f4746a47896.png)

[2022-04-05 07:20] #1573 closed

[2022-04-05 10:27] #1624 closed

[2022-04-05 11:19] piiq commented on #1638
Hey @hurricane-dorian

Have you tried using `poetry` for dependency management? We've adopted poetry for this project and everyone seems to like it.

In the project root in your venv (or other python environment) you can do:

[code]
and poetry will install all the requirements from the .lock file.

The requirements.txt that are in the repo might be lagging behind poetry.lock a bit

[2022-04-05 11:32] jose-donato commented on #1576
[https://loanscan.io/](https://loanscan.io/)

Loanscan provides great info for this! Will replace with that :)

[2022-04-05 12:24] LBolte29 commented on #1570
not sure how to continue @Chavithra @piiq @JerBouma

[2022-04-05 14:46] LBolte29 commented on #1570
so I read that finviz does not supply the data. would there be anything we can do from our side?

[2022-04-05 16:57] piiq commented on #1638
That's a good catch! Thanks a lot. This issue will be closed once the PR is merged

[2022-04-05 17:40] #1638 closed

[2022-04-05 19:24] bolshoytoster commented on #1636
@colin99d interestingly, it only appears sometimes (for me at least). I can reliably recreate it by clicking on one of the links on the left then going back (left arrow in browser).

I tried to check the difference between a normal version and the one with the space at the bottom and it looks to be just whitespace:
[code]

[2022-04-05 19:28] bolshoytoster commented on #1629
@sbstn87 do you mean adding a chat feature/submenu?

If so, I'd be happy to try adding this.

[2022-04-05 20:23] sbstn87 commented on #1629
Yes, like the Bloomberg chat, but using matrix protocol. There is a Python based matrix client, so it could be perhaps somehow integrated:
https://matrix.org/docs/projects/client/weechat-matrix

It is TUI client, so it fits the Terminal.

[2022-04-05 23:58] ChangheeOh opened #1643 "[Bug] Can't Run Docker with Advanced Settings"
**Describe the bug**
docker command not work described in 'DOCKER_ADVANCED.md'

**To Reproduce**
1) docker run -it --rm --env-file=path/to/setenv -e DISPLAY=$IP:0 ghcr.io/OpenBBTerminal/gst-poetry:latest
  => docker: invalid reference format: repository name must be lowercase.
2) docker run -it --rm --env-file=path/to/setenv -e DISPLAY=$IP:0 ghcr.io/openbbterminal/gst-poetry:latest
  => docker: Er

[2022-04-06 00:25] hurricane-dorian opened #1644 "[Bug] Setting BACKEND doesn't get loaded at start"
Setting  OPENBB_BACKEND='Qt5Agg' in .env doesn't get loaded at start, it stays default "None"
The code to import that variable seems to be completely missing from
openbb_terminal/feature_flags.py

[2022-04-06 01:00] deeleeramone opened #1645 "[Bug] Reddit API Keys: Only 4/5 Inputs Are Sent To .env"
[Bug] Reddit API Keys: Only 4/5 Inputs Are Sent To .env

![image](https://user-images.githubusercontent.com/85772166/161874127-4f0f3ce4-6832-411c-b6af-c5685713b590.png)

This results in the wrong fields being populated by input. For example,
[code]
This is my username. To remedy this, I edited the .env file to add this line:

[code]
Then re-arranged the incorrectly populated fields.

The result wa

[2022-04-06 03:16] deeleeramone commented on #1645
the following message is printed when using the command: /stocks/ba/wsb

[code]

This does not prevent the terminal from returning results.

[2022-04-06 03:37] salvadorgarcia23 commented on #1645
Attempted the procedure above with little success.

OS: Windows 10
Application: OpenBB Terminal
Installation Method: https://github.com/OpenBB-finance/OpenBBTerminal/releases/tag/v1.0.0 downloaded Windows setup.exe
Problem: Cannot connect Reddit API
Error: defined, test failed

As mentioned by deeleeramone, when attempting to enter variables using terminal command: /keys/reddit -i [Client ID] -s [

[2022-04-06 06:52] Market1111 opened #1647 "not anymore, but I need to check in a packaged app. I'll close the issue if it works in the package"
not anymore, but I need to check in a packaged app. I'll close the issue if it works in the package

_Originally posted by @piiq in https://github.com/OpenBB-finance/OpenBBTerminal/issues/1583#issuecomment-1087473064_

[2022-04-06 08:06] #1647 closed

[2022-04-06 08:11] piiq commented on #1583
Yep. The issue is still there. The request freezes. I've added a timeout to bypass it, but will debug a bit further
<img width="761" alt="image" src="https://user-images.githubusercontent.com/11668535/161927409-d199fbd2-6030-4706-b953-e0aeb27bc808.png">

[2022-04-06 08:27] jadru opened #1648 "[Bug] Discord bot crawled image is croped"
**Describe the bug**
Discord bot crawled images is croped to the small size.

**To Reproduce**
Steps(from the start) and commands to reproduce the behavior
in discord
![image](https://user-images.githubusercontent.com/21021930/161930553-3fec5e21-6500-40a8-a64d-c9b790a3553e.png)
"/dd pt tsla"

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.

[2022-04-06 08:51] piiq commented on #1583
There are some settings on nasdaq's side that make this thing appear for users who might have some non-conventional network configuration.
The url works from the browser because the browser supplies nasdaqs cookie. It doesn't work with curl, but depending on the network configuration the response can be a timeout or a 200 with a 403 text message. It works from pythons requests depending on both ne

[2022-04-06 08:57] #1570 closed

[2022-04-06 10:36] piiq commented on #1516
Just tested report generation on the latest main an it seems to work. The only thing that caught my eye is that the similar_analysis report notebook generates errors in a few cells and produces tables like this
<img width="869" alt="image" src="https://user-images.githubusercontent.com/11668535/161956430-48b8c552-9953-4942-bb24-03b60d474b70.png">

[2022-04-06 11:52] Chavithra commented on #1645
@deeleeramone @salvadorgarcia23 Thanks for your feedback !

[2022-04-06 12:11] #1574 closed

[2022-04-06 12:11] #1645 closed

[2022-04-06 18:30] CoconutMacaroon commented on #1255
Update: images in the browser work (this was just a Proof of Concept):
![image](https://user-images.githubusercontent.com/45187468/162043809-727e71f9-a5db-4682-a07d-407684455ce6.png)
That is inside my browser (Microsoft Edge, Windows). It connects via noVNC to a local Docker container, and uses the Kitty terminal + SIXEL to display images...

[2022-04-07 17:29] #1583 closed

[2022-04-07 21:19] #1643 closed

[2022-04-07 23:04] colin99d opened #1656 "Fraud command broken[Bug]"
**Describe the bug**
Fraud command does not work for AMZN.

**To Reproduce**
stocks; load amzn; fa; fraud

[2022-04-08 10:23] robertmartin8 opened #1658 "[FR] Annualize volatility"
**What's the problem of not having this feature?**
Typically finance folk are more interested in the annualised volatility rather than purely the standard deviation of (log) returns.

Within the `rolling` function (or wherever else volatility is displayed to the user), there should be an annualisation parameter.

To convert from the std of daily returns to an annualised volatility, you simply mult

[2022-04-08 16:22] #1656 closed

[2022-04-08 16:51] #1516 closed

[2022-04-08 21:31] tehcoderer commented on #1648
Thank you @jadru! Fixed it that night 😂

[2022-04-08 21:31] #1648 closed

[2022-04-09 13:28] #1644 closed

[2022-04-10 17:47] colin99d opened #1667 "[Bug] Econometrics Export FileNotFound"
**Describe the bug**
Export in Econometrics causes FileNotFoundError.

**To Reproduce**
`load cancer dataset`
`export dataset`

**Screenshots**
<img width="788" alt="Screen Shot 2022-04-10 at 1 47 13 PM" src="https://user-images.githubusercontent.com/72827203/162632444-382f90ab-28cd-434a-90ef-8d7684d61eae.png">

**Desktop (please complete the following information):**

- OS: Mac Monterey
- Python

[2022-04-10 18:59] JerBouma commented on #1667
Does the folder exist at all? Or is this perhaps via the installer application?

I don't understand why this suddenly breaks while it worked when I first designed the menu.

[2022-04-10 19:04] colin99d commented on #1667
I am not sure if the folder exists and I did not use install using the installer.

[2022-04-11 08:21] JerBouma commented on #1667
This is via installer version:
![Screenshot 2022-04-11 at 10 18 22](https://user-images.githubusercontent.com/46355364/162694529-10226038-1bb3-
41b6-963e-b2aef5f0b41c.png)

But via the Anaconda version it does indeed crash. Seems like someone removed this folder, will re-add.

[2022-04-11 08:48] JerBouma commented on #1667
Oh you already fixed this yourself, lol. Just noticed this. I want to include this small remark though:`load in custom data sets` to `load in custom data sets (use -ex for examples)`. I noticed that it wasn't clear there were example datasets available (got the question a couple of times). This should make the menu more accessible for basic testing because these datasets are already cleaned as wel

[2022-04-11 10:03] DidierRLopes opened #1689 "[Bug] upcoming earnings release dates"
After watching [this video](https://www.youtube.com/watch?v=hioOaYMctxo&ab_channel=ObjectiveTrade) I noticed that the upcoming earnings shows the earnings happening on the date EVEN if the market is already closed.

I think the upcoming earnings release date should have the earnings on the day ONLY if the market is not yet open, otherwise it should have for the next trading day.

[2022-04-11 10:08] DidierRLopes opened #1690 "[Bug] Mutual funds search fail"
<img width="1610" alt="Screenshot 2022-04-11 at 11 07 38" src="https://user-images.githubusercontent.com/25267873/162716313-b4d69f60-fde7-4018-bedd-633ac23da64b.png">

This is from [this video](https://www.youtube.com/watch?v=hioOaYMctxo&ab_channel=ObjectiveTrade) minute 13.

[2022-04-11 13:17] jmaslek commented on #1689
Earnings can happen after market close.

[2022-04-11 14:53] jmaslek commented on #1690
invesco:
<img width="965" alt="Screen Shot 2022-04-11 at 10 51 10 AM" src="https://user-images.githubusercontent.com/18151143/162766513-07444804-a746-4b10-8711-4b488603485a.png">

fidelity:
<img width="1157" alt="Screen Shot 2022-04-11 at 10 50 15 AM" src="https://user-images.githubusercontent.com/18151143/162766583-865493fb-5eac-4c41-8764-c3f9045afa72.png">

[2022-04-12 00:20] chrisco23 opened #1692 "UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure."
I'm wanting to run the docker install.  Everything looks good so far except I cannot get any display windows, plots etc.

Any time I try to plot ("pt") I get no window.

Maybe I'm misunderstanding something in the way docker should handle the DISPLAY.

I'm on Arch Linux, running i3 WM.  I've googled the error msg and tried everything I found and everything I can think of, but I'm still stuck with

[2022-04-12 21:21] piiq commented on #1692
Hi Chris 👋

The idea is to use X11 to forward the window from the container to the host machine. i3 should support this stuff out of the box, but nobody on the team actually uses i3 to test it out.

The way the `DISPLAY` address can be obtained is briefly covered here https://github.com/OpenBB-finance/OpenBBTerminal/blob/main/DOCKER_ADVANCED.md , have you seen it?

[2022-04-12 21:24] piiq commented on #1667
I see the same issue on the latest main. Looks like the exports path (`OPENBB-exports`) is not being set for me and @colin99d. I clearly remember @DidierRLopes adding it so maybe this change was overwritten by some uncontrolled merge

[2022-04-12 21:37] chrisco23 commented on #1692
Yes I was working with that section.  When I run that IP with ifconfig command, I get an IP of "172.20.0.1 172.18.0.1 172.17.0.1 192.168.4.38"  (4 ips).  These correspond to "br-980f6a71cb25", "br-ccc839453fa3", "docker0" and "wlan0".  Which should DISPLAY be set to?  As it the value of $IP that arises should surely not be telling DISPLAY to be all 4...

[2022-04-12 21:53] piiq commented on #1692
I would go for the `192.168.4.38:0` but I can't rationalize my choice 😂

Can you test different ones by passing them as environment variable on container launch?

[2022-04-12 23:17] colin99d commented on #1667
@piiq once my tests work on windows fix will be merged.

[2022-04-13 00:59] chrisco23 commented on #1692
Yes I've now tried all 4, but I still get the "/home/python/openbb_terminal/menu.py:16: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure."

btw, I'm trying like this:

`$ docker run -it --rm --env-file=.env -e DISPLAY=$IP:0 ghcr.io/openbb-finance/openbbterminal-poetry:latest`

...because if I try it as it's documented, I get

[code]

Am I doing

[2022-04-13 01:00] chrisco23 commented on #1692
To clarify, when I am running that first command, I am first doing

export IP=192.168.4.38 # or any other of the 4 IPs

[2022-04-13 03:15] chrisco23 commented on #1692
I don't know if this is a part of my solution or not, but I found that the first snippet of the first answer here:  https://stackoverflow.com/questions/3285193/how-to-change-backends-in-matplotlib-python

It made me add parentheses to the print statements, and I added "Agg" to the list, but I got this:

[code]
Even if I can use this GTKAgg (or add TkAgg as I've seen suggested elsewhere), I'm not c

[2022-04-13 04:12] #1576 closed

[2022-04-13 10:17] PzaThief opened #1694 "[IMPROVE] asynchronous http request"
**What's the feature that should be improved?**
In case of alternative.oss.github_model.get_stars_history function, function calls requests n-times. so there are huge waiting time for waiting response by page size.

**Describe how you would like the feature improved**
It needs to be change to non-blocking async requests. then we can gather all pages at once in 1 page wating time + overhead.
The mo