[2021-02-24 22:43] filharvey opened #1 "Can't install with python 3.7.4 on Windows 10"
tensorflow_gpu==1.1.0

is not found.

Collecting tensorflow_gpu==1.1.0 (from -r requirements.txt (line 4))
  Could not find a version that satisfies the requirement tensorflow_gpu==1.1.0 (from -r requirements.txt (line 4)) (from versions: 1.13.1, 1.13.2, 1.14.0, 1.15.0rc0, 1.15.0rc1, 1.15.0rc2, 1.15.0rc3, 1.15.0, 1.15.2, 1.15.3, 1.15.4, 1.15.5, 2.0.0a0, 2.0.0b0, 2.0.0b1, 2.0.0rc0, 2.0.0rc1, 2.0.0r

[2021-02-24 23:31] DidierRLopes commented on #1
Hey,

Thanks for pointing out the issue.

I've used pipreqs python library to automatically create the requirements.txt file. And admittedly didn't test it myself, as I've used this before and didn't have issues.

I believe it may unintentionally have added it, sinceI never use tensorflow_gpu. I've now removed it and made sure it runs smoothly in my machine.

Let me know if ti works for you.
Thank

[2021-02-24 23:57] filharvey commented on #1
Thanks got futher.

now when running the main python. These are the couple of errors I get

Traceback (most recent call last):
  File "gamestonk_terminal.py", line 12, in <module>
    from prediction_techniques import pred_menu as pm
  File "C:\GamestonkTerminal\prediction_techniques\pred_menu.py", line 13, in <module>
    from prediction_techniques import knn
  File "C:\GamestonkTerminal\predicti

[2021-02-25 00:03] DidierRLopes commented on #1
Thank you once again.

This is because that particular library was implemented by myself, and the pipreqs library didn't pick it up apparently.

I added the explanation to the install section on the readme page. You need to run this:
pip install git+https://github.com/DidierRLopes/TimeSeriesCrossValidation

Let me know if it worked :)

[2021-02-25 02:38] joshcoyne opened #2 "requirements.txt errors on Ubuntu Linux"
Hey, awesome project idea!

I tried installing this on Ubuntu Linux 20.04 but pip complains about the following:

xlwings (lets you bypass but sounds bad to do)
wheel (error)

I'm using python 3.6.13 on the aforementioned OS.

[2021-02-25 02:46] DidierRLopes commented on #2
Hey Josh,

Thank you for raising this.

I've admittedly not tested this on Ubuntu. I'm not familiar with this error.

Have you tried:` pip install wheel `

Is that your full error message? I'd copy paste your error message on google, because this seems to be happening before reaching the actual terminal's code.

Instead of running the requirements, you can also attempt to install each library one

[2021-02-25 02:50] epigramengineer commented on #2
Running into this as well, xlwing won't be available on linux because it requires an installation of excel. Not sure if there are any work arounds.

[2021-02-25 02:57] DidierRLopes commented on #2
Hey there!

I never import such library, my suspicion is that some other library requires it (like pandas or so), hence why pipreqs added it to the requirements list.

Can you give it a go without that package, and let me know if everything run smoothly?

Thanks for feedback!

[2021-02-25 03:02] sigaloid commented on #2
I'm testing it right now! On KDE neon (ubuntu base).

[2021-02-25 03:14] DidierRLopes commented on #2
Do you still get the xlwings error even though you removed that line from the requirements.txt file?

[2021-02-25 03:15] sigaloid commented on #2
I simply ran `export INSTALL_ON_LINUX=1; pip3 install xlwings` and it installed fine.

[2021-02-25 03:18] DidierRLopes commented on #2
Beast!! Well done.

@joshcoyne @epigramengineer can you attempt this solution?

@sigaloid thanks for this! Do you think I should add this note somewhere on the README, for people installing from a Ubuntu machine?

[2021-02-25 03:19] sigaloid commented on #2
Well, it installed the dependency. I get this error on run, though:
[code]
Not sure if it's related to this specific dependency though.

[2021-02-25 03:25] DidierRLopes commented on #2
I just checked and I don't import torch anywhere in the code.

There may be some convolved dependency. Can you try to upgrade your torch to: torch  1.7.1
That's the one that my machine has. So:

`pip install torch==1.7.1`

[2021-02-25 03:32] sigaloid commented on #2
[code]

Currently running `pip3 install fbprophet` which throws some errors about not having `lunarcalendar` as well. Trying to install lunarcalendar, then fbprophet, then running the main one. It seems the dependencies are a bit hard to track down. will report back

[2021-02-25 03:37] sigaloid commented on #2
Here is the commands I ran (the levenshtein one may not be necessary):
[code]

Here is the entire command output (top one was cut off but it was just the requirements install)

[2021-02-25 03:39] DidierRLopes commented on #2
Sweet!

Well done!! Thank you for this! It was the first screenshot I've seen of an outside user being able to use it successfully, this made my day!

PS: If you load a stock with `load -t TSLA` you'll be able to see the remaining menu options, as they required a ticker symbol!

Thanks :)

[2021-02-25 03:43] obsidiandevel opened #3 "requirements.txt errors on OSX Python2 and Python3"

[2021-02-25 03:53] avocardio opened #4 "Segmentation fault: 11 (OSX) when trying to run 'view' or 'pred'"
Pretty new to this; when trying to run view or pred, like using knn, a little file pops up but then closes after a few seconds and gives me this error.

![Screen Shot 2021-02-24 at 9 49 28 PM](https://user-images.githubusercontent.com/74978236/109100492-ab1a8980-76ea-11eb-9b40-4ab3d5ba64e5.png)

[2021-02-25 03:59] sigaloid commented on #2
This is amazing. I've been analyzing stocks for the past 20 minutes. I hope this grows to be an even more awesome project :)

[2021-02-25 04:01] sigaloid opened #5 "Feature request: stock data end date"
Would be nice to see how a model can be compared to current data. Like a sub option under pred to compare each model's data from 1 week ago to current prices.

[2021-02-25 04:02] noahkuhn opened #6 "macOS Installation nitpicks and a crash"
Very impressive work, thanks for offering this up to the community.

Installation took a few passes. In the end, I needed to do these installations after installing the requirements.txt

pip uninstall pandas_ta
pip install pandas_ta
pip install python-Levenshtein
pip install lunarcalendar
pip install fbprophet

Not sure why I had to uninstall pandas, but doing so let me continue.

So far, running

[2021-02-25 04:21] rezart commented on #2
@sigaloid I ran the same commands as you but in the end receiving 'Illegal instruction' when I run ```python3 gamestonk_terminal.py map```. This happens with any other param that I pass to the script apart from map (like sectors, view etc). Did you run into this error at all?

[2021-02-25 04:29] EvilTeliportist opened #7 "[Feature] Support for asynchronous requests and data exports"
In true algotrading fashion having support for data exports would be really helpful (csv probably) for those trying to perform other analysis on the data without directly building onto the terminal itself. Maybe an abstract `Data` class with methods for flexible loading/exporting would be best for this, but you're the expert. Also, support for multiple ticker data requests would be useful when try

[2021-02-25 05:08] noahkuhn commented on #4
Seeing this as well, macOS 11.2.1, using Python 3.8.7 via a pyenv virtualenv.

[2021-02-25 05:21] sheckylovejoy commented on #6
Same here. python-Levenshtein and fbprophet were the issues for me

[2021-02-25 05:23] noahkuhn commented on #6
Seg fault happens on pretty much everything when using python 3.8.7, going to try and use 3.6.8 like the author.

[2021-02-25 05:36] rosensuzie opened #14 "ModuleNotFoundError: No module named 'FundamentalAnalysis'"
`import FundamentalAnalysis as fa ModuleNotFoundError: No module named 'FundamentalAnalysis' `
I'm getting this error while running, even after installing all the dependencies

[2021-02-25 05:37] sheckylovejoy commented on #6
Yeah same

[2021-02-25 05:47] sabujp opened #16 "make predictive models reload existing data"
would be nice to have pred models like the rnn and lstm load existing data without recalculating the pred every time, assuming the input data (e.g. start date) doesn't get updated

[2021-02-25 05:48] buger opened #17 "`popular`command unexpected results"
At the moment if find stocks only in `wallstreetbets` subreddit.

[code]

[2021-02-25 06:17] sheckylovejoy commented on #6
So some other stuff on Mac
Python 3.92; Mac OS 11.2.1

On all the Reddit functions, I got this error
`'Version 7.1.4 of praw is outdated. Version 7.2.0 was released 1 day ago.
`
pip uninstall praw
pip install praw

No error now, but none of the Reddits work.

Also in the sentiment function it churns away, loads ~/.flair/models/sentiment-en-mix-distillbert_3.1.pt and exits

Thanks for the work. Ver

[2021-02-25 06:33] noahkuhn commented on #6
Spent an hour banging my head against a wall to get 3.6.8 installed on macOS 11.2.1, and now that I've finally got it, it's still segfaulting. Not sure what to try at this point.

[2021-02-25 06:54] DidierRLopes commented on #1
I'll close this, as I don't think this issue is no longer relevant!

[2021-02-25 06:54] #1 closed

[2021-02-25 06:55] DidierRLopes commented on #2
This should be all resolved through the latest PRs with improvements in the requirements!

Will close this ticket on that basis, thanks!

[2021-02-25 06:55] #2 closed

[2021-02-25 06:56] DidierRLopes commented on #3
Hey there,

Python2 isn't supported.

Can you attempt Python3 again, I believe this has been fixed by one of the latest PRs

[2021-02-25 06:59] DidierRLopes commented on #4
This is odd I didn't have such issue.

Can you try to load a dataframe partially? I.e. set a starting date?

You can do so with:
`load -t GME -s 2020-06-04`

And then attempt view, or pred funcs.

It may be due to the size of the dataframe we're getting from Alpha Vintage. But I'd find it odd that you are seeing this issue and I'm not. I'm using Python 3.8.6 on a macOS 10.13.6

[2021-02-25 07:02] noahkuhn commented on #4
I just ran that and it just does the segfault. I think this is a macOS 11 issue. Hopefully it can be sorted out, I'd love to have a crack at this thing!

`> view
[1]    74984 segmentation fault  python gamestonk_terminal.py`

[2021-02-25 07:04] pelcasandra opened #19 "module compiled against API version 0xe but this version of numpy is 0xd"
Using python 3.8:

[code]

[code]

[2021-02-25 07:19] kvbfullstack opened #20 "Grammatical Error in the 'Install' section"
**Original sentence:** "Hence, it is recommended for the user to set up a virtual python environment previous to install these."

**Corrected:** Hence, it is recommended for the user to set up a virtual python environment prior to installing these.

[2021-02-25 07:23] noahkuhn commented on #4
I got this to work by scrapping pyenv virtual environments and just using virtualenv directly. Took a ton of manual pip installs to get all dependencies, but I think I'm in the clear. Not sure if the person that posted this issue was using pyenv & virtualenv.

[2021-02-25 07:29] DidierRLopes commented on #4
Nice!

@avocardio can you try instead of using pyenv & virtualenv, to use only virtualenv directly?

Yes, the pip install dependencies have been a bit of a nightmare :/

[2021-02-25 07:31] DidierRLopes commented on #14
Can you re-attempt to run pip install FundamentalAnalysis ?

Do you have a valid Financial Modeling Prep key?

You can see more in here:
https://github.com/JerBouma/FundamentalAnalysis

[2021-02-25 07:34] DidierRLopes commented on #16
Can you give further insight into this. Didn't get the idea.

[2021-02-25 07:38] DidierRLopes commented on #20
Done, thank you!

[2021-02-25 07:38] #20 closed

[2021-02-25 07:40] DidierRLopes commented on #7
Thank you for feedback.

That is indeed a good idea! If you want to work on it, feel free to create a PR for it.  Otherwise I'll get this done at some point in the future  :)

[2021-02-25 07:42] Grabes opened #21 "Setup Instructions for MacOS 11.2.1"
Thanks for creating this package, it looks quite nice.

I ran into a couple errors while installing the pip requirements and I am documenting them here.

1. Installed Python 3.6.8 as per the build instructions but received an error saying python > 3.7 was required
[code]
I ran `pyenv install 3.7.10` and `pyenv global 3.7.10` to resolve this error.

2. The second was by missing the wheel package. R

[2021-02-25 08:35] lfdversluis opened #22 "Appscript not supported on Windows (and is deprecated)"
Running `pip install -r requirements.txt` results in
[code]
on Windows which is required by appscript.

I am not sure if you intend this project to also run on Windows, yet I would like to point out that appscript is no longer maintained, see http://appscript.sourceforge.net/ I am not even sure where you use it searching on GitHub on the strings `App(` and `appscript` yields no hits beyond require

[2021-02-25 09:10] lxblvs commented on #22
Same on Ubuntu

[2021-02-25 09:34] nitsujri commented on #4
@noahkuhn I ran into the same problem but am a python amateur.

Specifically, how do you not use pyenv and use virtualenv directly?

I thought I was doing that by

 - `rm .python-version`
 - `pip install -r requirements.txt`

Now my prompt looks like `GamestonkTerminal git:(main)` instead of `(gamestonk) GamestonkTerminal git:(main)`, so I thought that was using it without pyenv, but honestly I'm

[2021-02-25 10:29] johnmathews opened #24 "Getting Started Section"
This looks super interesting and I'd like to use it, but I'm not sure how to get started.
I've installed the requirements ok, but how do I begin using it?
It would be really useful to have a "getting started" section in the readme.

[2021-02-25 10:32] alifa133 opened #25 "ERROR: Could not find a version that satisfies the requirement scipy==1.6.1 on Mac OS"
using virtual env with python version 3.6.8
Mac OS 11.2.1

when trying to install requirements get the this:

ERROR: Could not find a version that satisfies the requirement scipy==1.6.1

anyone else got the same error?

Thanks!

[2021-02-25 10:57] chris-jones commented on #25
I think it's related to a minor outage on Pypi (https://status.python.org/) try again later on and you should shave some success.

[2021-02-25 10:59] chris-jones commented on #25
Scipy pequires: Python >=3.7

You'll need to update your python version to use it.

(see: https://pypi.org/project/scipy/1.6.1/)

[2021-02-25 11:09] shadycuz opened #27 "Change package management to Poetry"
Love the project. I think the project would see lots of benefit from moving to a different package manager then just `pip` and the `requirements.txt`. `poetry` would make it easier to support multiple Pythons like `3.6` to `3.10`. It also would help increase development velocity by making it easier to use latest versions of dependencies and making it easier to develop/contribute by having `poetry`

[2021-02-25 11:40] michalchmura commented on #4
Same issue here

[2021-02-25 11:48] noahkuhn commented on #4
Fellow novice here too, so this might not be the best method, but try this. Pretty sure this is what worked for me. Granted I'm still getting some other errors doing various things:

- `pyenv deactivate`
- `pyenv virtualenv-delete gamestonk`
- `pip install virtualenv`
- `virtualenv venv`
- `source venv/bin/activate`
- `pip install -r requirements.txt`
- `python gamestonk_terminal.py`

You will lik

[2021-02-25 11:56] umairsiddiqui-digitek opened #28 "feature request: pyinstaller binaries for terminal"
hi,
i think it would nice to provide binaries for "end-users" , instead of using current installation method.

``` pip install -r requirements.txt```

The python binaries can be built using [pyinstaller](https://www.pyinstaller.org/). However the overhead would be to build windows binary on windows computer.

regards

[2021-02-25 12:04] dvergeylen commented on #24
Some insights (not a getting started guide but some guidance for non techies to use this):
https://news.ycombinator.com/item?id=26260895
https://github.com/DidierRLopes/GamestonkTerminal/issues/2#issuecomment-785552454

[2021-02-25 12:07] johnmathews commented on #24
Great thanks. `python ganestonk_terminal.py` was what i was looking for.

[2021-02-25 12:15] dvergeylen commented on #24
Actually `python gamestonk_terminal.py` implies your terminal's current working directory is the same as `gamestonk_terminal.py` file location. But you can start it from wherever you want either giving it a relative path from where you currently are or an absolute path ([more info](https://www.linuxnix.com/abslute-path-vs-relative-path-in-linuxunix/)).

Have fun!

[2021-02-25 13:05] akx commented on #28
Considering all the dependencies, I'm afraid this would result in an installer multiple gigabytes in size...

[2021-02-25 13:06] akx commented on #27
Many of the dependencies in `requirements.txt` aren't even used at the moment. I pared them down into a base + prediction (ML) set over in #26.

I used `pip-tools` to compile the unpinned versions to pinned .txt files, which isn't quite as intrusive as switching to Poetry altogether.

[2021-02-25 13:09] filharvey commented on #1
Sorry one more, just was able to do that last one

Traceback (most recent call last):
  File "gamestonk_terminal.py", line 12, in <module>
    from prediction_techniques import pred_menu as pm
  File "C:\GamestonkTerminal\prediction_techniques\pred_menu.py", line 16, in <module>
    from prediction_techniques import fbprophet
  File "C:\GamestonkTerminal\prediction_techniques\fbprophet.py", line 1

[2021-02-25 13:32] filharvey opened #30 "Window 10"
A continuation of the issuses on windows

Sorry one more, just was able to do that last one

Traceback (most recent call last):
File "gamestonk_terminal.py", line 12, in
from prediction_techniques import pred_menu as pm
File "C:\GamestonkTerminal\prediction_techniques\pred_menu.py", line 16, in
from prediction_techniques import fbprophet
File "C:\GamestonkTerminal\prediction_techniques\fbprophet.p

[2021-02-25 14:15] shadycuz commented on #27
Well if people are interested I will do the work, but I think I'm going to let your PR get merged first.

I'm also quite handy with CI/CD.

[2021-02-25 14:24] sigaloid commented on #30
Run `pip install fbprophet` (or re-clone the repository and re-run `pip install -r requirements.txt` as this was just fixed recently)

[2021-02-25 14:31] filharvey commented on #30
Thanks did that, one more

Could not find a version that satisfies the requirement scipy==1.6.1 (from -r requirements.txt (line 90)) (from versions: 0.8.0, 0.9.0, 0.10.0, 0.10.1, 0.11.0, 0.12.0, 0.12.1, 0.13.0, 0.13.1, 0.13.2, 0.13.3, 0.14.0, 0.14.1, 0.15.0, 0.15.1, 0.16.0, 0.16.1, 0.17.0, 0.17.1, 0.18.0, 0.18.1, 0.19.0, 0.19.1, 1.0.0b1, 1.0.0rc1, 1.0.0rc2, 1.0.0, 1.0.1, 1.1.0rc1, 1.1.0, 1.2.0rc1,

[2021-02-25 14:36] sigaloid commented on #30
I'm not on windows but try `pip install scipy`, it's possible that specific version isn't necessary.

[2021-02-25 15:11] emilepetrone commented on #4
What version of `fbprophet` are you running?

[2021-02-25 15:20] mmiha opened #32 "Instructions to run on Python 3.8.5 / Windows 10 Ubuntu WSL"
Probably not the best place but maybe helps somebody so I'm dumping here:

1) Enable Windows subsystem for Linux - open PowerShell as Administrator and run the following thee commands:
[code]
2) Install Ubuntu 20.04 LTS from Microsoft Store

3) Run it, let it do its thing, set username and password and you should end up in a terminal window

4) Run the following commands to install a few dependenc

[2021-02-25 15:21] noahkuhn commented on #4
If you're asking me: 0.7.1

[2021-02-25 15:43] adamlaz commented on #25
I had/have the same issue...

[code]

**I have it (mostly) working with Python `v3.7.7`**
[code]

I tried v3.7.7 for no other reason than I had that version already installed via pyenv. Also, it doesn't install properly with 3.8.1. There are some errors that I've seen so far _(eg. Importing plotly failed. Interactive plots will not work.)_ ... So I'm not going to open a PR to update readme until I

[2021-02-25 15:45] sigaloid commented on #32
Do the graphs open successfully? And is there a benefit to this instead of just regular windows python? That's what the developer uses

[2021-02-25 16:07] sigaloid opened #33 "Create github issue templates"
I'd make a PR for this, but I'm not sure exactly how the file structure works and else I'd need manage repo. This would help manage the issues coming in.

https://docs.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository

[2021-02-25 16:13] wuzhe opened #34 "ERROR: No matching distribution found for sentencepiece==0.1.91"
[code]

[2021-02-25 17:33] dbriemann commented on #32
I tried this on Ubuntu 20.04 itself (not WSL) and it fails with this issue #19 :

[code]

Any tip on fixing this? I don't really have much Python experience.

[2021-02-25 17:40] Ulmerjm commented on #25
I have found that if you edit the requirments.txt and have

Instead of

Pip will automatically find and install version 1.6.1 on its own. Your milage may vary here but it is worth a shot.

[2021-02-25 17:41] mmiha commented on #32
@dbriemann installing numpy 1.19.2 manually before applying requirements.txt solved it for me. Are you using python 3.8.5 and running commands in step 6 in the same order?

[2021-02-25 17:42] mmiha commented on #32
@sigaloid I didn't get that far, haven't tried installing beta CUDA drivers

[2021-02-25 17:45] sigaloid commented on #32
Ah okay, was just confused since I wasn't sure if the GUI features would work through WSL.

[2021-02-25 18:35] Ulmerjm opened #35 "Cannot Install FBProphet"
I am working through the dependencies on windows and have finally run into a snag I haven't been able to figure. During the fbprophet installation, the environment notices that pystan is missing and installs Cython, pystan, fbprophet, config, beautifulsoup4, alpha-vantage. After this, it retries running setup.py for fbprophet and quickly fails due to not finding pystan despite it being installed i

[2021-02-25 18:36] dbriemann commented on #32
I just repeated every step from zero and still have the same bug.. no idea if there is some strange problem with installed python packages or what is going on. I seem to always have problems with python projects and pip.. must be me.

[2021-02-25 18:58] Snorchy commented on #35
I also had trouble with dependencies. I haven't been able to install it on WSL2 ("Virtualised" Linux) in Windows after trying for like... 5 hours. I tried Python 3.6, 3.8 and 3.9 and I always hit some dependency that couldn't be installed. Even when I installed them manually (and succeeded that way) then I would hit another error anyways. The one that was unsurmountable to me was the "Carbon/Carbo

[2021-02-25 19:06] Ulmerjm commented on #35
If I read correctly on a different issue page the error with Carbon is a result of appscript which is actually unused in the code. Try removing that from the requirments.txt and you should be golden.

I'm just confused because the code was written and tested on Python 3.6.8 but pystans current requirements per their docs is python 3.7 or higher... maybe this is the root of the issue?

[2021-02-25 19:12] dbriemann commented on #32
Ok I ran this another time and this time added `--no-cache-dir` to every pip install command. This time it `ERROR: Failed building wheel for fbprophet`.

However I now can at least start the program. No idea if that error about fbprophet is serious.

[2021-02-25 19:40] binary-signal commented on #27
I can do the poetry stuff !

[2021-02-25 19:43] sabujp commented on #16
so if i close the graph and then type the command again, e.g. lstm or rnn, it recalculates every epoch and the final output. Why can't the output data just be saved so for the same input data set I get the same output without having to run the rnn or lstm again?

[2021-02-25 19:54] Snorchy commented on #35
That shocked me a bit as well, yes. Weird.

[2021-02-25 20:32] tigwyk commented on #35
I'm currently experiencing the exact same issue with fbprophet, Win10 x64 on an i7.

No matter how I try to shovel pystan at fbprophet, it won't build the wheel.

[2021-02-25 21:01] jgelsey commented on #34
Use 0.1.95

[2021-02-25 21:48] Snorchy commented on #35
I DID IT! Well, until execution, but at least I solved the problem of installing with Python 3.8.5 in WSL2 in Windows. For me the solution was to manually install all the packages that gave me error during the build, which were: xlwings, scipy, matplotlib and fbprophet. So the commands I ran were: `export INSTALL_ON_LINUX=1 && pip install --no-cache-dir wheel xlwings scipy matplotlib fbprophet &&

[2021-02-25 21:58] Ulmerjm commented on #35
From all, I have been reading there is a limitation with pystan and windows which can be resolved by adding a separate compiler to the PATH, alternatively, you can get these troublesome libraries working with docker so I might give that a try tonight personally.

[2021-02-25 23:41] yonoflow commented on #6
when trying to access requirements.txt it tells me: Permission denied
Any ideas why that is?

[2021-02-26 01:09] bjeale opened #37 "Can't run app / can't install appscript and fbprophet"
This is what I get when trying to run it. Couldn't install appscript and fbprophet. Python 3.8.8 (Win 10)

(venv_for_GamestonkTerminal) D:\Downloads\GamestonkTerminal-main>gamestonk_terminal.py
Traceback (most recent call last):
  File "D:\Downloads\GamestonkTerminal-main\gamestonk_terminal.py", line 12, in <module>
    from prediction_techniques import pred_menu as pm
  File "D:\Downloads\Gamesto

[2021-02-26 01:37] obsidiandevel commented on #3
Maybe consider a Dockerfile?

[code]

[2021-02-26 02:13] avocardio commented on #37
I just left fbprophet out of the script by just commenting out the code in the file and it ran fine without it. You just wont be able to use facebook trend data, which is not really important anyway.

[2021-02-26 02:26] avocardio commented on #4
How exactly do I use virtualenv directly? I have been trying by reinstalling like @noahkuhn did but sadly has not worked for me.

[2021-02-26 03:06] bjeale commented on #37
What exactly did you comment out?

[2021-02-26 03:13] juaudet commented on #37
Comment out the class : fbprophet in \GamestonkTerminal\prediction_techniques\fbprophet.py

[2021-02-26 03:17] jamesphillipturpin commented on #37
On Windows you need to use the wheel from conda-forge according to here:
[https://github.com/facebook/prophet/issues/89](https://github.com/facebook/prophet/issues/89)

I'm trying to do that just now, haven't got it working yet myself yet.

[2021-02-26 06:34] mo123e opened #39 "Gv"

[2021-02-26 07:52] mxjchen opened #40 "After running don't see anything?"
I tried running:

Loading Intraday 5min GME stock with starting period 2020-02-25 for analysis.

But the command finished and I'm not seeing anything? Am I doing something wrong? Don't see errors either..

Thanks

[2021-02-26 09:24] saintsupremacy commented on #30
Try going into the requirement.txt file and changing scipy 1.6.1 >>>1.5.2

[2021-02-26 09:33] saintsupremacy opened #41 "after following a guide that was posted on the thread i tried running the gamestonk_terminal within anaconda but i keep getting an error"
(terminal) C:\Users\Diego>C:\Users\Diego\Documents\GitHub\GamestonkTerminal\gamestonk_terminal.py
Traceback (most recent call last):
  File "C:\Users\Diego\Documents\GitHub\GamestonkTerminal\gamestonk_terminal.py", line 6, in <module>
    from helper_funcs import *
  File "C:\Users\Diego\Documents\GitHub\GamestonkTerminal\helper_funcs.py", line 3, in <module>
    from holidays import US as holiday

[2021-02-26 10:29] sevensinjai opened #42 "for those who encounter error when installing the python packages on Macos"
when you run `pip install -r requirement.txt` in your mac, if you encounter error related to `tensorflow`, `sentencepieces` or `matplotlib`, please check the followings:
1. your python and pip version required by tensorflow 2.x ( this project requires tensorflow 2.x , https://www.tensorflow.org/tutorials/quickstart/advanced )
2. some of my fds encounter error related to `ft2build`, they run `brew

[2021-02-26 11:02] src04c commented on #6
@noahkuhn Have you setup an API key for reddit? Once i setup a script in https://www.reddit.com/prefs/apps and used the api clientID and Keys config_terminal.py. The reddit calls started working fine.

[2021-02-26 11:42] noahkuhn commented on #6
I did set one up and added the relevant keys to the config file, but I'm still not getting anything. I found an "API access request" form on Reddit that I filled out wondering if my account needs to be approved first? Not sure. Did you do anything other than create the script on that Reddit prefs/app page?

[2021-02-26 12:05] src04c commented on #6
Yeah it does appear to use a Username and Password as well. I tried removing the password from the config and was back to getting null returns.

I did fill out the form for API. But its just a google form and the API keys used in the form I ended up deleting and starting over by creating a new script app. So i dont think its required..

So i have 4 items in the config_terminal.py for reddit.

Clie

[2021-02-26 12:21] alexhogset commented on #17
Same!

[2021-02-26 12:39] noahkuhn commented on #6
Did you create it as a "script" application? I think I did "web app" which might be my problem...

[2021-02-26 12:44] noahkuhn commented on #4
Hmm, that should work. Basically you need to get out of whatever pyenv virtualenv you are in, then make sure you have virtualenv installed to begin with, go into your project folder, create a new virtualenv using the virtualenv command (NOT pyenv virtualenv) and then activate it. At that point you can use pyenv to set the Python version.

Again, I'm just learning python so this might all be bad pr

[2021-02-26 13:21] src04c commented on #6
Yep did it as a script app.

Used a filler url for the redirect url which was required

The client ID wasn’t obvious either but appears under the name you give it once created.

[2021-02-26 13:25] sigaloid commented on #40
The stock data is loaded into memory. That's all the command does, since many different things can be done with it once it's loaded. Run `view` or see this for more info: https://github.com/DidierRLopes/GamestonkTerminal#features-

[2021-02-26 14:14] noahkuhn commented on #6
I got this sorted, I was using a .env file and I hadn't prefixed the vars with GT_ thus it wasn't finding them. Duh. Awesome!

[2021-02-26 14:39] jakobakoba commented on #19
i have ubuntu, this command in anaconda environment fixes the problem: pip install -U numpy

[2021-02-26 15:53] yonoflow opened #43 "scipy==1.6.1"
This came through when installing requirements.txt on Mac:

ERROR: Could not find a version that satisfies the requirement scipy==1.6.1
ERROR: No matching distribution found for scipy==1.6.1

[2021-02-26 17:43] tigwyk commented on #35
Since I'm trying to keep this install native to Windows (without resorting to WSL), I've tried a method installing mingw32 and using that compiler instead, but no matter what I still get the same errors when trying to compile the wheel so I suspect I'm missing a step somewhere. I'll report back if I make any headway.

[2021-02-26 18:19] rwinte commented on #43
On a Mac you should be using pip3 to perform the installation. The default pip executable is Python 2 rather than Python 3.

[2021-02-26 19:14] jftuga commented on #43
This is not working for me on Windows 10. I am using the recommended `python 3.6.8` as well as `pip 21.0.1`.

I get the exact same error message.

[2021-02-26 19:42] rwinte commented on #43
I was able to finish the installation on MacOS 11.2.2 by using Python 3 from Anaconda rather than the system-installed version. This is Python 3.8.2.

I created a venv and installed using:
/path/to/anaconda/bin/python -m venv <venv directory>
source <venv directory>/bin/activate
pip install -r requirements.txt

[2021-02-26 19:56] yonoflow opened #44 "TimeSeriesCrossValidation cannot be installed on Mac"
When installing requirements.txt below Warning is mentioned but the protocol continues until shows an Error when trying to use the TimeSeriesCrossValidation.
Does anyone else have that issue?

Cloning https://github.com/DidierRLopes/TimeSeriesCrossValidation (to revision 1e29d393204abb3bde23ff3f15258ed85d3b263e) to /private/var/folders/l2/4cfnd_1x137ckrhhhxts8dym0000gn/T/pip-install-84wtkg3g/times

[2021-02-26 20:19] yonoflow commented on #44
seems like Xcode download is necessary

that could help:

https://ma.ttias.be/mac-os-xcrun-error-invalid-active-developer-path-missing-xcrun/

[2021-02-26 20:26] Ulmerjm commented on #35
I also saw the suggestion of mingw32, but didn't try it myself. I have heard that you can get fbProphet installed on conda using a special conda-forge wheel but that was very slow and didn't seem to work properly.

For the time being, I have commented out the fbProphet class (which is the only place pystan is used to my knowledge) and have been running the code just fine. That might be the best so

[2021-02-26 21:41] Bainsbe opened #45 "Prediction algorithms can return negative stock prices"
Issue outlined in the title, may be worth setting a bottom bound on the prices to default to 0 if prediction is <0

![image](https://user-images.githubusercontent.com/55219220/109358226-6b21e680-7851-11eb-8920-13f5bf56ddcd.png)

[2021-02-26 22:38] d0tkom commented on #4
Update your matplotlib from 3.1.1 to 3.3.3 and it should work.

[2021-02-26 23:37] jamesphillipturpin commented on #45
I think the more natural solution is to fit to y=np.log(price) and then predict y. Return to the user price=np.exp(y). You could still get a price of 0.00 by rounding, say, 0.002 down to 0.00. It is a more realistic model for compound losses or compound gains. 75% loss is twice as bad as 50% loss. 100% loss is infinitely worse. And 100% gain offsets a 50% loss.

[2021-02-27 02:46] verchalent commented on #43
Ran into the same issue. scipy 1.6.1 is the latest on pypi.org, but the latest compatible with Python 3.6.8 (suggested / tested version) is 1.5.4

[2021-02-27 03:52] micheloosterhof commented on #3
Tensorflow is not yet supported on Python 3.9 https://github.com/tensorflow/tensorflow/issues/44485
But it seems to be close.

[2021-02-27 05:31] mxjchen commented on #40
I see, so the correct way is to run load then run view?
In that case I get segmentation fault, any ideas?

Loading Intraday 5min GME stock with starting period 2020-02-25 for analysis.

zsh: segmentation fault  python3 gamestonk_terminal.py

[2021-02-27 05:48] shmup commented on #43
This isn't mac specific

On linux, and funnily enough I've worked backwards from 3.9.1 for a bit before seeing this was dev'd against 3.6.8, but alas, here I am hah

[2021-02-27 06:35] yonoflow commented on #43
It worked for me by changing in requirements.txt just to scipy instead of scipy==1.6.1
What happens is apparently that  scipy is being installed regardless of the version.

[2021-02-27 06:45] Pranav4399 commented on #41
I followed the imgur guide but I'm getting a ModuleNotFoundError: No module named 'flair'. Flair is already installed along with pytorch. How to resolve this ?

[2021-02-27 06:47] Pranav4399 opened #46 "ModuleNotFoundError: No module named 'flair'"
I followed this guide  https://imgur.com/a/gqgVJPn to setup the terminal in anaconda environment but I'm getting the flair module error even though that is already installed along with pytorch. Can someone clarify me on this about what I should do ?

This is the complete error I'm getting -

warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

[2021-02-27 06:59] mubbud commented on #14
I have the same error in fundamental_analysis as well as in discovery even though I have successfully installed Fundamental Analysis and I have obtained all the API Keys mentioned (Alpha Vantage, Financial Modeling Prep, Quandl, Reddit, Twitter)

ModuleNotFoundError: No module named 'fundamental_analysis'

[2021-02-27 07:43] #46 closed

[2021-02-27 07:43] Pranav4399 opened #47 "Key already registered with the same priority: GroupSpatialSoftmax"
When i try to run python gamestonk_terminal.py in conda environment, it says "Key already registered with the same priority: GroupSpatialSoftmax". Any solutions ?

[2021-02-27 10:38] luger1 opened #48 "Installing fbprophet and appscript on Windows"
Installing the requirements fbprophet and appscript fails on Windows 10 with Python 3.8.8 64bit Version. Is there a fix? I read that fbprophet needs a compiler on windows, but I couldn't figure it out yet. If there is an easy fix, I appreciate it!

[2021-02-27 11:43] verchalent commented on #43
Confirming @shmup 's comment, it's not mac specific. I am hitting it on Linux using py 3.6.8 and also worked backwards from the latest py version. Changing from scipy==1.6.1 to scipy in requirements allowed me to get past this one. This change with Py 3.6.8 still yielded a bunch of minor errors and warnings in the modules installs, but was the first combo that allowed me to actually run the termin

[2021-02-27 12:31] exislow opened #49 "Let's talk about modularity."
This is a really great job! I like what you did. I like it that much, that I would love to use some of your features in my Game Stonk Telegram Bot (https://github.com/exislow/telegram-stonks-bot).

To do so, it would be great, if you could provide all the features you offer (dd, charts, news etc.) as a separate lib, which can be installed using pip (PyPi).

I mean, it would be great if the "termin

[2021-02-27 12:43] exislow opened #50 "So many dependencies!"
It takes a very long time to install all dependencies. Are really all of the dependencies required? Maybe some are only for dev and could be moved e.g. to `requirements-dev.txt`?

Also some of the dependencies have no version pinning. This is not a good practice.

What do you think? Less dependencies could increase deploy time...

[2021-02-27 13:05] DidierRLopes commented on #27
Hey guys,

I'm working on these during weekend:
- Using poetry to manage packages
- Reduce requirements to whatever is strictly necessary
- Making sure I can run a docker image from this

I'm having mostly troubles around fbprophet. But I think I should have something by tomorrow the latest.

@shadycuz I'll definitely take you on that one regarding CI/CD, we need it. Feel free to send me a PM on L

[2021-02-27 13:06] DidierRLopes commented on #3
The Python that I used was Python 3.6.8.

That one should work.

[2021-02-27 13:10] DidierRLopes commented on #4
Hey guys,

Sorry for all the issues with the requirements. I didn't expect so many people to be interested in this project, hence why didn't have a more robust "installation" process.

I'm working on these during weekend:
- Using poetry to manage packages
- Reduce requirements to whatever is strictly necessary
- Making sure I can run a docker image from this

Bear with me since I'm new to these to

[2021-02-27 13:16] DidierRLopes commented on #16
I get it now.

I'll add this to the future features, although with low priority. Thank you!

[2021-02-27 13:18] DidierRLopes commented on #14
The fundamental_analysis module comes from the Financial Modeling Prep.

So I guess you are having troubles with all commands related with this module, correct? Mainly in Fa menu? Are you using?
[code]

[2021-02-27 13:26] DidierRLopes commented on #17
Hey guys,

This is unexpected, what tickers were you using?

The only thing I can think of is that this command looks for 50 posts under a sub, from the past day, but one of the conditions that the code has is to not consider posts that have been removed by the mods. What could have happened is that it looks through 50 posts that have just been removed by the mods. Although it seems unlikely.

Can

[2021-02-27 13:27] DidierRLopes commented on #19
Hey,

I've tested with Python 3.6.8, which hasn't show me this.

Anyway, I'm refactoring the whole requirements.txt file, and installation process will be much smoother once I push the changes!

[2021-02-27 13:28] DidierRLopes commented on #21
Hey,

Thanks for feedback.

I'm improving the pip requirements this weekend, as it seems to be a major bottleneck as is.

[2021-02-27 13:29] DidierRLopes commented on #22
Hey @lfdversluis,

You're right. Thank you for pointing this out. This will be removed once I clean the requirements file!

[2021-02-27 13:31] DidierRLopes commented on #24
Hey,

Yes, this is a good call. And I should have done it earlier one. Believe me that if I knew that so many people would be interested in the project, I would of!

I'm cleaning whole installation process, and then I'll write up a Getting Started document. With docker image I think this may make life much easier to non-devs.

[2021-02-27 13:32] DidierRLopes commented on #25
Hey @alifa133,

Thank you for pointing this out. The scipy version should have been the 1.4.1 in the first place. I'll fix this soon, along with all requirements.txt fixes.

[2021-02-27 13:34] DidierRLopes commented on #28
Hey @umairsiddiqui-digitek ,

This is a good idea. The issue is what @akx pointed out. There are so many libraries that the binary would be huge, and so would the time to load it. I believe the docker image will improve things massively, for non devs.

I'll close the ticket on that basis :)

[2021-02-27 13:34] #28 closed

[2021-02-27 13:36] DidierRLopes commented on #30
Hey guys,

fbprophet dependencies have been a nightmare. I'm attempting to have it working smoothly soon.

Regarding scipy, you're right. It should have been 1.4.1. @filharvey

Hope this helps!

[2021-02-27 13:38] DidierRLopes commented on #32
Hey guys,

I'm working on improving the whole requirements text file, so this should all be fixed soon.

fbprophet is the hard one, as its dependencies are a pain. Hopefully I'll overcome the beast :)

[2021-02-27 13:40] DidierRLopes commented on #33
Hey @sigaloid ,

This is a really good idea. Feel free to make a PR for this. What would you need from me in order to do so?

[2021-02-27 13:40] #39 closed

[2021-02-27 13:50] DidierRLopes commented on #40
Hey @mxjchen ,

Exactly what @sigaloid said.

So, once you do:
[code]
you're loading GME stock starting of 25 Feb 2020 intraday 5 minutes.

When you run `view`. You don't need to redefine such arguments, since that's already what is loaded in the memory.

When you look for intraday data (`-i 5`) it means that instead of getting the usual 1 per day [open, close, high, low, volume] columns, you get

[2021-02-27 13:51] DidierRLopes commented on #41
Hey guys,

I'm working during the weekend in order to fix the requirements.txt for everyone. Will let you know once that's done!

Thanks for your patience!

[2021-02-27 13:52] DidierRLopes commented on #42
Thank you for this :)

[2021-02-27 13:52] shadycuz commented on #27
@DidierRLopes PM sent on linkedin. I think once you have poetry and the requirements undercontrol we can decide whats next. I think we could add linting and formating. It would be a PR with lots of tiny changes but no logic changes. Then probably focus on testing.

[2021-02-27 13:53] DidierRLopes commented on #43
Hey guys,

Sorry, this was my bad. The scipy version I'm actually using is 1.4.1.

I'm fixing the requirements this weekend. Bear with me :)

[2021-02-27 13:54] exislow opened #51 "Proper typing"
Python 3 offers typing support: https://docs.python.org/3/library/typing.html

You are still using prefixes in your method parameters like `s_`, `l_` etc. to indicate, that a parameter must be a string or list etc.

Why do not use Python3 typing instead? `l_whatever` will become `whatever: list`

[2021-02-27 13:54] DidierRLopes commented on #44
Hey @yonoflow ,

I've not seen this issue before. Were you able to solve it with Xcode?

Thanks!

[2021-02-27 13:58] mubbud commented on #14
That's right, I have troubles in Fa menu, however Financial Modeling Prep runs absolutely fine.
Thanks for your swift reply.

[2021-02-27 13:58] DidierRLopes commented on #45
Hey guys,

Thank you @Bainsbe for pointing this out!

And thank you @jamesphillipturpin for this solution. I'll label this ticker as a new feature and will work on that flag as well soon.

Regardless, I think that the right thing to do if the prediction of the stock price is negative, is to output "Invalid prediction" or similar. As realistically, a stock wouldn't go to 0 either.

[2021-02-27 13:59] DidierRLopes commented on #47
Hey @Pranav4399 ,

I've not come across this before. I'm improving requirements.txt file, this may help you!

[2021-02-27 14:00] DidierRLopes commented on #48
Hey @luger1 ,

The appscript shouldn't be necessary, and the fbprophet is a pain.

But I'm working on fixing the requirements.txt and overall requirements and package dependencies this weekend!

[2021-02-27 14:01] DidierRLopes commented on #49
Hey @exislow,

I like this idea. I'm fixing the requirements.txt and overall installation process. Once that's out of the way, I can have a further look at this.

[2021-02-27 14:04] DidierRLopes commented on #50
Hey @exislow ,

You're absolutely right. And this is what I'm working on today!

I'll leave requirements.txt to what is absolutely necessary. Add poetry for package management, and make it possible to build a docker image from it.

This should make the installation much more simple, and also decrease deploy time since I think the current requirements.txt has libraries that aren't being used.

[2021-02-27 14:08] DidierRLopes commented on #51
Hey,

I guess that in here I picked up my coding C/C++ standards habit, where by convention you specify the type of variable.

I think in python this is not so common, but I also think it doesn't hurt. And if the function you're working on is rather long, or there's a long line of code, it's useful to know the type of the variable you are accessing.

[2021-02-27 14:13] exislow commented on #51
Yes I agree, that typing is good. But why do not you use the typing system Python offers you? https://docs.python.org/3/library/typing.html

Maybe this was not really clear in my first comment.

[2021-02-27 14:15] exislow commented on #50
I am not a fan of peotry. Poetry can be really become really blown up. Also not all IDEs support poetry right now. E.g. IntelliJ cannot install files to my venv Python interpreter for a specific project. I would suggest to user requirements.txt as it is but with proper version pinning.

[2021-02-27 14:31] verchalent commented on #43
Heros are allowed to make mistakes.

[2021-02-27 14:50] remklov opened #54 "Ubuntu 20.04: Errors on Install"
I get several errors while installing the requirements on Ubuntu 20.04.

---

ERROR: Command errored out with exit status 1:
   command: /usr/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-_47q6av7/appscript/setup.py'"'"'; __file__='"'"'/tmp/pip-install-_47q6av7/appscript/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().repla

[2021-02-27 14:59] luger1 commented on #54
This is some issue with appscript. Delete it from the requirements and install again. It shouldn't be necessary to run it, or so i heard. Grüße aus Köln :)

[2021-02-27 15:12] yonoflow commented on #44
Hi @DidierRLopes

it worked for me after installing Xcode. My Mac runs on BigSur 11.2.2

[2021-02-27 16:54] sigaloid commented on #33
I would need `manage repo` access to add them. Don't worry about it, I'm working on a PR

[2021-02-27 17:09] BigCandyBunny commented on #14
The reason for this error is because the import statement calls for FundamentalAnalysis while the folder with the scripts is named fundamental_analysis. Thus, either change the named on the folder to FundamentalAnalysis or correct the spelling in the the 2-3 scripts with this error to fundamental_analysis.

Imports point to a folder where GamestonkTerminal is running, this is not a library issue.

[2021-02-27 17:24] BigCandyBunny commented on #50
Quite challenging to get the large list of libraries to function. Using pip on the requirements.txt file did not cut it for me. I use Miniconda and applied the command 'conda install -c conda-forge <library name>' successfully where my first attempt with pip failed. Also, I downloaded TensorFlow and PyTorch libraries directly  from its home page. If you have installed a library with pip which is n

[2021-02-27 18:25] CarloCobal opened #56 "installing sentence piece is giving me an error."
I already have it so I'm not sure why it keeps giving me :
ERROR: Command errored out with exit status 1:
     command: /Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/pc/xltjzqf95wzc7mv816m9g71m0000gn/T/pip-install-y497l2jg/sentencepiece_86788c200dcb4ecda7c6b1a3df1c4a46/setup.py'"'"'; __file__='"'"'/priv

[2021-02-27 18:30] jstammers opened #57 "Enable a dashboard interface for model performance evaluation"
The CLI for this app is incredibly useful and allows the user to carry out a lot of analysis.

Is there any planned work to develop a dashboard to visualise multiple analyses at once, or retrieve model performance metrics from previously trained models? For instance, I can see that `tensorboard` is listed as a dependency, but I can't see that being used anywhere within the project.

For quick and

[2021-02-27 19:02] BigCandyBunny commented on #47
Hi,
I experienced the same error on Windows 10. This error comes from PyTorch. If you installed using pip, please use 'pip uninstall pytorch'. I don't know anything about your SW configuration on your HW rig. Thus, assuming Windows 10 and Anacond/Miniconda you may check out [https://pytorch.org/get-started/locally/#anaconda] and install it directly in your local environment.

[2021-02-27 19:10] avocardio opened #58 "Some 'preds' not working"
When I try to use some preds, I get the same same error for all of them. Don't really know what this means. SMA and arima works fine without problem.

![Screen Shot 2021-02-27 at 12 45 49 PM](https://user-images.githubusercontent.com/74978236/109397629-38352c80-78fd-11eb-807f-e975c3f56e79.png)

[2021-02-27 19:21] #56 closed

[2021-02-27 19:21] CarloCobal commented on #56
Just saw the other post, thank you

[2021-02-27 19:40] DidierRLopes commented on #58
Hey @avocardio , these issues comes from my other module TimeSeriesCrossValidation. And this means that the data you are using to train these models (or "fit" in case of the regressions) is not enough given your number of inputs and number of outputs.

For instance, imagine that you want to predict the share price of Monday using the stock prices of this last week (5 days). You will define the num

[2021-02-27 19:43] tingletoys opened #59 "Brand new to coding etc"
So, this may not be the right place for this but I am completely new to coding (although not trading). I have downloaded python and the files for this terminal however am having a hell of a time opening and running it.

Any help on how to install the terminal would be really welcome.

[2021-02-27 20:16] piiq commented on #50
Hey @DidierRLopes 👋
This is the minimal list of requirements that allowed me to run the app on mac (python 3.8)

[code]
Also to get the charts I had to specify a backend for matplotlib in `~/.matplotlib/marplotlibrc`. This was `backend: MacOSX` for me.

Do you want a PR with requirements change?

[2021-02-27 21:14] mxjchen commented on #40
Thanks man, so I took your suggestion and tried to just for one day and without the intraday flag, but I still get the segmentation flag, any ideas? :( or if there a way for me to provide more logs?

Loading Daily GME stock with starting period 2021-02-26 for analysis.

zsh: segmentation fault  python3 gamestonk_terminal.py

[2021-02-27 21:22] exislow commented on #50
@piiq what versions did you use of the libraries and how did you have installed fbprophet on macOS? I am still stuck get it installed on Catalina.

[2021-02-27 21:50] sigaloid commented on #40
Run just `view`

[2021-02-27 21:55] mxjchen commented on #40
Yea its the same as with just view..

Loading Daily GME stock with starting period 2021-02-26 for analysis.

zsh: segmentation fault  python3 gamestonk_terminal.py

[2021-02-27 21:57] sigaloid commented on #40
Try a different shell. Are you on mac or linux? Running those commands works for me.

[2021-02-27 22:17] mxjchen commented on #40
I'm on mac, tried bash and zsh and same result. But I am running on virtual environment in order install everything in requirements.txt, do you also keep running gamestonk_terminal.py in virtual environment after installation?

[2021-02-27 22:29] sigaloid commented on #40
Try a different shell. Are you on mac or linux?

[2021-02-27 22:29] sigaloid commented on #40
No, I run it in regular python.

[2021-02-27 22:41] avocardio commented on #58
Makes perfect sense @DidierRLopes , thank you so much. What would be a good time frame for the preds in your opinion? The errors above came from a timeframe starting 2021-01-01.

[2021-02-27 23:09] regularperson2586 commented on #17
Dit it and same, result is 0

[2021-02-27 23:41] RayWillett commented on #59
@tingletoys  can you tell us what you've done to run it? Glancing at the code, it looks like running `python gamestonk_terminal.py` should execute the terminal, but there are a few prerequisite steps if you haven't already handled them

[2021-02-28 00:35] DidierRLopes commented on #58
No worries, always happy to help.

Yea that makes sense, by default the algorithm has `-i 40` which expects 40 data points. If you are using daily data, this corresponds to 2 months.

There isn't a "right" time frame to use, there are several things that you need to do in order to have one of the Neural Networks optimized for your stock price. Here are some things to look at when doing this:
- Fir

[2021-02-28 00:36] DidierRLopes commented on #17
I'll have a look regarding this over the following week. Thanks for flagging this to me!

[2021-02-28 00:38] DidierRLopes commented on #59
Hey @tingletoys,

I'm dedicating this weekend to make sure that this process of installation is drastically improved. Just bear with me as I had to learn some new things along the way. :)

[2021-02-28 00:42] joaomotap commented on #59
I wasn't able to run it either, got an "illegal hardware instruction" error. First time I've seen it on a python script. Maybe something in there doesn't play well with the M1 cpu...?

[2021-02-28 00:46] DidierRLopes commented on #50
Thank you @piiq for this list. Amazing work! No need for PR I'm currently installing libraries 1 by 1 with poetry in a docker image to make sure that the project builds smoothly with all necessary libraries. But your list is excellent, because it will allow me to compare my requirements.txt at the end with what you have, and I may ping you if there are any differences.

@exislow my idea was to exp

[2021-02-28 00:53] DidierRLopes commented on #57
Hey @jstammers,

I think this is a good idea, admittedly I haven't used streamlit before. I can read a bit about the topic during this week. What is your idea?

I'm always keen to have people contributing to the project! So feel free to work on it! If you want to discuss this in more details also, feel free to drop me a message on Linkedin or e-mail!

[2021-02-28 00:58] DidierRLopes commented on #59
Hey Joao,

I've never seen that either. But from a quick search online it appears to be related with tensorflow. Have a look at this thread https://github.com/apple/tensorflow_macos/issues/143

Hope it helps!

[2021-02-28 01:24] mubbud commented on #14
Zillion thanks for getting me in the right direction, Problem Solved.

[2021-02-28 03:22] barbar055a commented on #59
Hi Didier, it works very well, but how do I use the outputs from the 'sen' section? Some commands such as 'mentions' have no output, while others such as 'infer' outputs a .pt file.

[2021-02-28 05:45] piiq commented on #50
@exislow i use latest versions available on pip.
I use pip 20 and fbprophet installs fine. It has some the school setup.py installation that's deprecated and removed in pip 21.
I'm on Big Sur

[2021-02-28 07:17] shadycuz commented on #43
We like the terminal!

[2021-02-28 12:40] Pranav4399 opened #61 "Some stock Tickers(NSE & BSE) are missing in Timeseries AlphaVantage module"
Hello ! Kudos to great work. Currently I'm going through all the code to understand the terminal. I live in india and We have two stock markets - NSE & BSE. I couldn't find any list of stock tickers from india which are available in this module ? Can you share the list of available shares which are available in Timeseries AlphaVantage module if they're availalbe with you ? Else Can you suggest any

[2021-02-28 13:57] formvoltron commented on #42
yes I'm having difficulty installing requirements.. error on sentencepiece

I'm not sure what you mean...  what about python, pip & tensorflow?

here is my error:
     command: /usr/local/opt/python@3.9/bin/python3.9 -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/w5/b2scl24j5tv8n2_qgqg98wbc0000gr/T/pip-install-86tp_ou1/sentencepiece/setup.py'"'"'; __file__='"'"'/priv

[2021-02-28 16:10] avocardio commented on #58
Thanks for the nice explanation, I really appreciate what you're doing with this !

[2021-02-28 16:10] #58 closed

[2021-02-28 17:02] karenjh2 opened #62 "DASH + Predictions exported to CSV + Predictions to multiple tickers"
Thank you for doing this. It is impressive.

I tested LSTM with a ticker whose df_stock begins in May 2006. The predictions were for dates beginning on May 11 2006.

This should be predictions for dates starting at the end of the series, so in 2021. I will attempt to debug this. I would really like to see it working.

[2021-02-28 17:10] DidierRLopes commented on #62
Hey,

Thank you for the feedback :)

During development I had some issues where the dataframe didn't have the order I wanted. Meaning that if selected a starting date of 2006, it would have used data from 2021 until 2006, and predict from future to past...

I've done several tests around this, and thought I had fixed it by sorting these datetime index. Probably you did some sequence of commands th

[2021-02-28 17:22] karenjh2 commented on #62
User error. I did not do the sort. I called the LSTM function directly. Sorry but I find that initial menu hard to work with.

Having done that, the predictions are in the future. Thanks.

Karen Higgins

From: DidierRLopes <notifications@github.com>
Sent: Monday, March 1, 2021 3:11 AM
To: DidierRLopes/GamestonkTerminal <GamestonkTerminal@noreply.github.com>
Cc: karenjh2 <khig@earthlink.net>; Autho

[2021-02-28 17:23] formvoltron commented on #42
OK So I have python3.9.2  And TF says up to 3.8 for python.  Is this really causing the problem?

[2021-02-28 17:24] DidierRLopes commented on #61
Hey @Pranav4399,

Thank you for feedback.

Yes, you're right. I just checked and AlphaVantage doesn't seem to be the best for share prices outside NYSE/NASDAQ, as I saw some people asking for such "list".

I'll try to implement a fallback mechanism to get historical data from other sources in case they aren't available from AV. It may be worth looking into Yahoo Finance, or IEX.

[2021-02-28 17:29] DidierRLopes commented on #62
You should have not needed to sort it, unless you tried to changed the code. Because this should be coded.

Why did you find initial menu hard to work with? Do you have any improvements suggestions? Thanks!

[2021-02-28 17:43] karenjh2 commented on #62
I ran neural_networks.py, and did not use gameston_terminal.py. So I had to get the df_stock data and sort it.

I found the menu hard to use. For me, it was difficult to get to where I wanted to go.

Suggestions. A dashboard. The heading would be where the user enters the ticker, interval etc. and that would always be visible. The next level menus would be under that. Also there would be a way to

[2021-02-28 18:38] luger1 commented on #48
I got it working by simply editing the requirements.txt this way:

[code]

then install normally with pip:
`pip install -r requirements.txt
`

then install fbprophet with conda:
`conda install -c conda-forge fbprophet -y`

Conda fixes the compiler problem that you run into on windows.

[2021-02-28 18:38] #48 closed

[2021-02-28 18:46] exislow commented on #50
@piiq I will try to downgrade pip. Thanks.

@DidierRLopes I have send you a pull request with basic refactoring.

[2021-02-28 19:10] enriquevoss opened #65 "Would love to install this and work it out but this is the first time im using python."
Can you help an absolute beginner how to start and use this?

Okay so basically im an absolute beginner and coding but ive been investing for a while and wanted to give this a shot but i dont get it. :D Please help?  Could you make a more detailed installation description in steps?

Thanks!

[2021-02-28 21:40] tmdickinson commented on #59
Try opening up an interactive python interpreter and just try to import flair and tensorflow. I was getting "illegal instruction" errors too and was able to trace it down to those two imports. I commented out those imports (flair is imported by sentiment/twitter_api.py and tensorflow is imported in prediction_techniques/neural_networks.py) and I was able to get everything else to run.

[2021-03-01 00:05] saintsupremacy opened #66 "Feature request: built in screener using trading views api or similiar"
While we can already see the sentiment of the market. In my opinion it would be nice to see and screen out different stock. For instance on trading view I love to filter my stocks between $.10-10$ by descending volume. I just think if it had a screener feature then this terminal would really be above everything else.

[2021-03-01 01:33] DidierRLopes commented on #62
Got you, that makes sense then.

Really? I thought that the menu organization was quite good, thanks for the feedback. Let me know how do you think we could structure it better.

Such dashboard that you mention already exists. If you load a stock like: `load -t TLSA -s 2020-06-04` you are able to go see `Daily Stock: TSLA (2020-06-04)` on top of the predictions menu.

Agreed with your suggestion o

[2021-03-01 01:35] DidierRLopes commented on #65
Hey @enriquevoss ,

Yes, we've been working to improve the installation process during the weekend.

Will have something soon, along with a "Getting Started" document. I'll let you know once that happens in here.
Didier

[2021-03-01 01:44] DidierRLopes commented on #66
Hey @saintsupremacy,

You're right. This is a great idea, and I should have come up with it from the start. Thanks for this.

We'll work on this in the near future!

[2021-03-01 01:44] #33 closed

[2021-03-01 08:41] shadycuz commented on #42
@formvoltron Most likely. We are curently working on increasing this project's support for python versions. As of now it only supports `3.6.8` that we know of.

[2021-03-01 16:47] noahkuhn commented on #66
Agreed, I was just thinking about this type of API-driven screener for my personal trading bot, so if it can incorporated into this project, I bet it would be super helpful in your next project doing the trading bot...

[2021-03-01 21:36] simprecicchiani opened #70 "How to get it up and running on macOS Big Sur"
Hi, I saw the maintainer is planning to release a documentation. In the meanwhile I wanted to share my experience installing and running the code on macOS.
I had python3 previously setup with Anaconda (installed with homebrew `brew install --cask anaconda`).
Cloned the repo with `git clone https://github.com/DidierRLopes/GamestonkTerminal.git`.
`cd` into the repo directory and then `pip3 install -

[2021-03-01 23:19] CarloCobal opened #71 "How to you load a stock?"
Hi there!
The -t S_ticker [-s S_start_date]... is confusing me. What does the -t mean, do I put the date there? What is going on haha

Thank you,
Quaid

[2021-03-01 23:23] DidierRLopes commented on #71
Hey @CarloCobal ,

This is following the linux convention where you usually do:
`command_name -flag value`

The best way for you to learn what is going on is to do:
`command_name -h` which shows the help menu.

In your case:
`load -t  TSLA -s 2020-06-04`
it means you are performing the command load, the ticker (`-t`) you want is `TSLA`, and the starting date (`-s`) is `2020-06-04`.

Let me know if

[2021-03-02 01:05] foranpower commented on #54
This is probably obvious to you already, but it wasn't for me on linux.
-> from: requirement.txt
->delete: #//*not sure if these are necessary, but they were giving me errors in linux
-->xlwings
-->appscript

cd the gamestonk terminal directory (or right click inside the folder and click open in terminal)
type in terminal: python gamestonk_terminal.py

Still, seems some menus are missing. Maybe xl

[2021-03-02 01:11] DidierRLopes commented on #54
Exactly correct @foranpower ,

The xlwings and appscript aren't necessary. A fixed and improved requirements.txt list is coming soon.

Regarding the "menus missing" that made me giggle :) It's one of those things where you try to do something fancy but it may not be that intuitive. The reason why the other menus don't appear is because you don't have a loaded stock ticker, meaning that you can onl

[2021-03-02 02:14] CarloCobal commented on #71
Yeah that makes sense thank you!

I like your idea of loading the stock then using the analysis on the loaded ticker. In your example you have TSLA loaded, could you provide an example passing the loaded item to a sentiment or "disc" read?

Sincerely,
Quaid

[2021-03-02 02:52] BrettAlan128 commented on #65
I would like to know the installation details as well. I am doing the same things people are saying to do. At least I think anyways, and I am error message while trying to run the  `pip install -r requirements.txt`

[2021-03-02 05:50] shadycuz commented on #71
@CarloCobal

Once loaded all the other commands will use it. So load the stock and then run something like `pred` -> `mlp`

[2021-03-02 05:53] shadycuz commented on #65
@enriquevoss @breck7

We will have an update out this week which will increase compatibility and add docker container support. We will let you know when its out.

[2021-03-02 05:59] regularperson2586 opened #72 "prediction days"
Hey, excellent work man. Is there a way to set prediction days ? i.e to just 1? cant find anything relating to it

[2021-03-02 06:12] shadycuz commented on #72
@regularperson2586 Most of the commands have a "help" section. So for prediction using mlp you can type `mlp -h` and that will show you all the options.

Think your looking for `mlp -d 1`.

I'm going to close this issue but please open it back up if that wasn't what you were looking for =)

- GamestonkTerminal 🚀 🌔

[2021-03-02 06:12] #72 closed

[2021-03-02 09:07] universvm commented on #70
In my case I also needed the scipy version of `1.4.1.` as mentioned in #43 and potentially if you haven't installed XCode CLI utilities you might have to run `xcode-select --install` and `brew install gcc `.

[2021-03-02 09:10] universvm commented on #71
Perhaps we could add some sample commands to the README?

[2021-03-02 10:21] shadycuz commented on #71
@universvm I think we have at least two PR's working on updated docks. Will let you know when merged.

[2021-03-02 16:42] alifa133 opened #74 "can't get predictions to work"
Hi,

I keep getting this error when trying predictions techniques:

`To have at least one X,y arrays, the sequence size needs to be bigger than numInputs+numOutputs`

is it something wrong with the way I run the commands? check below:

[code]

Thank!

[2021-03-02 18:36] shadycuz commented on #74
@alifa133 Could you take a look at https://github.com/DidierRLopes/GamestonkTerminal/issues/58 , its similar and might have the answer.

[2021-03-02 18:38] DidierRLopes commented on #70
Thank you for feedback guys! @simprecicchiani and @universvm

I'm still doing some tests around Windows installation with poetry and pip install. I've checked with OS and it seems that the requirements should be good to go. I'll update this soon.

Thanks for feedback :)

[2021-03-02 18:55] clay-coffman commented on #44
Seems like you had a different issue but I ran into [this](https://stackoverflow.com/questions/51201515/pipenv-requires-an-egg-fragment-for-version-controlled-dependencies-warning-w) error trying to install this package using pipenv. It's a pretty simple fix, though (just run `pipenv install git+https://github.com/DidierRLopes/TimeSeriesCrossValidation#egg=TimeSeriesCrossValidation`).

[2021-03-02 22:20] CosminIvanov opened #75 "high_short command exception"
Hope it is not a dublicate. Here is the stacktrace

[code]

If no one else takes this in the near future, I'll try to fix it myself in the weekend.

[2021-03-02 22:21] CosminIvanov commented on #75
commit id: 40ee911b565ef08a73158829a50238b4b95f7a2c

[2021-03-02 23:06] CosminIvanov commented on #75
I repaired it, moving into creating the PR

[2021-03-02 23:06] #75 closed

[2021-03-03 03:29] jeetpatel910998 opened #79 "Demo for non tech people"
This looks pretty nice but I do not have any technical background on how to use this, can someone explain or demo please? Thanks in advance, I have a MacBook.

[2021-03-03 05:08] StokedKush opened #81 "Pystan install error on windows 3.6.8"
Am new to coding and all and just want to try this Terminal as a Forex Trader

**Error 1**

_ERROR: Command errored out with exit status 1:
   command: 'c:\program files\python36\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\KUSHAG~1\\AppData\\Local\\Temp\\pip-install-aqsn39k_\\fbprophet_7e073f007ad24dc38ebaceaed737ff87\\setup.py'"'"'; __file__='"'"'C:\\Users\\

[2021-03-03 06:00] shadycuz commented on #79
@jeetpatel910998 we are working on making this easier to get installed for users with any technical ability. We will reply back when we have docker and pip installation and abilities and supporting documentation.

[2021-03-03 06:13] shadycuz commented on #81
@StokedKush What is the output of `python --version`?

We are also adding a docker option soon. I will let you know when we have that ready.

[2021-03-03 06:15] StokedKush commented on #81
I am using python 3.6.8 as stated that this is tested on that version. Am really excited to use this terminal.

[2021-03-03 06:47] shadycuz commented on #81
@StokedKush We have been testing against linux with python 3.6.13, 3.7 and 3.8. We still need to add testing for mac and windows.

I can recommend you try 2 things.

First try to install pystan on its own. `pip install pystan=2.18` . Then try to install GamestonkTerminal with `pip install -r requirements.txt`.

If that doesn't work could you try to install python 3.8 instead?

[2021-03-03 07:27] StokedKush commented on #81
I see. It's working perfectly fine on Linux? Can I see some screenshots how does it looks.. I can try what you said on both versions and get back to you.

Thanks ;)

[2021-03-03 08:25] alifa133 commented on #74
Thanks for pointing me to that post. Yeah I think it's the same issue. The start date needs to be set a bit older in the past to get more data.

[2021-03-03 08:25] #74 closed

[2021-03-03 08:52] StokedKush commented on #81
I tried on both the versions and it says Failed to build fbprophet

[2021-03-03 09:19] DidierRLopes commented on #81
Hey @StokedKush ,

Can you attempt to run this:
conda install -c conda-forge fbprophet -y

Let me know if it works

[2021-03-03 09:28] StokedKush commented on #81
I just installed the miniconda environment in my pc and the command that you just gave is working, Let's see.

[2021-03-03 09:39] CosminIvanov opened #83 "[FR] Make it possible to have "jobs" - a group of commands that can be called by calling a single command"
**What's the problem of not having this feature?**
It is likely that people want to do the same things everyday. Let's say they first start by seeing the top gainers of yesterday, orders on fidelity and the news. They would need to do those steps every day. Having to type only one command for everything would make their work a lot faster.

**Describe the solution you would like**
There are three s

[2021-03-03 09:40] CosminIvanov commented on #83
I am waiting for your comments and ideas. I may start working on it sometime during the next 2 weeks if no one else does it.

[2021-03-03 09:46] CosminIvanov opened #84 "[FR] Autocomplete"
**What's the feature that should be improved?**
Doing tab-autocomplete would be a nice UX improvement.

**Possibly describe the ideal way to improve this**
Readline provides a reallly easy solution for this.
The code may need a little refactoring, as there will be a lot of duplicate strings.

**Additional information**
[https://docs.python.org/3/library/readline.html#completion](https://docs.pytho

[2021-03-03 09:47] StokedKush commented on #81
![image](https://user-images.githubusercontent.com/79958485/109786778-89ae2600-7c33-11eb-9a03-f8d7f71ec885.png)

I removed pystan from requirements and I guess now it's installing, Pystan is creating some issues

[2021-03-03 09:47] CosminIvanov commented on #84
I may start working on it during the next two weeks if no one else does it.

[2021-03-03 14:30] shadycuz commented on #83
Could you give an example of a group of commands you would turn into a job and the value proposition besides just being shorter?

Also I think workflow describes what your asking for better.

[2021-03-03 15:27] efontan opened #85 "[Bug] Not being able to run from the docker image"
**Describe the bug**
After building a docker image, the application crashes when I try to execute with `docker run`, with the following error:

[code]

**To Reproduce**
Either in Windows 10 or macOS Catalina:
- `docker build -t gamestonkterminal`
- `docker run gamestonkterminal`

**Desktop (please complete the following information):**
 - OS: both macOS Catalina and Windows 10 1909
 - Python versi

[2021-03-03 15:35] shadycuz commented on #85
@efontan When running with docker you need to use `docker run -it gamestonkterminal`. The `-it` means "interactive" and "terminal" (I think).

You can also run `docker-compose run gamestonkterminal`.

I'm going to close this but if it still doesn't work just reopen.

🚀 GamestonkTerminal 🌔

[2021-03-03 15:35] #85 closed

[2021-03-03 16:41] CosminIvanov commented on #83
In any case I would do a general_discovery and analyze_stock
General discovery: give me everything tranding on reddit, twitter, orders, news
Analyze stock: picks stock I wanted, run through some basic strategies, give me sentiment from a multitude of platforms.

Those two steps may be combined later in a separate program.

[2021-03-03 19:03] nikisix opened #86 "Up-Arrow [FR]"
**What's the problem of not having this feature?**

Most interactive tty applications allow you to simply hit the up arrow to automatically retype the previous input. The problem is retyping the old command every time.

**Describe the solution you would like**

Hit the up-arrow to recall the past command.

**Describe alternatives you've considered**

vim-keybindings :pray:

[2021-03-03 20:23] nanman357 opened #87 "[FR] Interest rate data"
**What's the problem of not having this feature?**
Would it be possible to have interest rate data available through the terminal?
Example: USD interest rate curve, official quotes from ON tenor to 1Y (example sourse: https://stooq.com/q/d/?s=ukousd1y )
Further tenors from 2Y can be from swap quotes like here : https://www.chathamfinancial.com/technology/us-market-rates

**Describe the solution yo

[2021-03-03 22:35] nikisix opened #88 "API Key test [IMPROVE]"
Would be nice if `tests/conftest.py` tested the api connection creds by making trivial requests to each service.

[2021-03-04 07:33] aia commented on #83
See https://github.com/aia/GamestonkTerminal/tree/main/gamestonk_terminal/papermill

[2021-03-04 08:12] nitsujri commented on #4
Came back to report that switching to `pyenv` + `poetry` it all works great!

Thanks so much @DidierRLopes + team. For me personally, this issue is closed.

[2021-03-04 08:36] michalchmura commented on #4
For myself, upgrading `matplotlib 3.1.1 → 3.3.3` fixed it

[2021-03-04 08:51] shadycuz commented on #4
I'm going to close this now. Lots has changed since this was opened.

The project has been testest to work with Pythons `3.6.8`, `3.7` and `3.8`.

We are using `poetry` to manage the project and that is one option for installing. The other is to install with the `requirements.txt`. Feel free to use any virtual environment you want.

Just make sure to run `pip install --upgrade pip` as that was aff

[2021-03-04 08:51] #4 closed

[2021-03-04 08:55] shadycuz commented on #3
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 08:55] #3 closed

[2021-03-04 08:55] shadycuz commented on #6
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 08:55] #6 closed

[2021-03-04 08:56] shadycuz commented on #41
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 08:56] #41 closed

[2021-03-04 08:56] shadycuz commented on #14
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 08:56] #14 closed

[2021-03-04 08:57] shadycuz commented on #27
Implemented by #69

[2021-03-04 08:57] #27 closed

[2021-03-04 08:58] shadycuz commented on #21
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 08:58] #21 closed

[2021-03-04 08:58] shadycuz commented on #37
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 08:58] #37 closed

[2021-03-04 08:59] shadycuz commented on #35
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 08:59] #35 closed

[2021-03-04 09:00] shadycuz commented on #19
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 09:00] #19 closed

[2021-03-04 09:00] shadycuz commented on #25
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 09:00] #25 closed

[2021-03-04 09:01] shadycuz commented on #30
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 09:01] #30 closed

[2021-03-04 09:02] shadycuz commented on #32
@sigaloid windows isn't really supported because its not supported by `pystan` officially.

[2021-03-04 09:03] shadycuz commented on #32
You don't have to have the nvidia drivers or be apart of the MS insiders to see charts using WSL. Just google "mobaxterm WSL".

[2021-03-04 09:03] shadycuz commented on #32
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 09:03] #32 closed

[2021-03-04 09:04] shadycuz commented on #34
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 09:04] #34 closed

[2021-03-04 09:06] shadycuz commented on #40
@mxjchen
Can you look at #4 ? I think they had the same issue and figured it out.

[2021-03-04 09:08] shadycuz commented on #22
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 09:08] #22 closed

[2021-03-04 09:10] shadycuz commented on #81
@StokedKush I tried for a while yesterday to fix this. Thats when I discovered the version of `pystan` we need is not officially supported anymore on windows. You may be able to get it installed via conda but even that is hit and miss.

Could you please try the docker container?

[2021-03-04 09:10] shadycuz commented on #81
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 09:10] #81 closed

[2021-03-04 09:21] shadycuz commented on #42
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 09:21] #42 closed

[2021-03-04 09:26] shadycuz commented on #43
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 09:26] #43 closed

[2021-03-04 09:26] shadycuz commented on #44
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 09:26] #44 closed

[2021-03-04 09:26] shadycuz commented on #50
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 09:26] #50 closed

[2021-03-04 09:27] shadycuz commented on #54
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 09:27] #54 closed

[2021-03-04 09:27] shadycuz commented on #65
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 09:27] #65 closed

[2021-03-04 09:28] shadycuz commented on #70
I'm going to close this now. Lots has changed since this was opened. You can run `git checkout main`, `git pull main` to fetch the latest and attempt to reinstall.

The project has been testest to work with Pythons 3.6.8, 3.7 and 3.8. Tensorflow doesn't support python 3.9 yet.

We are using poetry to manage the project and that is one option for installing. The other is to install with the require

[2021-03-04 09:28] #70 closed

[2021-03-04 15:10] cphoover opened #92 "Install breaks on Ubuntu 16.04.7 with pip 8.1.1"
**Describe the bug**
Install seems to be doing a lot of stuff and then fails unexpectedly with the following error:

[code]

**To Reproduce**
pip install -r requirements.txt

**Logs from command**

[code]

[2021-03-04 15:23] cphoover opened #93 "Could not find a version that satisfies the requirement tensorflow==2.4.1 [Bug]"
**Describe the bug**
As described in title my install is erroring with:
[code]

**To Reproduce**
pip3 -r install requirements.txt

[2021-03-04 15:56] shadycuz commented on #92
@cphoover Tesnorflow only supports `pip` >= 2.19 or something like that.

Could you please update the pip version and retry?

It also seems you are on a python version lower than `3.6`:
`Ignoring aiohttp: markers u'python_version >= "3.6"' don't match your environment`

You will need at least python `3.6` to run GamestonkTerminal. Since python 3.5 is EOL and 3.6 is soon to be EOL. I recommended yo

[2021-03-04 15:58] shadycuz commented on #93
@cphoover What is the `pip` version? Tensorflow only support `pip` >= `2.19`.

[2021-03-04 19:20] mxjchen commented on #40
Yes this works! updated matlibplot to 3.3.3 no more segmentation fault

[2021-03-04 20:36] #40 closed

[2021-03-05 09:38] mjt91 commented on #88
The tests should not test if an API is working. What if the API itself is not reachable? This would lead to failing tests. An optimal test in my opinion would be testing if API keys are present all together. Also mocking the request responses.

[2021-03-05 14:45] kn0ll opened #96 "[FR] API"
**What's the problem of not having this feature?**
GamestonkTerminal has collected a ton of useful scripts and code, but it is all directly coupled to the command line program. it would be nice to have extensible ways to create other types of visualizations or clients.

**Describe the solution you would like**
I think the simplest and most robust near term solution would be to:
1. pull the core da

[2021-03-05 16:40] kn0ll commented on #96
also, what command do i use to figure out why all my stocks are tanking right now?

[2021-03-05 19:15] universvm opened #97 "[FR] Correlation with given tickers over specified amount of time"
**What's the problem of not having this feature?**
It'd be cool to be able to correlate stocks for a specific amount of time. This is interesting specifically for stocks like AMC, GME and BB that have been surprisingly correlated, and others that have been almost uncorrelated between each others.

**Describe the solution you would like**
I think as a solution, perhaps as part as the due diligence

[2021-03-05 23:12] LordFahrenheit commented on #93
This is a Windows-based error. Had the same error, but works fine in Ubuntu VM. pip was freshly installed as was python3.

[2021-03-06 00:14] aia commented on #96
API is a must have for several reasons. I was also thinking about GraphQL.

[2021-03-06 00:18] aia commented on #96
You would want to look at cyclical performance. I.e. compare stock performance March 2019 to March 2020 to March 2021.

Also compare the behavior of different industries at different stages of the business life cycle. Compare the behavior of growth stocks to value stocks. Stock market vs Bonds vs Commodities.

I will be adding portfolio analysis and modeling features.

[2021-03-06 00:22] aia commented on #97
Definitely! Correlation matrices are also used in portfolio analysis.

https://github.com/robertmartin8/PyPortfolioOpt/blob/master/cookbook/2-Mean-Variance-Optimisation.ipynb

[2021-03-06 00:24] aia commented on #83
Initial code is not merged into the main branch.

[2021-03-06 00:25] aia commented on #17
Fixed - https://github.com/DidierRLopes/GamestonkTerminal/pull/99

[2021-03-06 00:25] #17 closed

[2021-03-06 03:17] nodesocket opened #104 "[Bug] Package sentencepiece was not found in the pkg-config search path"
- OS: Big Sur `11.2.2`
- Python version:

[code]

- Pip version:

[code]

## Error

[code]

[2021-03-06 16:41] BSalita opened #110 "[Bug]"
Windows 10 install. `pip pystan==2.18` failed when installing requirements.txt. Fix was to edit requirements.txt to change to just `pystan`.

I had edited requirements.txt with changes recommended in https://m.imgur.com/a/gqgVJPn. Perhaps that had something to do with `pystan` install breaking? Once `pystan` line was changed, all recommended changes worked great.

[2021-03-06 17:49] aia commented on #61
We should add alternative APIs for market data acquisition

[2021-03-06 17:50] #59 closed

[2021-03-06 17:54] aia commented on #51
Started getting addressed - https://github.com/DidierRLopes/GamestonkTerminal/pull/101

[2021-03-06 17:54] #51 closed

[2021-03-06 20:11] drzhouq opened #113 "[Bug] reddit API connection issue"
**Describe the bug**
when issue Reddit related commands, always get the invalid_grant error processing request

Search for latest tickers under 50 'pennystocks' posts
invalid_grant error processing request

**To Reproduce**
1. python terminal.py
2. sen
3. popular -d 5

**Screenshots**
<img width="285" alt="image" src="https://user-images.githubusercontent.com/3936288/110219333-61146f00-7e73-11eb-9

[2021-03-06 20:22] DidierRLopes commented on #113
Hey @drzhouq ,

Have a look at this link for more info on each API KEY for Reddit: https://praw.readthedocs.io/en/latest/getting_started/authentication.html#script-application

Personally, my user agent is "stonks by /u/SexyYear"

Let me know if it worked!

[2021-03-06 20:24] DidierRLopes commented on #110
Hey @BSalita ,

Thank you for feedback.

We're looking into making 2 requirements.txt:
- fbprophet, pystan, tensorflow, ... - only used for prediction menu
- the rest

Will close this issue now. I'll write this on my notes, thank you!

[2021-03-06 20:24] #110 closed

[2021-03-06 20:25] DidierRLopes commented on #47
Closing this issue, as I'm assuming that @BigCandyBunny solution worked

[2021-03-06 20:25] #47 closed

[2021-03-06 21:00] drzhouq commented on #113
Thanks @DidierRLopes I followed that instruction and was able to identify the issue. I have 2factor enabled on my account and that's how the authentication didn't get through. remove the 2factor and it works like a charm.
BTW, thanks for writing this app. I am still trying to figure out how to navigate it.

[2021-03-06 21:00] #113 closed

[2021-03-06 21:07] drzhouq commented on #104
@nodesocket You have to use the 3.6 version if you decide to use the repo's requirements. I suggest you use pyenv (`brew install pyenv`) and use pyenv to install python 3.6.8. To install all packages to a virtual environment, you probably want to use `python -m venv your_stonk_folder` and activate that environment by `source your_stonk_folder/bin/activate`.  Alternatively, you could use the Docker

[2021-03-06 21:10] drzhouq commented on #93
make sure your python is greater or equal to 3.6.8 but no more than 3.7. run `python --version` to figure out.

[2021-03-06 23:03] khonkhortisan opened #116 "[Bug] requirements-win.txt conflicting dependencies cython==0.29.17 and gensim==3.8.3→Cython==0.29.14"
[code]

**Describe the bug**
requirements.txt and requirements-win.txt both need cython==0.29.17, requirements.txt needs gensim==3.8.2, requirements-win.txt needs gensim==3.8.3 needs cython==0.29.14. I think the newer gensim needs an older cython than the older gensim does. Maybe the .3 is a typo?

**To Reproduce**
[code]

**Desktop (please complete the following information):**
 - OS: Windows 10

[2021-03-06 23:52] cclauss opened #118 "[IMPROVE] Should terminal --type be letters instead of numbers?"
**What's the feature that should be improved?**
A description of what's the feature you want improved, and a bit of context (why is that).

https://github.com/DidierRLopes/GamestonkTerminal/blob/main/terminal.py#L154
Terminal `--type` currently looks for numbers which might not be easy for users to remember correctly.

Why not use `o` for open, `h` for high, `l` for low, `c` for close, `d` for dai

[2021-03-07 03:54] aia commented on #116
For Windows, you want to follow these instructions for now:

https://github.com/DidierRLopes/GamestonkTerminal/discussions/95

We are looking to improve windows support.

[2021-03-07 07:27] khonkhortisan commented on #116
Yay! I got to a prompt.
I installed Miniconda3-latest-Windows-x86_64.exe with ☑️ add to path "not recommended" and ☑️ use as default python, uninstalled python 3.8, used Anaconda Powershell Prompt (miniconda3) because it has `ls` and not just `dir`, skipped `conda create -n gst python=3.8; conda activate gst` because I don't want to commit to using that much space yet, don't know how requirements-

[2021-03-07 07:46] gmerrall opened #121 "[IMPROVE] Consider simplifying requirements.txt"
The requirements.txt is a bit of a beast and I'm guessing it was generated from the output of some utility such as poetry. It probably doesn't need to be as complex as it is since it's listing every module, version and dependency.

Can I suggest it should be modified to include only top level imports and allow individual environments to sort out dependencies? I'm not sure the app is doing anything

[2021-03-07 08:02] gmerrall commented on #92
That pip version number seems awfully low even for Xenial Can you please run 'pip -V'

Note that Xenial only has Python 3.5.  If you want to run gamestonk terminal consider installing a [3.6 backport](http://devopspy.com/python/install-python-3-6-ubuntu-lts/) or spinning up something like Vagrant or Docker.

[2021-03-07 08:10] gmerrall opened #122 "[IMPROVE] Consider using python prompt toolkit or cmd module for terminal"
It might b a good idea to take a look at the [Python Prompt Toolkit](https://python-prompt-toolkit.readthedocs.io/en/latest/) or at a minimum the [cmd module  ](https://docs.python.org/3/library/cmd.html)

They would takeover some of the heavy lifting around things like readline, color, output control and the UI.  cmd looks like it would be pretty easy to wire up. The prompt toolkit would definite

[2021-03-07 08:31] gmerrall opened #123 "[Bug] Deprecation notice in discovery/short_interest_api.py"
Python: 3.8.8 (Mac Big Sur/Homebrew)
Pandas: 1.2.3

When going to disc -> high_short a deprecation notice is printed originating from [discovery/short_interest_api.py#L72](https://github.com/DidierRLopes/GamestonkTerminal/blob/dc2c4d905ec4253e0b4510462f4e75218ff6373f/gamestonk_terminal/discovery/short_interest_api.py#L72)

Error is

Obviously a quick so expect a PR from me.

[2021-03-07 09:39] gmerrall opened #124 "[IMPROVE] [PROPOSAL] Remove -t flag requirement from load command"
**What's the feature that should be improved?**
There's only one thing you can do with load and that's load a stock ticker. Everything else is optional but depends on the ticker. It's a better user experience to replace the -t flag with a positional parameter so you're only required to use 'load SYMB'

I can't think of a reason to keep the -t requirement

[2021-03-07 09:55] DidierRLopes commented on #24
Hey, let me know if this does the job:

https://github.com/DidierRLopes/GamestonkTerminal#getting-started

Will close this issue. Re-open it if you have any suggestions to improve this.

[2021-03-07 09:55] #24 closed

[2021-03-07 09:57] DidierRLopes commented on #71
Hey guys,

Have a look at https://github.com/DidierRLopes/GamestonkTerminal#getting-started .

I'll close this issue, re-open it if you have any suggestion to improve this.

[2021-03-07 09:57] #71 closed

[2021-03-07 09:58] DidierRLopes commented on #79
Hey, have a look at https://github.com/DidierRLopes/GamestonkTerminal#getting-started. I added an usage example

I'll close this issue, re-open it if it's not good enough or you have any suggestion.

[2021-03-07 09:58] #79 closed

[2021-03-07 10:14] DidierRLopes commented on #122
Hey @gmerrall ,

This sounds good to me, I haven't used neither of these before. If you could work on such POC that would be very much appreciated.

[2021-03-07 10:52] DidierRLopes commented on #124
Good idea, #126 should do the job :)

[2021-03-07 10:58] DidierRLopes commented on #121
I attempted this before, and I got better results with the big requirements.txt list coming from poetry.

If you can test this, and it works, feel free to do a PR and add this requirements.txt with a name like: "requirements_top_level.txt".

[2021-03-07 12:09] DidierRLopes commented on #118
#127 already has this :)

[2021-03-07 14:31] DidierRLopes commented on #61
I've implemented this with Yahoo Finance in #128 (the data is acquired from quandl)

Can you let me know if the tickers you usually use are available?

I tested some of them, some work some don't. The ones that do, still aren't available on Alpha Vantage. So regardless it's an improvement. The others that I've tried and don't work, I get the message from yahoo finance API:
[code]

[2021-03-07 14:32] DidierRLopes commented on #118
Closing this because it has been implemented and merged.

[2021-03-07 14:32] #118 closed

[2021-03-07 16:07] DidierRLopes commented on #7
This has now been done by #119 !

Will close this issue on that basis :)

[2021-03-07 16:07] #7 closed

[2021-03-07 19:48] aia commented on #121
Requirements are generated by Poetry.

[code]

We use Poetry and ensure compatibility with different environments via CI - https://github.com/DidierRLopes/GamestonkTerminal/actions/runs/630217699

If you haven't used Poetry ((https://python-poetry.org/) , I highly recommend you take a look. Poetry brings sanity to dependency management in Python.

We will retire a few manually generated requiremen

[2021-03-07 19:53] aia commented on #122
The problem with GNU readline is Windows support.

We have many Windows users of the project and would like to maintain Windows compatibility.

Adding prompt completion or prompt hits at the cost of loosing a great number of users is not a great way forward.

[2021-03-07 19:56] aia commented on #104
We have made several changes to the installation. Please take a look at the latest changes.

Continuous Integration for Mac OS X is passing - https://github.com/DidierRLopes/GamestonkTerminal/runs/2051726482.

[2021-03-07 19:56] #104 closed

[2021-03-07 19:57] aia commented on #92
We have made several changes to the installation. Please take a look at the latest changes.

Continuous Integration for Ubuntu is passing - https://github.com/DidierRLopes/GamestonkTerminal/runs/2051726427.

[2021-03-07 19:57] #92 closed

[2021-03-08 01:08] gmerrall commented on #121
I'll close this out. I thought the Poetry thing was an individual preference thing then went back and spotted the issue where it was discussed. I'll close this out.

[2021-03-08 01:08] #121 closed

[2021-03-08 14:17] IvanDePivan opened #134 "[FR] Similar tools for Crypto"
**What's the problem of not having this feature?**
GamestonkTerminal is great at analysis of stocks, but measuring similar things in the crypto space is not yet possible.

**Describe the solution you would like**
Possibly it's hard to distinguish whether you're looking at crypto or a ticker symbol, so I suggest using a seperate flag that's not allowed to be used together with the `-t` flag:

`load

[2021-03-08 15:01] nikisix commented on #88
Probably both the unit and integration test (foreign api) would be appropriate; the former being quicker to implement but less useful (a user knows when they've entered a key).

https://www.guru99.com/unit-test-vs-integration-test.html

[2021-03-08 18:25] aia commented on #134
We maintain a project roadmap and we do have a Cryptocurrencies section - https://github.com/DidierRLopes/GamestonkTerminal/blob/main/ROADMAP.md#Cryptocurrencies.

We don't have much planned yet, but if you would like to work on certain features, please feel free to open a PR against the Roadmap document and add the features you are working on.

[2021-03-08 19:39] DidierRLopes commented on #61
I'll close this issue for now. If Yahoo Finance is still not good enough, feel free to open a new issue!

[2021-03-08 19:39] #61 closed

[2021-03-08 19:44] DidierRLopes commented on #93
I'll close this Issue. If the issue persists feel free to open a new one!

[2021-03-08 19:44] #93 closed

[2021-03-08 19:51] DidierRLopes commented on #116
@khonkhortisan did you end up getting around this?

[2021-03-09 01:20] Spockrates opened #135 "[Bug] Trying to generate dd from the mill submenu results in a runtime error."
**Describe the bug**
Trying to generate dd from the mill submenu results in a runtime error.

`(✨) (mill)> dd -t GME
Executing:   0%|                                                                                                 | 0/8 [00:00<?, ?cell/s]/usr/local/anaconda3/envs/gst/bin/python: No module named ipykernel_launcher
Executing:   0%|

[2021-03-09 02:53] kgoswami opened #136 "[Bug]"
**After installation was finished (step #6) I tried "python terminal.py" and I got the error saying no module named pandas.**

"(stonkterm) C:\Users\####\Desktop\gamestonk\GamestonkTerminal>python terminal
.py
Traceback (most recent call last):
  File "terminal.py", line 4, in <module>
    import pandas as pd
ModuleNotFoundError: No module named 'pandas'

**so I installed it using "pip install pan

[2021-03-09 04:45] aia commented on #135
That means the notebook can't find your Jupyter kernel.

Do you have jupyter installed?

If not, could you try conda install jupyter in your environment?

[2021-03-09 04:48] aia commented on #136
We have updated the installation instructions:

https://github.com/DidierRLopes/GamestonkTerminal#install

Could you check if these work for you?

[2021-03-09 04:49] aia commented on #123
https://github.com/DidierRLopes/GamestonkTerminal/pull/137

[2021-03-09 04:52] #123 closed

[2021-03-09 04:57] gmerrall commented on #122
Have spun up a quick POC in a fork and just adding some prettiness. Looks be looking for someone to tell me how it looks in Windows as I don't have easy access to Windows.

[2021-03-09 06:18] StokedKush commented on #135
(mill)> dd -t TSLA
Executing:  62%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▉                                                                                  | 5/8 [00:02<00:01,  2.39cell/s]
Traceback (most recent call last):
  File "terminal.py", line 208, in <module>
    main()
  File "terminal.py", l

[2021-03-09 06:21] aia commented on #135
yes, we need to add mplfinance to requirements.

For now

[code]

[2021-03-09 06:23] StokedKush commented on #135
![image](https://user-images.githubusercontent.com/79958485/110427592-01fe6680-80ce-11eb-8c12-71b3b62a11c3.png)

That Worked !!! but that led me to this

![image](https://user-images.githubusercontent.com/79958485/110427641-12aedc80-80ce-11eb-9fa5-b27721ce578d.png)

[2021-03-09 06:30] aia commented on #135
Open another terminal window in the GamestonkTerminal directory and run

[code]

Or install https://github.com/nteract/nteract viewer and associate nteract with *.ipynb extensions.

[2021-03-09 06:33] StokedKush commented on #135
you are a lifesaver Dude. am now gonna update my Config APIs and test the rest of the features. Want to try Prediction command now

[2021-03-09 14:29] kgoswami commented on #136
I tried new steps, it worked for most part,

But I reported another ug on github yesterday,
Bug: I had to install many modules manually e.g. "pip install pandas" I
have attached whole list of modules to be installed manually.

after doing this I was able to access the terminal program.

On Mon, Mar 8, 2021 at 11:49 PM Artem Veremey <notifications@github.com>
wrote:

[2021-03-09 17:47] aia commented on #135
Or set an environment variable.

If you installed all additional ML modules and want to enable Prediction menu, you need to update ENABLE_PREDICT to True

[2021-03-10 01:03] clothespin commented on #83
So, it doesn't actually work yet because the current terminal input loop doesn't support running in something other than a tty, but because the terminal runs in a loop taking a line of text as input and interpreting it, it can in principle be scripted (at least on Linux) using the same techniques used for other scripting languages like python, perl, or bash. A sample script might look like the fol

[2021-03-10 06:41] clothespin commented on #83
Hmm, on trying out a couple things, input redirection in bash with < almost works with a script.

Test script (test.gme):
[code]
Output:
[code]
That's almost useful already, all that is needed is to
1. Catch the EOF exception and exit successfully (if we made it to EOF, we interpreted all the input).
2. Use os.isatty(sys.stdin) to detect when the terminal is being run in batch mode and turn off al

[2021-03-10 16:24] divyank0 opened #143 "Create a text communication channel : public feed[FR]"
**What's the problem of not having this feature?**
GameStonk Terminal is great at analysis of stocks, But to share and receive Ideas, I would have to use reddit or some other channel. An inbuilt channel would provide instantaneous news, Ideas and will increase the usage of the product.  It will also have more focused audience.

**Describe the solution you would like**
To start with,  a public chan

[2021-03-10 20:10] DidierRLopes commented on #134
Will close this issue based on @aia's comment!

[2021-03-10 20:10] #134 closed

[2021-03-10 20:13] DidierRLopes commented on #136
Hey @kgoswami ,

I believe if you had followed the main installation guide - with poetry - you would have had more luck. Poetry takes care of the package management, and makes installation process much easier.

Will close this issue now. Feel free to re-open it if you had any other issue

[2021-03-10 20:13] #136 closed

[2021-03-10 21:41] #84 closed

[2021-03-10 21:41] #86 closed

[2021-03-10 21:41] #97 closed

[2021-03-10 21:43] Spockrates opened #144 "[Bug] Calling 'help' in 'ta' and 'pred' crashes without error"
**Describe the bug**
Adding the -h flag to commands in the ta and pred submenus causes GST to quit.

**Screenshots**
<img width="1025" alt="Screen Shot 2021-03-10 at 4 39 31 PM" src="https://user-images.githubusercontent.com/79881506/110701746-91377700-81bf-11eb-842f-7fba01d090ef.png">

**Desktop (please complete the following information):**
 - OS: Big Sur 11.2.3
 - Python version 3.6.8

[2021-03-10 21:44] #135 closed

[2021-03-10 22:00] DidierRLopes commented on #122
#142 implements prompt toolkit for some menus already! It looks great!

Will close this ticket as the OP of #142 will finish the implementation for other menus during weekend

[2021-03-10 22:00] #122 closed

[2021-03-10 22:20] DidierRLopes commented on #144
Hey @Spockrates,

Good point, I'll fix this now :)

[2021-03-11 01:48] Spockrates opened #149 "[Bug] Typo in the fundamental analysis help menu"
**Describe the bug**
It's just a typo. I'm new here and don't know the Github etiquette on reporting these, so you get a whole bug report! Kindly advise me if there is a better way.

Under Yahoo Finance API > shrs. It reads: "hareholders of the company" instead of "shareholders of the company".

**Screenshots**
<img width="472" alt="Screen Shot 2021-03-10 at 8 42 35 PM" src="https://user-images.gi

[2021-03-11 06:04] aia commented on #149
Thank you for report!

This will be fixed in https://github.com/DidierRLopes/GamestonkTerminal/pull/150/

[2021-03-11 08:28] DidierRLopes commented on #144
Closing this issue because #146 fixes this

[2021-03-11 08:28] #144 closed

[2021-03-11 12:39] bfxavier commented on #96
What if we add a boolean flag to the methods like returnRaw and if its true, just return the responses?

This way, we can keep the same code, the same logic and just check for that on every method.

[2021-03-11 14:22] kgoswami commented on #136
Thanks for reply,

I did use poetry install, and then did manual installs.
but it is working on my end now,

Thank you,

On Wed, Mar 10, 2021 at 3:14 PM DidierRLopes ***@***.***>
wrote:

[2021-03-11 14:42] Quickpipsfx opened #154 "Unable to get output of lstm feature"
![image](https://user-images.githubusercontent.com/80470045/110804319-139a6680-82a6-11eb-8e26-d2d09462bc4f.png)

This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

[2021-03-11 14:54] kn0ll commented on #96
to be totally frank...your proposal would introduce new branches to every single one of those functions. if it was my library, i'd avoid those branches at all costs. if you let me tap in at a lower level, there is no branching for you to manage.

that said, that's definitely a personal "code quality" type metric. meaning, your proposal would definitely solve my problem and enable me to do what i w

[2021-03-11 14:57] kn0ll commented on #96
one big benefit to your solution, which mine does not support, is that you could expose `returnRaw` as an option from the command line as well, if you so pleased.

[2021-03-11 17:22] #149 closed

[2021-03-11 17:23] aia commented on #116
We have Windows CI now - https://github.com/DidierRLopes/GamestonkTerminal/runs/2088287736?check_suite_focus=true

[2021-03-11 17:23] #116 closed

[2021-03-11 17:27] aia commented on #96
I think logic should be decoupled from presentation.

Decoupling logic from presentation will streamline testing too.

I started doing that [https://github.com/DidierRLopes/GamestonkTerminal/blob/main/gamestonk_terminal/fundamental_analysis/market_watch_api.py#L191](https://github.com/DidierRLopes/GamestonkTerminal/blob/main/gamestonk_terminal/fundamental_analysis/market_watch_api.py#L191).

We ne

[2021-03-11 21:01] DidierRLopes commented on #154
Hey @Quickpipsfx ,

I don't actually have GPU on my machine, so I can't replicate this.

Can you have a look at this thread https://github.com/tensorflow/tensorflow/issues/45853
and let me know.

Does this happen only for lstm? Or also for mlp and rnn?

Thanks in advance!

[2021-03-12 05:43] clothespin commented on #83
Took a look at implementing this today but it looks like the addition of prompt_toolkit breaks this workflow, I get
[code]
I'll look into how other projects that use prompt_toolkit handle this.

[2021-03-12 07:59] Quickpipsfx commented on #154
yeah same is happening with mlp and rnn but I managed to make it work by changing the name of one the dll CUDA file so it doesn't load and start processing with Processor i guess.

![image](https://user-images.githubusercontent.com/80470045/110910082-e5189c00-8336-11eb-9fdd-5012fe9dd152.png)

so now am able to see the chart and prediction output

![image](https://user-images.githubusercontent.com/

[2021-03-12 08:24] Quickpipsfx opened #159 "historical data ending point."
we should also have a feature through which we can choose the chart data ending point as well so that we can predict the historical data and backtest the prediction feature and see how accurately it performs..

incase when we are not setting the ending point then it will automatically set itself to the current time as it does now

[2021-03-12 12:50] DidierRLopes commented on #159
Hey @Quickpipsfx,

This is the same FR as #5 , I have a really clear view on how to do this and will try to get to it during weekend, but still need to fix a couple of little things before that.

Will close this based on #5 being the same

[2021-03-12 12:50] #159 closed

[2021-03-12 12:59] DidierRLopes commented on #154
Great that you made it work!

I've added a nice text in here: https://github.com/DidierRLopes/GamestonkTerminal/issues/58#issuecomment-787210229

I think that due to its nature LSTM will always be better than MLP and RNN. Because:
- MLP: The neurons don't have any memory
- RNN: The neurons can only retain really recent memory
- LSTM (improved RNN): The neurons have a good memory, hence why this is

[2021-03-12 12:59] #154 closed

[2021-03-12 17:35] aia opened #160 "[Bug] Several graphs are hanging displaying blank page"
**Describe the bug**
Graphs are hangingdisplaying blank page

**To Reproduce**
- Start a terminal
- Load a ticker
- go to FA menu
- Run sma

**Screenshots**
<img width="930" alt="with-ion" src="https://user-images.githubusercontent.com/535247/110976747-22206680-8316-11eb-8e03-f38aa64b2785.png">

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Python version: Conda wit

[2021-03-12 19:31] #160 closed

[2021-03-13 08:47] sandsturm opened #164 "Seaborn dependency is missing [Bug]"
**Describe the bug**
ModuleNotFoundError: No module named 'seaborn'

**To Reproduce**
Start from a fresh install and virtual environment. Clone the repository, install dependencies via poetry and `python terminal.py`

**Solution**
Add `seaborn = "^0.11.0"` to pyproject.toml and do a `poetry update`

[2021-03-13 15:06] DidierRLopes commented on #164
Closing this ticket because #165 has been merged! Thanks :)

[2021-03-13 15:06] #164 closed

[2021-03-13 20:44] alexanderruchti opened #167 "[FR] Add economic data from FRED"
**What is FRED?**
FRED is short for the Federal Reserve Bank of St.Louis. It is one of the best free providers on economic data.

**Why would adding FRED benefit GamestonkTerminal?**
FRED offers many data series for free that give investors a decent view on how the economy (and therefore potentially the market) is going. Some noteworthy series are the _interest rate yield curve_, the _weekly initi

[2021-03-13 23:46] DidierRLopes commented on #5
Only had time to work on it today during the afternoon, have a look at #169 :)

[2021-03-13 23:47] DidierRLopes commented on #159
Only had time to work on it today during the afternoon, have a look at #169 :)

[2021-03-14 11:42] DidierRLopes commented on #5
#169 merged, so will close this!

[2021-03-14 11:42] #5 closed

[2021-03-14 17:52] tavurth opened #170 "[Bug] Somehow caused my Mac to kernel panic"
**Describe the bug**
I was loading the `pred` menu for GME, when gst caused my mac to kernel panic and restart.

**To Reproduce**
I'm not sure how to reproduce

**Screenshots**
<details>
panic(cpu 2 caller 0xffffff80134469aa): Kernel trap at 0xffffff7f974ea499, type 14=page fault, registers:
CR0: 0x000000008001003b, CR2: 0x0000000000000016, CR3: 0x00000001daf31065, CR4: 0x00000000003626e0
RAX: 0x0

[2021-03-14 20:43] DidierRLopes commented on #167
Thanks for this, will have a look at this hopefully later this week! :)

[2021-03-14 22:53] DidierRLopes commented on #170
I've no idea what happened here! I just tested it on my macOS High Sierra and it worked well.

<img width="501" alt="Captura de ecrã 2021-03-14, às 22 52 22" src="https://user-images.githubusercontent.com/25267873/111087173-fe2c7300-8517-11eb-93a3-5be5449df7e2.png">

Have you tried again since?

[2021-03-15 02:06] kristjanmar opened #172 "[FR] Add the Stock Analysis website"
Thanks for making the GameStonk terminal! I’m the owner of stockanalysis.com, any chance you could check it out and add it to the “Research Web Pages” if you think it is useful?

Also, my site has pretty detailed financial data with up to 25 years of financial history. It is easy to parse with python as long as it doesn’t do too many requests at once. It works great if just fetching one or several

[2021-03-15 02:33] WP-LKL commented on #49
Great job with GamestonkTerminal @DidierRLopes. I as @exislow would appreciate the ability to integrate components of this project to our own (like `sentiment`) but then handling plotting on client-side and optimizing with `asyncio`  to downstream.

[2021-03-15 02:49] WP-LKL commented on #96
The development going into this, is not fully harnessed unless it can be coupled to performing actual trades or provide an interface; whatever is be a locally hosted flask/django server with sqlite database or something more serious. Remember that the Bloomberg _terminal_ isn't really a "terminal" - it is much more than that.

[2021-03-15 06:00] Quickpipsfx opened #174 "NOT RESPONDING"
I didn't have this issue in the old version of stonk, I tried to build a fresh environment as well and still the figures are not responding, Help me if anyone faced the same issue.

p.s. the figures in discover function are showing but in TA and PRED it's not

![image](https://user-images.githubusercontent.com/80470045/111112545-59954a00-8586-11eb-9483-6b06a7b99aad.png)

[2021-03-15 07:00] aia commented on #174
see https://github.com/DidierRLopes/GamestonkTerminal/pull/158

[2021-03-15 09:11] lfdversluis opened #178 "No check if DataFrame is empty"
[code]

I ran  `candle abna` which I think might be a wrong stock symbol.

[2021-03-15 19:14] avocardio opened #180 "[IMPROVE] Automatically adjust the figure window size according to screen size"
**What's the feature that should be improved?**
I have to adjust the view or pred figures every time I run them, and they sometimes don't scale well.

**Describe how you would like the feature improved**
I would like the figures to open a little bit bigger or at least according to some screen ratio.

I have no idea how to do this, but I was going to try this myself but I have no idea where I would

[2021-03-15 19:19] DidierRLopes commented on #178
Thanks for pointing this out, #179 will fix this!

[2021-03-15 19:24] DidierRLopes commented on #180
Hey @avocardio ,

This contribution would be extremely welcome.

The lines you are looking for are:
`plt.figure()`

For instance in Arima case, that is:
https://github.com/DidierRLopes/GamestonkTerminal/blob/ce31ff6245489b535385105a3a3560e9b9fb7bac/gamestonk_terminal/prediction_techniques/arima.py#L171
and
https://github.com/DidierRLopes/GamestonkTerminal/blob/ce31ff6245489b535385105a3a3560e9b9fb7

[2021-03-15 19:32] Quickpipsfx commented on #174
@aia  am still unable to resolve it :/

[2021-03-15 19:41] tavurth commented on #170
I've not 🤣 I'm rather nervous about things that cause my mac to restart like that.
I will try again at some point in the near future. I would say it's most likely a library that's pulled in, but I use a lot of ML libraries (mostly similar to what you have here) and I've not seen anything similar.

I will update when I have more info

[2021-03-15 19:47] DidierRLopes commented on #178
Closing this since #179 solves this

[2021-03-15 19:47] #178 closed

[2021-03-15 19:50] DidierRLopes commented on #174
Hey @Quickpipsfx the issue is that you must have both USE_ION and USE_PROMPT_TOOLKIT set to true. This is not yet compatible, unfortunately.

Set one of them to true, and other to false, in here:
https://github.com/DidierRLopes/GamestonkTerminal/blob/8508b166f41d93e39ce00a3b91140d7fdc5dbcd9/gamestonk_terminal/feature_flags.py#L5

and it should work! Let me know if it doesn't!

[2021-03-15 19:50] Quickpipsfx commented on #174
Yes I got it now, It's Fixed Thanks !!

[2021-03-15 19:51] chrisg117 opened #181 "Cant install poetry dependencies [Bug]"
Cant seem to get the poetry dependencies to install on windows 10.

Step 5 in the installation process works fine, but I cant get through step 6.

 Every time I use

I get an error saying

![Screen Shot 2021-03-15 at 3 48 46 PM](https://user-images.githubusercontent.com/24805108/111212582-25318600-85a6-11eb-8174-db1a3ba365e9.png)

[2021-03-15 20:06] #174 closed

[2021-03-15 20:46] avocardio commented on #85
Hey, has there been a fix for this? I get the same error.. even after running like @shadycuz proposed.

[2021-03-15 22:28] larenspear opened #186 "[Bug] argon2-cffi fails to build on Big Sur"
I followed the instructions as written (cloned repo, created conda environment, conda install poetry, etc) but it fails upon trying to install all of the dependencies.
[issue.txt](https://github.com/DidierRLopes/GamestonkTerminal/files/6144862/issue.txt)

I was able to get this up and running last week, and only when I pulled the latest changes did this happen.

[2021-03-15 22:37] DidierRLopes commented on #186
Hey, not sure what's this.

Can you attempt this poetry.lock file: https://github.com/DidierRLopes/GamestonkTerminal/blob/14d7390e5b2de603fd72fb218b4c5fc2a3d69869/poetry.lock

We may have introduced a regression recently. Let me know if it worked please

[2021-03-15 23:02] DidierRLopes commented on #172
Your website has now been added to research menu! Thank you for this, it is a great addition to our terminal!

Will close this PR on that basis.

[2021-03-15 23:02] #172 closed

[2021-03-15 23:27] aia commented on #186
We do run CI for Mac OS X - https://github.com/DidierRLopes/GamestonkTerminal/runs/2116830122?check_suite_focus=true.
It does used cached venv though.
Here's my log from Ubuntu, argon2-cffi (20.1.0) is installing fine:

[code]

[2021-03-16 01:45] aia commented on #186
[code]

Do you have a C compiler on your system?

[2021-03-16 02:02] sabujp opened #187 "[Bug] crypto no longer loads (e.g. load -t btcusd -s 2017-04-01)"
**Describe the bug**

crypto no longer loads (e.g. load -t btcusd -s 2017-04-01)

**To Reproduce**

(✨)> load -t btcusd -s 2017-04-01

1 Failed download:
- BTCUSD: No data found, symbol may be delisted

**Desktop (please complete the following information):**
 - OS: linux
 - Python version 3.8.7

**Additional context**
this used to work, let's find the change that broke this, are we using a differ

[2021-03-16 02:08] sabujp commented on #187
looks like the default source changed from alphavantage to yahoo finance (yf) so now to get btc use "load -t BTC-USD -s 2017-04-01" otherwise use --source to change the source.

[2021-03-16 02:08] #187 closed

[2021-03-16 02:19] Pijaycs opened #188 "[Bug]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps(from the start) and commands to reproduce the behavior

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. Mac Sierra]
 - Python version [e.g. 3.6.8]

**Additional context**
Add any other information that y

[2021-03-16 02:33] #181 closed

[2021-03-16 05:14] Deep-Six opened #191 "[Bug] fa -> fmp menu prompt shows as av"
**Describe the bug**
When Entering the fa menu followed by the fmp sub menu the prompt continues to display (fa)>(av)>

**To Reproduce**
Select fa
Then select fmp

**Screenshots**
N/A

**Desktop (please complete the following information):**
Docker container

**Additional context**
Add any other information that you think could be useful for us.

[2021-03-16 05:51] aia commented on #188
Unfilled template?

[2021-03-16 05:51] #188 closed

[2021-03-16 08:08] buzzCraft commented on #180
I see that https://pypi.org/project/screeninfo/ will provide screen resolution for Win/Mac/Unix. If you are open to have yet another package imported, I'll start looking into it.

[2021-03-16 09:05] DidierRLopes commented on #191
This is a copy-paste typo, #193 will fix this.

Thank you for pointing it out :)

[2021-03-16 09:07] DidierRLopes commented on #180
As long as it improves the user experience, I'm happy with more packages being imported! Thank you for this :)

PS: #189 will be merged soon. This touches the Neural Network figures code, so watch-out for conflicts when you create the PR.

[2021-03-16 09:10] buzzCraft commented on #180
I'm thinking about making config_plot.py where you can set the size of plots. After looking into autoscaling, I don't think this is the way to go. I'll keep it as an option and let you decide later.

[2021-03-16 09:11] DidierRLopes commented on #187
Exactly, you need to provide `--source av`

I could have added a fallback to use AV if yahoo finance failed to be fair. But we'll be working soon on a Crypto section. So feel free to add your features request to  https://github.com/DidierRLopes/GamestonkTerminal/blob/main/ROADMAP.md

[2021-03-16 09:15] DidierRLopes commented on #180
Sounds good to me!

If you think autoscaling may not be suitable for everyone,  but for some users it will. You can add it behind a feature flag, look into feature_flags.py.

E.g.
`
if gtff.USE_PLOT_AUTOSCALING:
   plt.figure(autoscaling nice feature)
else:
   plt.figure( get resolution from config_plot file)
`

[2021-03-16 12:43] kc2o47 commented on #186
Hi all,

I do encouter the same issue as what @larenspear described above. Here is the error code attached in the photo.
<img width="1663" alt="Screenshot 2021-03-16 at 11 11 55 pm" src="https://user-images.githubusercontent.com/49902161/111310545-1f729800-86ad-11eb-8e60-9ace49be20a2.png">
looking forward to having any solution about this.

[2021-03-16 14:41] ALoaf0fBread opened #198 "[Bug] Papermill - Notebooks Fail to Open in Browser"
**Describe the bug**
After running mill > dd -t TICKER, the Jupyter Notebook fails to open properly in browser.

Here is an example report url: http://localhost:8888/notebooks/notebooks/reports/DHI_20210316_090911_due_diligence.ipynb

- When GST opens this in browser, I get an "Unable to Connect" error from Firefox (my default browser).
- When initiate Jupyter Notebooks from Anaconda (outside of t

[2021-03-16 16:10] jmaslek commented on #167
I am willing to take a look and add something for this feature.

[2021-03-16 16:54] aia commented on #186
CI is also having no problems - https://github.com/DidierRLopes/GamestonkTerminal/runs/2122933994?check_suite_focus=true

On Mac OS X, you need a compiler - https://stackoverflow.com/questions/9329243/how-to-install-xcode-command-line-tools. You can also get a compiler view Homebrew.

[2021-03-16 17:02] aia commented on #198
Are you launching

[code]

from c:/users/[USERNAME]/GameStonkTerminal?

[2021-03-16 18:53] ALoaf0fBread commented on #198
That was the issue! When I use a separate instance of Anaconda to launch Jupyter Notebook instance from the gst environment from the c:/users/[USERNAME]/GameStonkTerminal directory, then mill > dd -t [TICKER] opens the notebook correctly in browser.

Still requires me to open a new instance for Anaconda, but I have no clue if it's possible to streamline that. You're a wizard as far as I'm concerne

[2021-03-16 19:09] DidierRLopes commented on #191
Closing this one due to #193 being merged, thanks @Deep-Six  :)

[2021-03-16 19:09] #191 closed

[2021-03-16 19:10] DidierRLopes commented on #198
I can confirm, @aia is a wizard. #welikepapermillfeature

[2021-03-16 19:59] aia commented on #198
For now, yes, Jupyter notebook instance needs to be launched separately. At some point we will add a job scheduler to the terminal that will give us the ability to launch background tasks including a Jupyter server. Job scheduler is a fairly large feature that will take time to get out. Simply launching and controlling Jupyter server outside of the terminal is not too much of a hassle.

[2021-03-16 20:37] ALoaf0fBread commented on #198
Made .bat files to make this easier for myself, will share here if anyone happens to see this in the future & is as lazy as me.

**init_gst.bat** save in GamestonkTerminal folder

- set root=C:\Users\[USERNAME]\miniconda3
call %root%\Scripts\activate.bat %root%
set root=C:\Users\[USERNAME]\GamestonkTerminal
call cd C:\Users\[USERNAME]\GamestonkTerminal
call conda activate gst
python terminal.py
pa

[2021-03-16 20:37] #198 closed

[2021-03-16 23:29] sahlawiz opened #200 "[IMPROVE]"
**What's the feature that should be improved?**
A description of what's the feature you want improved, and a bit of context (why is that).

**Describe how you would like the feature improved**
A description of what the current feature is vs what it would be after your suggestion.

**Possibly describe the ideal way to improve this**
If you have thought about how you would do it, add it here.

**Add

[2021-03-16 23:40] DidierRLopes commented on #180
@buzzCraft has worked on this and his improvements are already merged.

Will keep this PR open since @buzzCraft will expand this improvement to the prediction figures.

[2021-03-17 00:56] aia commented on #200
Seems like an autopopulated template.
Closing.

[2021-03-17 00:56] #200 closed

[2021-03-17 01:22] arcutright opened #203 "Using wrong API key for AV earnings data"
This call should be `&apikey={cfg.API_KEY_ALPHAVANTAGE}`. It seems like their api auth sucks right now and it will happily accept `&apikey=myfakeapikey` but this should probably be fixed. [According to their docs](https://www.alphavantage.co/documentation/), this is a required parameter.

https://github.com/DidierRLopes/GamestonkTerminal/blob/bdaaca453322e1be8687040e26f2b984beeb9855/gamestonk_term

[2021-03-17 03:27] aia commented on #203
Thank you for the report!

Here's the fix - https://github.com/DidierRLopes/GamestonkTerminal/pull/204

[2021-03-17 03:45] groove-kidman commented on #186
No it can not work out still. I think the main problem is the matplotlib installation failed in the poetry install.
<img width="963" alt="Screenshot 2021-03-17 at 2 14 12 pm" src="https://user-images.githubusercontent.com/49902161/111411802-204a0f00-872b-11eb-8cf1-b130588e47f8.png">

[2021-03-17 04:58] aia commented on #186
There is something strange about your environment, but the WHL is indeed failing for you.

You can try Python 3.8. Same steps. Perhaps you will have a better luck with a 3.8 WHL.

[2021-03-17 05:02] groove-kidman commented on #186
Can I run that in VScode?

[2021-03-17 05:08] larenspear commented on #186
So I've just found the solution to this issue! It has to do with MacOS post-Catalina. I was really frustrated because I have a C++ compiler, but MacOS still couldn't find the header files. Turns out it's some Apple funny business.

Below is what finally helped me (after installing gcc from homebrew).

https://stackoverflow.com/questions/58278260/cant-compile-a-c-program-on-a-mac-after-upgrading-to

[2021-03-17 05:08] #186 closed

[2021-03-17 05:15] groove-kidman commented on #186
@larenspear @aia @DidierRLopes
I just worked out the problem and ran the script successfully
<img width="1680" alt="Screenshot 2021-03-17 at 3 42 15 pm" src="https://user-images.githubusercontent.com/49902161/111418299-60af8a00-8737-11eb-9e30-fc25bce355a5.png">
The key to work out this issue is the python version (which may require the latest version of python) at step 2: "conda create -n gst pyth

[2021-03-17 12:46] groove-kidman opened #208 "[Bug]Module Not Found"
Hi,

Since I solved the WHL issues yesterday and successfully ran the script once. Now I failed ro re-run the script when I quitted and reopened the script again, with the error prompted below:

Traceback (most recent call last):
  File "terminal.py", line 8, in <module>
    from pandas import pandas as pd
ModuleNotFoundError: No module named 'pandas')

I have tried tusing conda install pandas aga

[2021-03-17 15:07] ilDon opened #210 "[IMPROVE] Drop support for fbprophet"
**What's the feature that should be improved?**
Drop `fbprophet` from the supported prediction techniques

**Describe how you would like the feature improved**
Remove it entirely, or make it optional when installing prediction dependencies

**Possibly describe the ideal way to improve this**
Installing pystan and fbprophet on Windows is a pain in the stonks and my experience with it in predicting

[2021-03-17 15:19] aia commented on #208
Did you activate your conda environment?

Run ```conda info```

[2021-03-17 15:27] aia commented on #210
FBprophet is indeed a mediocre component that takes significantly more resources and effort than its worth.

We can probably hide it further behind another feature flag to help people who want ML but don't want to deal with FBprophet. Truth be told, FBprophet is at the moment a proverbial egg on the ML face.

We did manage to figure out an aia-proofed way of installing FBprophet on Windows. Github

[2021-03-17 15:32] #203 closed

[2021-03-17 16:13] hlchan-sg opened #211 "[Bug]poetry install - FileNotFoundError"
Hi I have activated conda GST and is at the step - poetry install

there is this error message:

FileNoteFoundError

[WinErrror 2] The system cannot find the file specified

~\anaconda3\envs\gst\lib\subprocess.py:1017

any help on this?

many thanks/

[2021-03-17 16:24] aia commented on #211
Try following the same steps as we have in Github CI -

https://github.com/DidierRLopes/GamestonkTerminal/actions/workflows/windows.yml

[2021-03-17 16:49] jmaslek commented on #211
Did you conda install poetry?

[2021-03-17 17:21] hlchan-sg commented on #211
yes install poetry has no issues encountered

[2021-03-17 17:25] hlchan-sg commented on #211
i fork the github to "documents" of the user folder
cd into GamestonkTerminal folder
conda install poetry
proceed? yes
executing: done.

next i key poetry install

it shows FileNotFoundError
[WinError 2] The system cannot find the file specified
~\anaconda3\envs\gst\lib\subprocess.py:1017

[2021-03-17 18:18] DidierRLopes commented on #180
Closing this because of @buzzCraft contribution. Thanks!

[2021-03-17 18:18] #180 closed

[2021-03-17 18:47] jmaslek opened #214 "Images"
![mortrate](https://user-images.githubusercontent.com/18151143/111521185-3d80dc80-872f-11eb-989d-c2bb256aa213.png)

![usdeu](https://user-images.githubusercontent.com/18151143/111521481-92bcee00-872f-11eb-8a02-e7346e56e462.png)

[2021-03-17 18:47] #214 closed

[2021-03-17 19:00] aia commented on #211
I'd suggest repeating what Windows CI is doing step-by-step.

<img width="1146" alt="windows-ci" src="https://user-images.githubusercontent.com/535247/111523315-5f229980-8718-11eb-969c-96cbe0cb8b35.png">

[2021-03-17 19:01] universvm commented on #97
@aia perhaps I misread the pr but I don't think this was addressed? Let me know if you need a hand

[2021-03-17 19:14] DidierRLopes commented on #97
I think the wrong PR was linked, see #141.

A new menu was created for this, called comparison_analysis.
https://github.com/DidierRLopes/GamestonkTerminal/tree/main/gamestonk_terminal/comparison_analysis#corr

On the ROADMAP we have to add a comparison based on fundamentals, should be coming soon :)

[2021-03-17 19:23] DidierRLopes commented on #167
@jmaslek addressed this already in #199 ! Closing this due to that

[2021-03-17 19:23] #167 closed

[2021-03-17 19:24] DidierRLopes commented on #87
I believe #199 addresses this. Is this correct @jmaslek ?

[2021-03-17 19:52] jmaslek commented on #87
I think so.  Most of those should be on the fred site - which can be accessed with the custom function.

Did not do the discount factors.

[2021-03-17 20:41] nickatnight opened #215 "[IMPROVE] Release History"
**What's the feature that should be improved?**
It doesn't seem there is any release history. How are changes, fixes, etc being tracked?

**Describe how you would like the feature improved**
Leverage"Releases" feature that comes standard with all GitHub repos

**Possibly describe the ideal way to improve this**
There are a few options. Can add release step in GitHub actions, or manually release us

[2021-03-18 01:10] cknig opened #217 "[IMPROVE] Question Amount"
In Kahn, it has a certain amount of problems for what lesson you're doing it need to be less amount to have more interaction and more motivation
[math-g8-m6-topic-a-lesson-1-teacher.pdf](https://github.com/DidierRLopes/GamestonkTerminal/files/6160617/math-g8-m6-topic-a-lesson-1-teacher.pdf)
 to move to the next amount of questions.

[2021-03-18 01:12] cknig commented on #211
Yes I also suggest  Windows CI

[2021-03-18 02:10] aia commented on #217
Doesn't look relevant to GST

[2021-03-18 02:10] #217 closed

[2021-03-18 02:59] Deep-Six opened #220 "[Bug] ImportError: cannot import name 'API_FRED_KEY'"
**Describe the bug**
API_FRED_KEY is not defined:
Traceback (most recent call last):
  File "terminal.py", line 26, in <module>
    from gamestonk_terminal.fred import fred_menu as fm
  File "/home/jhenkel/src/personal/GamestonkTerminal/gamestonk_terminal/fred/fred_menu.py", line 7, in <module>
    from gamestonk_terminal.fred import fred_api
  File "/home/jhenkel/src/personal/GamestonkTerminal/ga

[2021-03-18 03:08] Deep-Six commented on #220
Ignore, user error on config_terminal.py

[2021-03-18 03:08] #220 closed

[2021-03-18 03:40] Twintop opened #221 "[Bug] Crashes on tkinter.TclError"
**Describe the bug**
Attempting to run a command that will launch an external GUI will crash instead of erroring gracefully if tkinter is unable to connect to a display.

**To Reproduce**
1. Run these commands from CLI:
- `python terminal.py`
- `load GME`
- `view`
2. Crashes
(see full console at end)

**Screenshots**
N/A

**Desktop (please complete the following information):**
 - OS: Windows 10/W

[2021-03-18 03:49] aia commented on #221
When you run view, the program opens a window. Your WSL2 is not connected to your Windows UI, so the window fails to open.

This behavior is expected.

On Windows, you want to run the terminal outside of WSL/WSL2.

If you really really desire to run the terminal in WSL, you need to start an X server on your windows and do a correct DISPLAY export in your WSL shell.

[2021-03-18 04:24] Twintop commented on #221
I don't doubt that the behavior is expected, I'm raising it as a bug because the user experience is poor. Rather than crashing out in this instance it would be preferred to have a message like "Could not connect to display. Check your settings." and continue operating.

[2021-03-18 05:19] jeremyperkin opened #222 "[Bug] Unable to get the terminal to run based on the instructions given."
**Describe the bug**
Getting error when launching stating issue with alpha_vantage

file terminal.py, line 9 in module from alpha_vantage.timeseries import TimeSeries ModuleNotFoundError: no module named 'alpha_vantage'

**To Reproduce**
Steps(from the start) and commands to reproduce the behavior

Used your instructions guide.   Gave me this error.

**Screenshots**
If applicable, add screenshots

[2021-03-18 05:45] aia commented on #221
That is true.

[2021-03-18 05:49] aia commented on #222
Please take a look at the steps in Windows CI:
- https://github.com/DidierRLopes/GamestonkTerminal/actions/workflows/windows.yml
- https://github.com/DidierRLopes/GamestonkTerminal/blob/main/.github/workflows/windows.yml

[2021-03-18 14:00] zkniebel opened #224 "[IMPROVE] Provide Architecture Diagram"
**What's the feature that should be improved?**
Architecture documentation. For those wondering how it works and wanting to understand the project at a high-level before diving in head first, it would be helpful to have an architecture diagram (maybe some write-up too, but the diagram should be a sufficient start) to illustrate the functionality of the solution.

**Describe how you would like the

[2021-03-18 15:07] ricardofullton opened #225 "[Bug] Not working on Ubuntu WSL2 for Windows"
My primary  working enviroment is Ubuntu in WSL2 on windows, all my envs and libraries are there, I followed the instructions but can't seem to get it working, I can open the terminal and run commands but there is no output with any command Can't get the terminal working properly on WSL2 ubuntu on windows

Maybe it is not intended to work at all? will probably try straight to windows installation

[2021-03-18 15:40] aia commented on #225
See https://github.com/DidierRLopes/GamestonkTerminal/issues/221

[2021-03-18 15:45] ricardofullton commented on #225
makes sense, trying out windows directly, but man that fb-prophet lol, btw, outstanding work, congrats

[2021-03-18 15:45] #225 closed

[2021-03-18 15:55] sabirjana opened #226 "Pred module not working on window 10 [Bug]"
**Describe the bug**
I have windows 10 system and facing the following issue when I try to run 'pred'

**To Reproduce**
Steps(from the start) and commands to reproduce the behavior

**Screenshots**
`2021-03-18 21:15:35.987033: W tensorflow/stream_executor/platform/default/dso_loader.cc:60] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2021-03-18 21:15:35.98

[2021-03-18 17:56] DidierRLopes commented on #208
Perfect, will close this issue then.

I think that this is because your "pip" is pointing to a python with version 2.x rather than 3.x.

You should be able to check that with `pip --version` and `pip3 --version`. The first should tell you `(from python 2.x)` whereas the latter `(from python 3.x)`

[2021-03-18 17:56] #208 closed

[2021-03-18 17:58] DidierRLopes commented on #170
I have Mac myself and I do get that. However, my Mac is quite old and sometimes it reboots just for the sake of it, I guess it likes to nap sometimes. :)

I'm gonna close this issue. We have over 500 forks and haven't seen this issue, so this must be something with your setup or what you were trying to do. If you try again and it re-occurs, feel free to reopen this!

[2021-03-18 17:58] #170 closed

[2021-03-18 18:02] DidierRLopes commented on #88
I'm still learning about unit tests. And with the fast-paced of the terminal + full-time job, it's hard to find time to get  around it.

If you feel like this is needed, and have knowledge in this area. Feel free to do a PR against it, and we'll review it :)

We're prioritising features at the moment, but at some point we need to developer proper automation to make sure that regressions aren't int

[2021-03-18 18:08] DidierRLopes commented on #49
We're working towards achieving this. We still have to define a convention, but it's gradually improving. See https://github.com/DidierRLopes/GamestonkTerminal/pull/216

[2021-03-18 18:13] DidierRLopes commented on #16
I thought about this, and was thinking if this is really necessary?

My reasoning being,
1. This only impacts someone that wants to run the exact same model, on the exact same stock, on the exact same time frame. How many times does this happen?
2. You can save the matplotlib figure, and recall what were your conclusions.
3. If your model is taking so long to train that this is something you see a

[2021-03-18 18:18] DidierRLopes commented on #226
Hey,

I'm not familiar with this issue. @arcutright have you come across this before?

[2021-03-18 18:19] sabujp commented on #16
didn't check to see if we can change the epochs, if so will reduce and then see what difference it makes

[2021-03-18 19:23] sabirjana commented on #226
I tried on 2 different machine and ended up with same issue. In both case poetry was not able to install fbprophet so I used conda-forge to install fbprophet 0.6

[2021-03-18 19:26] jmaslek opened #228 "im"
![hold](https://user-images.githubusercontent.com/18151143/111685384-3c6ab080-87fe-11eb-80ce-9b256c396bf2.png)
![hist](https://user-images.githubusercontent.com/18151143/111685390-3d9bdd80-87fe-11eb-90f9-7ca8b0c1e7f8.png)

[2021-03-18 19:26] #228 closed

[2021-03-19 01:30] jmaslek commented on #228
![rhhist_fig](https://user-images.githubusercontent.com/18151143/111718919-36da8e00-8831-11eb-99e1-957c8eccb583.png)

[2021-03-19 02:36] arcutright commented on #226
Hmm, I also get this issue after pulling from main. Checking out feature/pred-xla-refactor and using python=3.6.8, it works for me. I will try to investigate where this is coming from.

[2021-03-19 04:54] arcutright commented on #226
You can fix this by force-installing the expected hdf5
[code]

@DidierRLopes:
Not sure how we can add this constraint to poetry because it keeps giving me `Could not find a matching version of package hdf5`. Also not sure why the commit mentioned above led to this change.

[2021-03-19 05:14] sabirjana commented on #226
Thank you for your prompt response!! I will try this and update accordingly.

[2021-03-19 05:15] djedu commented on #226
I came across the exact same issue on a Win10 machine running python 3.6.8.

Not sure if this helps, but managed to partially solve by switching to Python 3.7 (fbprophet was causing dependency issues on 3.6.8). I installed all dependencies with poetry, and all pred tools worked except fbprophet.

Unfortunately I've gone down a rabbit hole of trying tensorflow-gpu for CUDA acceleration and have los

[2021-03-19 07:25] gvikei opened #234 "[Bug] Missing fredapi from requirements files"
**Describe the bug**
`fredapi` is missing from `requirements-full.txt`, `requirements-old.txt` and `requirements-win.txt`

**To Reproduce**
1. Create a new conda environment, activate the environment.
2. Install fbprophet with conda
  `conda install -c conda-forge fbprophet=0.6`
  `conda install spyder`
  `conda install gensim=3.8.3`
3. `pip install --user --requirement requirements-full.txt`
4. `

[2021-03-19 12:31] sabirjana commented on #226
It worked!! after setting up env with python 3.7 and installing fbprophet==0.6 using conda-forge and hdf5==1.10.5 however faced issues with rnn and lstm
` (pred)> rnn
Cannot convert a symbolic Tensor (simple_rnn/strided_slice:0) to a numpy array. This error may indicate that you're trying to pass a Tensor to a NumPy call, which is not supported
Traceback (most recent call last):
  File "C:\Users\s

[2021-03-19 19:37] jmaslek commented on #234
So it should be in the poetry.lock  (install using the poetry install).  Otherwise it can just be installed with conda install/ pip install

@DidierRLopes should I still be updating the requirements.txt as well?

[2021-03-19 19:42] DidierRLopes commented on #234
Yea, I think it doesn't hurt :)

I'm guilty myself since I also forgot to add to the requirements.txt previously.

[2021-03-20 00:35] arcutright opened #236 "[Bug] Tensorflow models throw error on Python 3.7, 3.8"
Under python 3.6.8, I do not run into this issue.

Steps to reproduce:
[code]

[code]

This seems to be related to the pypi build of numpy, and is fixed by using the conda-forge version.

python=3.6.8
[code]

python=3.8.8
[code]

So for python=3.8.8, installing the correct numpy build fixes this issue. This should be added to the readme. (exact version is probably not important)
[code]

This fix h

[2021-03-20 00:36] arcutright commented on #226
This is a different issue related to python>=3.7, see #236. I managed to get python=3.8.8 working for gst there.

[2021-03-20 00:39] DidierRLopes commented on #236
Hey @arcutright thank you for not only pointing out the issue, but understanding the issue as well. Do you want to add a PR against the README and I'll accept and merge it :)

[2021-03-20 04:20] sabirjana commented on #226
So are you suggesting to have python 3.8.8 env and everything should work?

[2021-03-20 09:25] DidierRLopes commented on #226
Will close this based on @arcutright's PR. Have a look at #236 or the updated README install process

[2021-03-20 09:25] #226 closed

[2021-03-20 09:26] DidierRLopes commented on #236
Will close this based on your fix. thank you again! :)

[2021-03-20 09:26] #236 closed

[2021-03-20 14:51] Felixkruemel opened #240 "[FR] Enable averaging around multiple predictions"
**What's the problem of not having this feature?**
Predictive Models like LSTM will differ a lot between several runs. A command to let it run e.g. 10times and average the results would probably provide better results overall.
**Describe the solution you would like**
Just implement a way of specifying to run multiple runs of a single prediction model.

[2021-03-20 14:55] DidierRLopes commented on #240
This is a great idea! This way we can even provide the standard deviation around the average prediction, something along these lines:

<img width="548" alt="Captura de ecrã 2021-03-20, às 14 55 04" src="https://user-images.githubusercontent.com/25267873/111874263-47ebe200-898c-11eb-83fb-a2ddf56a339a.png">

[2021-03-20 15:06] Felixkruemel commented on #240
Exactly! Even for short term predictment that would work way better I guess. And since LSTM is pretty fast that should also be doable in a good timely manner.

And additionally it should not require too much new code as it should not be more than a simple loop and an average function.

[2021-03-20 15:11] DidierRLopes commented on #240
You're right, should have thought about it.

I'm a bit busy this weekend, but I'll try to get to it during the week and let you know in here when done. :)

[2021-03-20 15:28] Felixkruemel commented on #240
@DidierRLopes Whiele I'm thinking about it, could we somehow combine the sentiment analysis with an prediction algorithm? Maybe there is even one available somewhere.

Because better data quality is way more important than just better model

[2021-03-20 15:31] DidierRLopes commented on #240
That's a good idea, although more of a long term goal, I'd say.

Can you try to dig something that is worth giving a go, and I can have a look at it?

[2021-03-20 15:48] Felixkruemel commented on #240
@DidierRLopes
Have a look here:
https://www.thetechplatform.com/post/sentiment-analysis-for-stock-price-prediction-in-python
The chart on the bottom pretty much sums up that a positive sentiment will go to a positive stock continuation.

Can we feed the data of both into lstm? So like not only feed it with historical chart data but additionally with historical sentiment data. You can have a look h

[2021-03-20 15:59] DidierRLopes commented on #240
Nice!!

Instead of opening a new issue. Feel free to add these 2 ideas to the ROADMAP as PR! The 1st one in Short-term, this 2nd one in Long-term.

I've personally not worked with MISO NN so I'm quite keen in giving it a go. However, I feel like there are some other smaller tasks that have bigger priority. But I'll definitely get around this one.

Regarding that 1st link, I'm pretty sure our ba/se

[2021-03-20 16:29] Felixkruemel commented on #240
Just opened a PR :)

[2021-03-20 19:49] jmaslek commented on #234
close via #241  ?

[2021-03-20 21:37] pchaganti commented on #234
https://github.com/DidierRLopes/GamestonkTerminal/pull/243 @DidierRLopes @jmaslek

[2021-03-21 08:09] saintsupremacy commented on #211
I think i found a solution for now only because I played around with it. I had the same issue as you. follow the guide up to the point where it says "conda install poetry" once thats done youre going to want to "pip install -r requirements" once that is processed you might get something saying you need 'git' so then you type "conda install -c conda-forge git"  once thats all done you can now type

[2021-03-21 15:39] DidierRLopes commented on #234
Yes, closing this now :) cheers guys

[2021-03-21 15:39] #234 closed

[2021-03-21 19:34] noufal85 opened #248 "[IMPROVE] Improved handling of US Holidays"
**What's the feature that should be improved?**
US Holidays currently do not reflect actual holidays observed by NYSE , Also there is a difference in how New Year holiday is observed , and Good Friday holiday (which is not in the US holidays calendar)

**Describe how you would like the feature improved**
We should add a custom function that store few years worth of good Friday dates and custom cal

[2021-03-21 19:36] noufal85 commented on #248
#249

[2021-03-21 22:21] DidierRLopes commented on #222
Closing this issue based on comment provided.

[2021-03-21 22:21] #222 closed

[2021-03-22 02:41] DidierRLopes commented on #240
Just opened a PR for this. I think it looks really good.

I used the median values, and for confidence interval both 10 and 90% quantiles.

Let me know if you don't agree. But my reasoning is that if we iterate 10 times. And there are some outliers, the median is more robust against that. Whereas the average would take into account an outlier, and shift the prediction incorrectly.

The quantiles i

[2021-03-22 12:58] Felixkruemel commented on #240
@DidierRLopes This seems really nice!
The quantiles decision I think is pretty robust.

There may be other opinions, but I'm with you there. The result looks very nice!

[2021-03-22 13:08] karan2105 opened #256 "[IMPROVE] Loading Non US Stock Tickers"
**What's the feature that should be improved?**
I believe that changing the default source or adding a feature that allows for loading for non us tickers would massively help in the outreach of the terminal.

**Describe how you would like the feature improved**
When I try to load Indian stock tickers like SBIN , BAJAJFINSV , EICHERMOT it is unable to load the required data.

**Possibly describe th

[2021-03-22 15:03] hlchan-sg commented on #211
Hi Saint et al.

Sorry been away for a while.

Saint solution worked like a charm and it is the solution given by aia and cknig.

[2021-03-22 15:03] #211 closed

[2021-03-22 18:24] jmaslek commented on #228
![alphold_im](https://user-images.githubusercontent.com/18151143/112039340-536d1380-8b1a-11eb-99d1-44d1edd4d54a.png)

[2021-03-22 18:50] Felixkruemel opened #261 "[Bug] - Twitter sentiment spits out 'text' when no API keys exist"
**Describe the bug**
If you have no API keys inserted the result will be 'text'

**To Reproduce**
Just do a clean install without changing anything, load a stock, go into the ba menu and do sentiment analysis

**Screenshots**

![image](https://user-images.githubusercontent.com/12109804/112042567-f2f4cb00-8b47-11eb-8810-1b536c76bf90.png)

**Desktop (please complete the following information):**
 -

[2021-03-22 19:01] #248 closed

[2021-03-22 19:14] DidierRLopes commented on #256
This has been raised before, I thought Yahoo Finance was doing an ok job at it. I'll try to have a look at this, I agree with you, it doesn't make sense to be limited to US stocks. Thanks!

[2021-03-22 19:16] DidierRLopes commented on #261
Thanks for this! I'll have a look at it.

PS: Regarding the additional days when looking in the past, this was a design choice. And the reason why is that if you select 3 days in the past, you gather data from 3 days in the past + the current day so far :)

[2021-03-22 19:54] DidierRLopes commented on #240
Closing this since #252 implements this.

Example of backtesting + loops:

![ex1](https://user-images.githubusercontent.com/25267873/112049966-35b6a300-8b48-11eb-825d-88b2a7d1ee82.png)

![ex2](https://user-images.githubusercontent.com/25267873/112049969-37806680-8b48-11eb-83d7-942b3393fed3.png)

Clearly didn't try to tweak the model :)

PS: I'll create a README file on how to tune NN models

[2021-03-22 19:54] #240 closed

[2021-03-22 20:45] jmaslek commented on #261
Closing on #262 262

[2021-03-22 20:45] #261 closed

[2021-03-23 10:54] buzzCraft commented on #256
In my experience you need to add a .NS at the end of your ticker to load from NSE, so SBIN.NS should work

[2021-03-23 12:52] sabirjana opened #265 "How to update?[IMPROVE]"
**What's the feature that should be improved?**
I see there are frequent updates from you & team, what's the right way to update? As doing everything all over everything time is quite time-consuming. Thanks

**Describe how you would like the feature improved**
A description of what the current feature is vs what it would be after your suggestion.

**Possibly describe the ideal way to improve this*

[2021-03-23 15:01] hinxx commented on #265
I just did `git pull` inside the cloned folder. Then `git checkout <branch>` of choice if required.
That's it.
You might need to save the `gamestonk_terminal/config_terminal.py` or similar files with your local modifications before `git pull` succeeds.

[2021-03-24 04:35] sabirjana commented on #265
Thank you!

[2021-03-24 14:01] jmaslek commented on #265
Also make sure to install any new updates either from poetry or the requirements.txt

[2021-03-24 15:54] brunottonurb opened #271 "[FR] Add completion and other input usability features"
**What's the problem of not having this feature?**
I would consider myself handy with the shell, and find myself pressing tab and the arrow-keys when typing commands, and pressing the up-arrow to repeat a command with a small change. All of this does not lead to the expected behavior in GST.

**Describe the solution you would like**
It would be really cool if GST could support completion and using

[2021-03-24 15:56] brunottonurb commented on #271
I incorrectly selected the `new feature` label, but cannot change it to `enhancement`.

[2021-03-24 19:49] sigaloid commented on #265
Perhaps add this to readme as well?

[2021-03-24 21:50] jmaslek opened #272 "[FR] Add in options chain to option menu"
Based on discussion in #269, it would be dope to have an option to look at the option chains after you selected your expiry.

[2021-03-24 21:51] jmaslek commented on #272
@lolrenx

[2021-03-24 21:54] lolrenx commented on #272
Will be in the next options PR :)

[2021-03-24 21:55] DidierRLopes commented on #271
We already have this in place, you need to set the Feature Flag to True on the feature_flags.py file.

<img width="409" alt="Captura de ecrã 2021-03-24, às 21 54 40" src="https://user-images.githubusercontent.com/25267873/112388798-9cc08d00-8ceb-11eb-9e3f-2376309f894d.png">

[2021-03-24 21:56] DidierRLopes commented on #271
Let me know if that is what you mean :)

[2021-03-25 01:25] WyattLiu opened #274 "[Bug] Error out when backtesting"
**Describe the bug**
In Pred, once specifies backtesting date such as lstm -e 2021-03-23, it has KeyError:1980

**To Reproduce**
load AMD
pred AMD
lstm -e 2021-03-23

**Screenshots**
[code]
**Desktop (please complete the following information):**
 - OS:Ubuntu 18.04.5 LTS
 - Python 3.8.8

**Additional context**
N/A

[2021-03-25 01:39] jmaslek commented on #274
If you load the stock with a more recent start date, maybe load -t AMD -s 2015-01-01 does the pred work?

Looks like the key error is from a us holiday that year...

[2021-03-25 01:59] jmaslek commented on #274
You also will need to set the end date to I believe 5 days previous to today.

@DidierRLopes can confirm that.  And also we may need to relook at that PR involving dates (or just default maybe a couple years not all time under load)

[2021-03-25 02:09] WyattLiu commented on #274
confirming load with start date works -> at least meaningful debug msg is here:
[code]
Confirm back dial 5 market open days works.

Thank you, I hope this helps confused people like me.

May I ask why default load AMD without start date will not work? Should we have a default start date loaded like 1000 market days ago

[2021-03-25 02:44] jmaslek commented on #274
It seems that the default doesn't work due to some kind of holiday calendar. The key error seems to indicate the holiday error was in 1980.

We should probably set a default start load date.  Also if you are training a model such as lstm, more recent data should be used since market conditions change over time.

[2021-03-25 06:42] saintsupremacy opened #275 "[BUG] Some commands issue a line of text"
Reddit stock popular command seems to be finding zero stocks for everything but finding wsb posts is no problem. As mentioned though I get this line of text when I go into DD then type either "warnings" or "sec" "argument -h/--help: conflicting option strings: -h, --help" .Thats all the mishaps ive found for now. Maybe its on my end but just something that hasnt happen in previous versions.

I no

[2021-03-25 13:26] DidierRLopes commented on #274
@jmaslek is 100% correct. The PR he has created should fix the issue, thank you for reporting it, and thanks to @jmaslek  for reacting so quickly.

I'll close this now on that basis :)

[2021-03-25 13:26] #274 closed

[2021-03-25 13:30] DidierRLopes commented on #275
Thanks for this, regarding the last point the PR #277 should fix both of these. It was a silly mistake.

Let me have a further look to the popular command

[2021-03-25 21:36] DidierRLopes commented on #87
I'll close this as it has been addressed from #199 . Feel free to re-open it if you disagree

[2021-03-25 21:36] #87 closed

[2021-03-25 21:36] DidierRLopes commented on #271
Closing this because I believe this feature already exists. Feel free to reopen this ticket if you disagree

[2021-03-25 21:36] #271 closed

[2021-03-25 21:38] DidierRLopes commented on #16
Given our previous discussion, I'll close this ticket. Let me know if there's a clear action you'd like us to take, or feel free to open a PR against the roadmap instead

[2021-03-25 21:38] #16 closed

[2021-03-25 21:48] DidierRLopes commented on #62
I've added some of the ideas into the ROADMAP file. Feel free to create a PR against the Roadmap if you feel something from here is missing! Will close this for now

[2021-03-25 21:48] #62 closed

[2021-03-26 01:24] #275 closed

[2021-03-26 15:48] anthony-langford opened #282 "[Bug] Missing date column (FinViz) when running mill dd -t GME"
**Describe the bug**
Encountered an exception when generating a notebook report (mill dd) on GME. It seems the date column is missing from FinViz data.

**To Reproduce**
`mill`
`dd -t GME`

**Screenshots**
![image](https://user-images.githubusercontent.com/22820881/112657194-8d932980-8e28-11eb-86a8-45ba4b1ddc59.png)

**Desktop (please complete the following information):**
 - OS: Mac Big Sur 11.2.

[2021-03-26 18:15] jmaslek commented on #228
![doge_eur](https://user-images.githubusercontent.com/18151143/112675579-b83bad00-8e3d-11eb-87d9-db8d17896403.png)

[2021-03-26 19:33] brunottonurb commented on #271
Thanks @DidierRLopes this is what I meant.

[2021-03-26 20:01] DidierRLopes commented on #275
Should work now. Let me know @saintsupremacy  :)

[2021-03-26 20:44] jmaslek commented on #228
![doge_eur](https://user-images.githubusercontent.com/18151143/112690617-7832f500-8e52-11eb-84c4-253ab222a918.png)

[2021-03-27 05:11] saintsupremacy commented on #275
sorry for the late reply :p, it works! thank you.

[2021-03-27 16:06] michucz opened #286 "[Bug] Craches Tkinter.TclError"
**Describe the bug**
As in #221, crashes when trying to view a Ticker

**To Reproduce**
1. Follow Installation Instructions,
2. load Ticker,
3. try to view Ticker

**Screenshots**
N/A

**Desktop (please complete the following information):**
 - OS: Arch Linux
 - Python version: 3.8.8

**Additional context**
Full Terminal Output

[code]

I am using Arch Linux with i3gaps

[2021-03-27 17:12] aia commented on #286
Seems like this is something that i3gaps does https://bbs.archlinux.org/viewtopic.php?id=264333.

I open a PR to gracefully handle the exception.

[2021-03-27 18:51] #221 closed

[2021-03-27 18:51] #286 closed

[2021-03-27 18:51] #282 closed

[2021-03-28 15:33] michucz commented on #286
Apparently it was my font.
I use 'Hack Nerd Font' and after changing it to 'LiberationSans-Regular' in my .Xresources, i can view plots and candles charts.

[2021-03-30 01:54] Grothnar1337 opened #295 "[Bug] ModuleNotFoundError: No module named 'statsmodels'"
**Describe the bug**

When I run 'python terminal.py' from the Gamestonk Directory I get this error:

raceback (most recent call last):
  File "terminal.py", line 27, in <module>
    from gamestonk_terminal.exploratory_data_analysis import eda_controller
  File "/home/user/GamestonkTerminal/gamestonk_terminal/exploratory_data_analysis/eda_controller.py", line 9, in <module>
    from gamestonk_term

[2021-03-30 02:23] megadan21 opened #296 "[Bug] ModuleNotFound error upon installation"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps(from the start) and commands to reproduce the behavior

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. Mac Sierra]
 - Python version [e.g. 3.6.8]

**Additional context**
Add any other information that y

[2021-03-30 02:25] jmaslek commented on #295
If you do pip install statsmodels does that fix?

Looks like recent PR didn't update requirements.txt.  (Did you install from requirements.txt or poetry)?

[2021-03-30 02:25] megadan21 commented on #296
I followed all of the commands that was presented in the readme, but when I try to run the terminal, I get the error message: " ModuleNotFoundError: No module named 'statsmodels' ". I am on windows 10 using python version 4.9.2

[2021-03-30 02:27] jmaslek commented on #296
Try pip install statsmodels

Looks like it needs to be added to requirements.txt

[2021-03-30 03:56] megadan21 commented on #296
Worked! Thank you

[2021-03-30 03:56] #296 closed

[2021-03-30 04:19] Grothnar1337 commented on #295
that fixed the problem, I had to run that command for a few more dependencies as well that popped up.

I installed from poetry

[2021-03-30 05:30] #295 closed

[2021-03-30 20:07] brunottonurb opened #299 "[Bug] Unhandled Error when closing candle graph"
**Describe the bug**
When closing the candle graph with q or esc keys or by clicking to close, the application crashes.

**To Reproduce**
Use Ubuntu 20.04, start GST, `load IFNNY`, `candle`

**Screenshots**
-

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04.2 LTS
 - Python version 3.8.8/3.6.8
 - AMD Ryzen 4750u

**Additional context**
[code]

[2021-03-30 20:26] aia commented on #299
Does this help?

https://github.com/DidierRLopes/GamestonkTerminal/pull/300

[2021-03-30 20:37] brunottonurb commented on #299
#300 fixes it!

[2021-03-30 20:37] #299 closed

[2021-03-31 10:19] hubertdepsv opened #302 "Install issue - required packages installation"
As requested in the read me if having an issue with importing statsmodel (and actually other packages):

(gst) C:\Users\hp98\GamestonkTerminal>python terminal.py
Traceback (most recent call last):
  File "terminal.py", line 30, in <module>
    from gamestonk_terminal.residuals_analysis import ra_controller
  File "C:\Users\hp98\GamestonkTerminal\gamestonk_terminal\residuals_analysis\ra_controller.

[2021-03-31 12:47] jmaslek commented on #302
So I found an issue in pmdarima (https://github.com/alkaline-ml/pmdarima/issues/375) and I also see you did conda install for that.

In order to install properly you should use pip install not conda install.

Let me know if that works. If not, just try pip installing requirements.txt.

[2021-03-31 14:45] hubertdepsv commented on #302
Hi!
Thanks for your answer!

Why should I use pip instead of conda?

I tried to uninstall both statsmodels and pmdarima to reinstall them with pip - uninstalling statsmodels worked but when trying to reinstall it I got an error and uninstalling pmdarima did not even work.

I'm going to remove the whole virtual environment to try everything again.

[2021-03-31 15:50] jmaslek commented on #302
At least for the pmdarima (as mentioned in the thread I referenced above) -- someone else put the package on conda, so it is not up to date.  Their official one is through pypi (pip).  So that is why they say to use pip.

I have found that using `poetry install` just gives the easiest install

[2021-03-31 16:34] #302 closed

[2021-04-01 13:29] ChristopherJohnson25 commented on #96
This would be epic. Any progress? Would love to hit this from a frontend.

[2021-04-02 11:33] DidierRLopes commented on #96
Not yet, we are still adding features + refactoring code for the time being. Slowly and steady we'll get there :)

[2021-04-03 22:52] peter-clemenko commented on #96
Make sure you can dump output to a file. Would be killer combined with elasticsearch

[2021-04-03 22:53] peter-clemenko commented on #96
Dumping  to file and possibly elastic would be a killer feature as well. Being able to run it programmatically and dump to file and ES would empower a lot of options.

[2021-04-05 21:29] DidierRLopes commented on #66
@saintsupremacy @noahkuhn took a bit longer than intended but finally managed to get around this. See #314

Let me know if you feel like that menu should have something else!

I'll close this issue for now

[2021-04-05 21:29] #66 closed

[2021-04-05 22:04] noahkuhn commented on #66
Just outstanding, thank you, I am super impressed.

[2021-04-05 22:23] DidierRLopes commented on #66
Amazing, happy you like it!

Feel free to add a nice preset in here https://github.com/DidierRLopes/GamestonkTerminal/tree/screener-menu/gamestonk_terminal/screener/presets :)

[2021-04-08 01:31] WyattLiu opened #321 "Yahoo daily API is going to be a history"
Hi There,

I just found out this on the website:
https://developer.yahoo.com/api/
"On approximately May 1, 2021, the free Yahoo Weather API will be retired and will cease to function. Unfortunately, we will not be offering a replacement API, and there will be no paid alternative."

May I ask what would be the second-best API we should buy and could we have more detailed instructions on what to do?

[2021-04-08 01:38] jmaslek commented on #321
That's just the weather one.

Yahoo finance (yfinance) is a third party api

[2021-04-08 01:40] WyattLiu commented on #321
Oh, I was stupid. Thank you!

[2021-04-08 01:40] #321 closed

[2021-04-08 04:28] WyattLiu opened #322 "[FR] Use CPU only"
**What's the problem of not having this feature?**
GPU VRAM is limited in some cases so I need to hotswap to CPU

**Describe the solution you would like**
import os
os.environ["CUDA_VISIBLE_DEVICES"] = "-1"

in cmd: we could have like lstm --force_tf_cpu to turn that switch, default is using CUDA where needed.

**Describe alternatives you've considered**
I am able to set that in the shell, I even

[2021-04-09 22:14] gergi opened #325 "[Bug]"
**Describe the bug**
Install instructions do not cover required modules.

**To Reproduce**
Steps(from the start) and commands to reproduce the behavior
1. Install Anaconda
1. Verify `conda -V` : _conda 4.9.2_
1. `conda create -n gst python=3.6.8`
1. `conda activate gst`
1. `git clone https://github.com/DidierRLopes/GamestonkTerminal.git`
1. `cd GamestonkTerminal/`
1. `conda install poetry`
1. `poe

[2021-04-09 22:35] jmaslek commented on #325
Look at #302.

pmdarima has to be installed through pip.

[2021-04-11 01:04] DidierRLopes commented on #265
#327 should take care of this. Closing this ticket

[2021-04-11 01:04] #265 closed

[2021-04-11 01:05] DidierRLopes commented on #325
#327 makes this more specific on the README. Hence, closing this ticket

[2021-04-11 01:05] #325 closed

[2021-04-11 01:06] DidierRLopes commented on #256
#327 should take care of the broken `view` in case of Indian stocks.

Also, I added a note that for Indian stocks one must use `.NS` at the end. Thanks for the tip @buzzCraft

Closing this ticket

[2021-04-11 01:06] #256 closed

[2021-04-11 15:50] Amar1729 opened #328 "[BUG] macOS Installation without Conda"
Not exactly a bug, but working steps to build this on macOS without Conda. Sorry if this is in the wrong place - just thought it could be useful for others. This may be out of scope, but would you accept a PR for another mac github workflow that tested this project without using conda?

#### Without ML
There are a few homebrew packages required to install several of the python modules, since not a

[2021-04-11 19:09] MLNW commented on #224
Good idea! I recommend this model: https://c4model.com/

[2021-04-12 00:35] blacktide082 opened #330 "[Bug] Mentions don't show properly after viewing RTP Sectors"
**Describe the bug**

When trying to view the `ba` > `mentions` command, it does not show properly if the last command viewed was `disc` > `rtp_sectors`.

**To Reproduce**

- Load any ticker: `load -t GME`
- Enter command `disc`
- Enter command `rtp_sectors`
- Quit disc - `q`
- Enter command `ba`
- Enter command `mentions`

**Screenshots**

This is the chart that is displayed after following these

[2021-04-12 05:37] aia commented on #328
Dependencies and multiple ways of managing them is by far the most problematic part of the Python experience for users.

We made a very deliberate choice of committing only to Anaconda support on Windows and Mac. Anaconda allows to install and configure advanced python packages without having a C compiler or libraries installed. Anaconda is the most widely used Python distribution in data science

[2021-04-12 11:59] DidierRLopes commented on #330
Thank you for reporting this. #334 should fix this

[2021-04-12 14:54] Amar1729 commented on #328
Yeah, that's a fair reasoning, thanks for the explanation. Thought I'd post the things I needed here in the small chance they were useful to others but no worries if not. Thanks for the work on this project!

[2021-04-12 14:54] #328 closed

[2021-04-12 17:34] #330 closed

[2021-04-12 22:24] DidierRLopes commented on #210
Hey @ilDon,

Thanks for the feedback, and sorry for taking so long to work on this.

#335 adds a feature flag around fbprophet, so that you use it in case you set that flag to true. That should take care of this.

[2021-04-13 11:43] arisliang opened #340 "[Bug] ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied"
**Describe the bug**
Installation error when running `poetry install`

**To Reproduce**
Follow official installation steps in README. The error occurred when running `poetry install`

**Screenshots**
![image](https://user-images.githubusercontent.com/1115503/114547040-7f4e6580-9c90-11eb-84c7-540a65530579.png)

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Python ver

[2021-04-13 16:43] #210 closed

[2021-04-13 17:28] aia commented on #340
On Windows follow these steps:

https://github.com/DidierRLopes/GamestonkTerminal/runs/2335554055

[2021-04-14 14:30] healsabra opened #343 "[IMPROVE]"
Add Interactive Brokers as new broker, i think is one of the most brokers used in europe
They have their own api to connect it

[2021-04-14 15:51] jmaslek commented on #228
![pie_chart_ret1](https://user-images.githubusercontent.com/18151143/114740289-b9167f00-9d17-11eb-9c29-470785b21d09.png)
![Screen Shot 2021-04-14 at 11 44 31 AM](https://user-images.githubusercontent.com/18151143/114740311-bd429c80-9d17-11eb-90e2-97430781431a.png)

[2021-04-14 17:05] aia commented on #343
Interactive Brokers is one of the oldest broker-dealers that offers API access.

I am not aware of free access APIs offered by Interactive Brokers and support for paid API features takes a lower priority.

[2021-04-14 17:11] jmaslek commented on #343
Are these not free?

https://www.interactivebrokers.com/en/index.php?f=5041

[2021-04-14 17:22] aia commented on #343
These require an interactive brokers account and an interactive brokers account requires a minimum balance and a monthly fee.

[2021-04-14 19:29] austenmyers opened #346 "[FR] Prediction Models Accuracy or F-Score metrics?"
We cannot compare the prediction models for our different use cases unless we have some sort of scoring metric for each.

This will improve the prediction piece of the project tremendously imho.

- A

[2021-04-14 21:28] DidierRLopes commented on #346
You mean like we have implemented for the Neural Network models?

E.g.
![](https://user-images.githubusercontent.com/25267873/111053158-420c7300-8459-11eb-993b-6d9c26f98af9.png)

[2021-04-15 17:48] sabirjana opened #348 "[Bug] pyportfolioopt dependency cvxpy breaks numpy 1.19"
**Describe the bug**
I updated the terminal and it stopped working.

**To Reproduce**
Steps(from the start) and commands to reproduce the behavior

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Python 3.8

**Additional context**
Add any other information that you think could be useful for us.

[2021-04-15 18:14] jmaslek commented on #348
Does pip install -U numpy fix it?

[2021-04-16 18:26] jmaslek commented on #228
![Screen Shot 2021-04-16 at 2 20 23 PM](https://user-images.githubusercontent.com/18151143/115068041-b191da00-9ebf-11eb-941e-4e255787ab94.png)

[2021-04-17 16:45] zakiaziz commented on #295
I just installed today and still having this issue. I'm able to fix it via `pip install <package_name>` but seems like this issue should still be open.

[2021-04-17 16:59] DidierRLopes commented on #295
@zakiaziz  thanks for feedback. I think #358 should fix this now

[2021-04-17 20:01] hinxx opened #362 "[FR] Add failure to deliver information"
**What's the problem of not having this feature?**

I have not found information about the stock's failure to deliver (FDT) reports from https://www.sec.gov/data/foiadocsfailsdatahtm. Is it already in the tool?

**Describe the solution you would like**

Add a command to show the current FDT status of a loaded ticker (in dd menu?).
Maybe show some history as well (i.e. last 5 months == 10 rows of d

[2021-04-17 20:53] DidierRLopes commented on #362
![25a](https://user-images.githubusercontent.com/25267873/115126470-1be17200-9fc7-11eb-83a4-badc06dfe392.jpg)

Let's do it! Sounds great!!

[2021-04-17 21:31] hinxx commented on #362
Never enough memes :rofl:

[2021-04-18 17:51] Deel18 opened #364 "[IMPROVE] Adding Degiro as a broker"
Hi!

Kinda new to open source so please let me know if I need to submit this differently.

I've been working on adding support for Degiro as a broker for myself through the terminal, so far I've implemented regular login and also 2FA and also a command to see your current portfolio and current cash holding. Nothing fancy so far, but figured I would ask if there is some interest for me to develop t

[2021-04-18 18:14] jmaslek commented on #364
Feel free to make it a PR!

Definitely open to as many brokers as people are willing to contribute!

[2021-04-18 19:11] DidierRLopes commented on #364
Yess @Deel18 !

We are always keen on new contributions!

Also, I think across the maintainers none of us has a degiro account, so it would be great if you could work on this feature! A lot of people would appreciate such!

Same goes for adding Avanza :)

[2021-04-18 21:34] Deel18 commented on #364
Awesome! I'll get right on it then! :)

[2021-04-18 22:06] DidierRLopes commented on #364
Super, we have a discord chat now. Feel free to pop in there if you have any questions or want to discuss implementation :)

[2021-04-19 08:45] #362 closed

[2021-04-19 08:59] hinxx commented on #364
I'm using degiro and looking into using avanza for my todler hodler's investments :gem:. Looking forward to the PR! :+1:

[2021-04-19 16:08] pchaganti commented on #272
This looks like it has been merged. Close this issue?

[2021-04-19 16:25] #272 closed

[2021-04-19 16:25] jmaslek commented on #272
Closed on #351

[2021-04-19 16:39] pchaganti opened #368 "[FR]Implied Volatility rank and percentile"
**What's the problem of not having this feature?**
One of the things that is really nice in the better options apps is the ability to get IV rank and percentile info for tickers. This is quite useful to see how current IV for options compares to historical volatility.

**Describe the solution you would like**
Maybe an additional menu option to display this info for a loaded ticker if we are in the

[2021-04-19 17:16] jmaslek commented on #228
![Screen Shot 2021-04-19 at 1 15 06 PM](https://user-images.githubusercontent.com/18151143/115276719-640cab80-a111-11eb-84a2-4dc6a1685946.png)

[2021-04-19 18:17] Deel18 commented on #364
@DidierRLopes
Seems like the Discord link is invalid or I need an invite. Could you please renew it or send me an invite? :)

[2021-04-19 19:14] partoneoftwo commented on #198
Installed this on a vanilla Ubuntu 2004 with Python3 virtual environment.
I can confirm, this error hit me too. The Papermill failed to spawn a Jupyter Notebook session.

The stopgap measure solution, which this thread suggested, was just to run a Jupyter Notebook session separately and manually. It lets me as a user consume the output of the Papermill. However it doesn't permanently fix this issu

[2021-04-19 21:00] aia commented on #340
assuming this is resolved.

[2021-04-19 21:00] #340 closed

[2021-04-19 23:18] aia commented on #348
This is the following issue: https://github.com/cvxgrp/cvxpy/issues/1229

We need to downgrade the pyportfolioopt to get to cvxpy version 1.1.7.

cvxpy 1.1.7 is the last version that supports numpy 1.19.

In the mean time

[code]

[2021-04-19 23:48] aia commented on #348
CI gets the same error - https://github.com/DidierRLopes/GamestonkTerminal/pull/371/checks?check_run_id=2385831398

[2021-04-20 00:11] aia commented on #348
cvxpy is a terrible library from what I am seeing

[2021-04-20 00:31] jmaslek commented on #348
I am in the process of doing custom optimizations and I think I can do that in scipy.  So I can try to remove that dependency in the next week or so.

[2021-04-20 01:15] jmaslek commented on #364
https://discord.gg/cC2KNt4B

[2021-04-20 02:46] aia commented on #348
I use straight scipy too. Understanding of your returns, adjustments and constraints is far more important than an optimizer.

[2021-04-20 03:18] aia commented on #348
[code]
is the solution

[2021-04-20 03:19] aia commented on #348
Oh, and if you are on Windows and not on conda - get on conda.

[2021-04-20 11:33] partoneoftwo opened #373 "[IMPROVE] Add Binance API access to price feed"
[IMPROVE] As a user it would be valuable to access the data available through Binance API.

[2021-04-20 11:36] partoneoftwo opened #374 "[IMPROVE] Add more Crypto Currency assets"
**What's the feature that should be improved?**
As a trader with diamond hands I would like to use GamestonkTerminal to analyze my porfolio of invested crypto assets.
I tried to look for my the crypto assets I have invested in, using this application and it could not resolve the crypto asset codes.

**Describe how you would like the feature improved**
In the altcoin world many new assets pop up we

[2021-04-20 17:30] #348 closed

[2021-04-20 18:00] jmaslek commented on #374
Are you using RH for crypto?  I currently have it to get stocks only (no crypto or options), so I can open an issue for that specifically.

As for other API's like you referenced, I don't see why we couldn't look into some of those (or if you are familiar at all?)

[2021-04-20 19:39] jmaslek commented on #228
![Screen Shot 2021-04-20 at 3 38 21 PM](https://user-images.githubusercontent.com/18151143/115454305-a48e2700-a1ee-11eb-82fa-68700dc714c8.png)

[2021-04-20 19:41] jmaslek commented on #228
![Screen Shot 2021-04-20 at 3 41 23 PM](https://user-images.githubusercontent.com/18151143/115454584-efa83a00-a1ee-11eb-9d0f-2558ffa31579.png)

[2021-04-20 20:24] austenmyers commented on #346
Thanks @DidierRLopes I didn't notice this in the code, what method did you call for the above screenshot?
I was merely using the pred -> one of the models and passing a ticker to see preds, but didn't see the function for displaying the model scoring metrics for the historical.

[2021-04-21 00:03] jmaslek commented on #368
How does #375 address this?

[2021-04-21 01:36] pchaganti commented on #368
Works great! Looks awesome!

thanks!

<img width="416" alt="ivrank" src="https://user-images.githubusercontent.com/6500/115484243-76293f80-a220-11eb-83dc-22995b197223.png">

[2021-04-21 01:36] #368 closed

[2021-04-21 01:45] jmaslek commented on #368
No problem!  Thanks for the suggestion!

As an aside was the selenium part straightforward?

[2021-04-21 02:03] pchaganti commented on #368
Quite simple.

- pip install selenium
- download chrome driver from google https://sites.google.com/a/chromium.org/chromedriver/downloads
- put it in the PATH and update config_terminal.py

[2021-04-21 16:16] jmaslek commented on #228
![Screen Shot 2021-04-21 at 12 15 22 PM](https://user-images.githubusercontent.com/18151143/115587223-6bf85700-a29b-11eb-9d96-cb4239b7c2d0.png)

[2021-04-21 20:05] DidierRLopes commented on #346
This one is only used for Neural Networks!

Do you think the other prediction models should also have these?

[2021-04-21 20:21] jmaslek commented on #374
How does #378 address this?

[2021-04-22 04:19] usaxena opened #379 "[IMPROVE] Provide a score based off fundamentals"
Here's a library that does something similar - https://github.com/astro30/valinvest

[2021-04-22 09:31] DidierRLopes commented on #379
Nice library. I'll take care of this either today or tomorrow :)

[2021-04-22 15:57] austenmyers commented on #346
Yeah I think it is interesting to see the model metrics for any kind of predictive model personally

[2021-04-22 16:02] peter-clemenko opened #382 "[FR] non interactive mode"
**What's the problem of not having this feature?**
Having a non interactive mode that lets you just run a command and dump to stdout would help with scripting using the terminal as a data source

**Describe the solution you would like**
Add a non interactive execution mode that just lets me one and done a command

**Describe alternatives you've considered**
A websocket server could also help, but

[2021-04-22 19:41] DidierRLopes commented on #382
Hey @peter-clemenko ,

Do you mean when a plot pops up?

The `plt.ion()`?

[2021-04-22 23:12] DidierRLopes commented on #379
Closing because #383 implements this :)

[2021-04-22 23:12] #379 closed

[2021-04-22 23:45] DidierRLopes commented on #346
Sounds good, I'll try to work on this soon!

[2021-04-23 12:29] peter-clemenko commented on #382
Negative, I mean I want to be able to do a one liner and run it like a standard command like cat or ls.

[2021-04-23 12:54] hinxx commented on #382
I guess OP is after executing several commands like in a script. Or chaining the commands like:
[code]
I tried that myself the other day and it does not work. Maybe one could use `expect` to do this on Linux?

On Linux using local unix socket would be simpler, I guess. Upgrading that idea to using TCP socket might be something that would work for all OSes and even allow remote control of GST. The

[2021-04-23 13:23] peter-clemenko commented on #382
Damn straight. I'm less interested in the images and more interested in pulling raw data. I'll handle dataviz on my end, I just want to use this as a means to pull data in a centralized way.

[2021-04-23 16:47] aia commented on #382
Take a look at the papermill menu and Jupyter notebook integration examples:
https://github.com/DidierRLopes/GamestonkTerminal/blob/main/notebooks/templates/due_diligence.ipynb

The terminal will run papermill for you, but you can run papermill yourself.

To accomplish what you are looking to do

1. Create a Jupyter notebook with logic that you want
2. Write data in the format that you like in you

[2021-04-24 02:35] peter-clemenko commented on #382
That's interesting, any chance gst can be put on pip?

[2021-04-24 02:44] sidguez opened #389 "Error on installation • Installing scs (2.1.3): Failed"
when runing _poetry install_ i get this error : [https://pastebin.com/Hhss4GTU](https://pastebin.com/Hhss4GTU)
thanks for your help.
i'm using ubuntu 20.04 LTS.

[2021-04-24 02:48] jmaslek commented on #389
I can't seem to open the image you linked

[2021-04-24 04:14] aia commented on #389
Compiler on your system is having a problem:

[code]

[2021-04-24 04:15] aia commented on #389
Take a look at how the build does it

https://github.com/DidierRLopes/GamestonkTerminal/runs/2424128238

[2021-04-24 04:18] aia commented on #382
We are working towards a pypi release.

Here's our roadmap - https://github.com/DidierRLopes/GamestonkTerminal/blob/main/ROADMAP.md.

We are finishing an MVC refactoring, publishing a docker container, adding several developer and backend features.

[2021-04-24 05:01] kubus6983 opened #390 "[ERROR] after install "import yfinance as yf" "ModuleNotFoundError: No module named 'yfinance'""
Followed install process to a t - receive this error when attempting to launch terminal.

(gst) C:\Users\polsk>cd GameStonkTerminal/

(gst) C:\Users\polsk\GamestonkTerminal>python terminal.py
Traceback (most recent call last):
  File "terminal.py", line 9, in <module>
    import yfinance as yf
ModuleNotFoundError: No module named 'yfinance'

(gst) C:\Users\polsk\GamestonkTerminal>

[2021-04-24 12:00] jmaslek commented on #390
So to fix this you run `pip install yfinance`

Poetry does all the installs so this error means you likely need to do `poetry install`

[2021-04-24 18:57] aia commented on #390
Make sure you are running poetry install in the GamestonkTerminal directory.

Here's how it should look like:
https://github.com/DidierRLopes/GamestonkTerminal/runs/2427205538?check_suite_focus=true

[2021-04-24 19:34] SW386 opened #393 "[Bug] Poetry Install Issue"
I am having an issue install fbprophet using poetry install -E prediction
This is my computer output:

  • Installing fbprophet (0.6): Failed

  EnvCommandError

  Command ['/Users/Shufan/opt/anaconda3/envs/foss_terminal/bin/pip', 'install', '--no-deps', 'file:///Users/Shufan/Library/Caches/pypoetry/artifacts/38/a1/e8/f1fb6256459d92553a2e07843275619bc77130ffb28b96c4b6edb7a34a/fbprophet-0.6.tar.gz'

[2021-04-24 20:19] aia commented on #393
You want to install fbprophet with conda before running poetry like so:

https://github.com/DidierRLopes/GamestonkTerminal/runs/2427205238?check_suite_focus=true

[2021-04-25 00:55] jmfc01 commented on #390
If it continues to need items installed after yfinance, check that you have the latest and greatest c++ . I got hung up there and was quickly frustrated. Check this link to update. https://docs.microsoft.com/en-us/answers/questions/136595/error-microsoft-visual-c-140-or-greater-is-require.html

[2021-04-25 12:10] DidierRLopes commented on #364
Closing this due to #381 ! Nice job @Deel18

[2021-04-25 12:10] #364 closed

[2021-04-25 12:56] DidierRLopes commented on #389
@sidguez can you see if this solves it: https://github.com/DidierRLopes/GamestonkTerminal/blob/main/TROUBLESHOOT.md

[2021-04-25 12:57] DidierRLopes commented on #390
I've added some common issues to this page:
https://github.com/DidierRLopes/GamestonkTerminal/blob/main/TROUBLESHOOT.md

Will close this issue. Let us know if you still have issues that aren't mentioned in this page

[2021-04-25 12:57] #390 closed

[2021-04-25 12:58] DidierRLopes commented on #393
Have a look at https://github.com/DidierRLopes/GamestonkTerminal/blob/main/TROUBLESHOOT.md.

Closing this issue for now. Feel free to re-open it if you couldn't solve it.

[2021-04-25 12:58] #393 closed

[2021-04-25 18:07] kierzenka commented on #373
What data specifically do you think would be useful that isn't there?

[2021-04-26 02:49] spartan737 opened #402 "[Bug] Options max pain"
GME max pain for 30/04/2021 is $420, but from SwaggyStocks, its only $155. TSLA is $800 here, $720 in SwaggyStocks. NIO max pain is almost similar to SwaggyStocks ($37.5 vs $38), SPY very similar ($410 vs $415). Please check it out. Thanks

[2021-04-26 09:34] peter-clemenko commented on #374
CCXT might help with this

[2021-04-26 12:15] desivanrintel commented on #389
Running setup.py install for scs ... error

[2021-04-26 13:38] hinxx commented on #389
@sidguez seems like your anaconda wants to run on python3.6. It just happens that it fails for me, too, when using python3.6 as well, I can see the error:
[code]
`scs` seems to crave for python3.7 or newer.

[2021-04-26 14:01] desivanrintel commented on #389
for reference: it was apparently a macos problem linked to xcode.  I followed the following solution & it worked out https://apple.stackexchange.com/questions/254380/why-am-i-getting-an-invalid-active-developer-path-when-attempting-to-use-git-a

[2021-04-27 03:44] sidguez commented on #389
thank you all for your answers.
I have fixed it 3 days ago by running `conda install -c conda-forge fbprophet numpy=1.19.5 hdf5=1.10.5` and then continue the install by `poetry install`

[2021-04-27 03:44] #389 closed

[2021-04-27 18:21] jmaslek opened #408 "[Bug] Fidelity top orders raises Index Error"
**Describe the bug**
Running disc -> Orders gives an error at fidelity
`line 45, in get_orders
    l_orders_vals.append(an_order.contents[1])
IndexError: list index out of range`

**To Reproduce**
disc -> orders

[2021-04-27 18:31] jmaslek commented on #408
This actually seems to be something on the top orders.  As of 230 EST, the fourth stock on there is `MMEDF`.  IF you hover over it to try to get price, it says:

[2021-04-27 19:23] Davidson-Mike opened #409 "[Bug] Error generating notebook DD"
**Describe the bug**
[code]

**To Reproduce**
[code]

**Desktop (please complete the following information):**
 - OS: Windows
 - Python version 3.6.8

[2021-04-27 20:39] jmaslek commented on #402
Closed #407

[2021-04-27 20:39] #402 closed

[2021-04-27 20:55] jmaslek commented on #408
Closed #407

[2021-04-27 20:55] #408 closed

[2021-04-27 21:18] jmaslek commented on #409
If you look at the market watch page: (https://www.marketwatch.com/investing/stock/hyln/financials )  They don't have any financials there...  We can probably try catching an empty list @DidierRLopes

[2021-04-28 00:27] jmaslek commented on #409
Closed #410

[2021-04-28 00:27] #409 closed

[2021-04-28 03:21] FrankHu-RDS opened #411 "[Bug] Regarding Discord Links"
**Describe the bug**
It looks like when you click the discord buttons in the README, it sends you here:
https://camo.githubusercontent.com/1f267821594e4cc9a753e460a3750fec544f1d4a6d6a91f2fcc5ebaaf33adf05/68747470733a2f2f646973636f72646170702e636f6d2f6170692f6775696c64732f3833313136353738323735303738393637322f7769646765742e706e673f7374796c653d736869656c64
https://camo.githubusercontent.com/9a28b7ae

[2021-04-28 14:52] Soda-City-PoGo commented on #411
i have many questions, i would like to join this discord 💯 plx fix link for simple ape.

[2021-04-28 15:10] ip151515 opened #412 "[Bug] Failing to install pyportfolioopt"
I can't get the terminal to run because it says pypfopt module is missing.
For the other modules missing I used pip install (nameofthemodule), but for pypoft I get this
![image](https://user-images.githubusercontent.com/83357670/116427620-78088980-a844-11eb-8231-1ec4340c7a8b.png)

Sorry if anyhing's not clear but I'm no expert.

[2021-04-28 15:30] jmaslek commented on #412
So check out the troubleshooting : https://github.com/DidierRLopes/GamestonkTerminal/blob/main/TROUBLESHOOT.md

That seems consistent with folks that have had to install updated C++.

[2021-04-28 15:31] alokan commented on #412
https://pypi.org/project/pyportfolioopt/

Under getting started it has a download link for c++ in a note. It says you need to install that first for pyportfolioopt to work on windows. Have you tried that?

[2021-04-28 15:32] jmaslek commented on #411
Noted.  The link will be in a PR soon.

https://discord.gg/Up2QGbMKHY

[2021-04-28 15:48] ip151515 commented on #412
Thank you for your answers, I did install c++ Visual Build tools but I keep getting the same error

[2021-04-28 23:46] alokan commented on #412
Can you get scs installed through conda or poetry?

[2021-04-29 00:20] ip151515 commented on #412
Thank you, it worked.
I went on installing modules and now I'm stuck with the coinmarketcapapi one.
I installed more than one version of the coin market cap api but I'm still getting the error.

[2021-04-29 00:23] #412 closed

[2021-04-29 00:25] alokan commented on #412
pip install python-coinmarketcap
Should be the right one. It's a different name from what shows up in the error.

[2021-04-30 16:16] arisliang opened #416 "[Bug] "crypto -> top" error: This API key is invalid"
**Describe the bug**

Unable to run crypto -> top command, an error is given:

**To Reproduce**
1. crypto
2. top

**Screenshots**
![image](https://user-images.githubusercontent.com/1115503/116723375-0a11bd00-aa12-11eb-84af-a3e321c604e9.png)

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - Python version: 3.6.13

**Additional context**
Do I need to specify the API ke

[2021-04-30 16:19] jmaslek commented on #416
Yes its necessary (hence why you get that the API key is invalid).  I will update the list

[2021-04-30 16:40] arisliang opened #417 "[Bug] fx> summary command error: Insufficient authorization to perform request"
**Describe the bug**
A clear and concise description of what the bug is.
I've added my oanda API key to GT_OANDA_TOKEN and GT_OANDA_ACCOUNT in .env file, but got error "Insufficient authorization to perform request" when running "fx" -> "summary"

**To Reproduce**
Steps(from the start) and commands to reproduce the behavior
1. Added oanda API key to GT_OANDA_TOKEN and GT_OANDA_ACCOUNT in .env file

[2021-04-30 16:49] alokan commented on #417
Are you sure the account number and keys were added correctly?

[2021-04-30 20:36] jmaslek commented on #411
Correct link added in #415

[2021-04-30 20:36] #411 closed

[2021-05-01 02:07] arisliang opened #419 "[Bug] "ba" -> "wsb" error: invalid_grant error processing request"
**Describe the bug**
After setting up reddit keys, unable to open "ba" -> "wsb", it gives error:

**To Reproduce**
Steps(from the start) and commands to reproduce the behavior
1. setting up reddit keys: `GT_API_REDDIT_CLIENT_ID`, `GT_API_REDDIT_CLIENT_SECRET`, `GT_API_REDDIT_USERNAME`, `GT_API_REDDIT_USER_AGENT`
2. load any ticker, e.g. MSFT
3. ba
4. wsb
5. error: invalid_grant error processing re